{% with 'edit_'|add:menuitem|slugify|add:'_form' as form_id %}
<div class="ui modal coupled_{{ menuitem|slugify }} edit_{{ menuitem|slugify }}">
    <div class="header">
        Edit {{ menuitem|slugify }}
    </div>

    <div class="scrolling content">
        <h4 class="ui horizontal divider header">
            <i class="info circle icon"></i>
            Main Information
        </h4>
        <form action="" id="{{ form_id }}" class="ui form" method="POST" novalidate>
            {% include menuitem_data.template_dir|add:'/form.html' %}
        </form>
    </div>

    <div class="actions">

        <button class="ui large red button delete_{{ menuitem|slugify }}">Delete</button>
        <button type="submit" form="{{ form_id }}" class="ui large right labeled icon green button">Update
            <i class="checkmark icon"></i></button>
        <div class="ui black deny large button">Cancel</div>

    </div>
</div>
{% endwith %}

<div class="ui tiny modal coupled_{{ menuitem|slugify }} delete_{{ menuitem|slugify }}">
    <div class="header">
        Delete
    </div>

    <div class="content">
        <p></p>
        <form id="delete_{{ menuitem|slugify }}_form" action="" method="POST">
            {% csrf_token %}
        </form>
    </div>
    <div class="actions">

        <div class="ui submit green deny large button">No</div>

        <button type="submit" form="delete_{{ menuitem|slugify }}_form"
            class="ui negative right labeled icon large button">Yes<i class="checkmark icon"></i></button>
    </div>
</div>