<form>

    {% comment %}The add a new skill Accordian starts here!{% endcomment %}
	
    <div class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;">
        
            <div class="field">
                <label>Lab</label>
                <select class="ui search fluid dropdown">
                    <option value="">lab</option>
                    <option value="fest1">lab #1</option>
                    <option value="fest2">lab #2</option>
                    <option value="fest3">lab #3</option>
                    <option value="Others">lab #4</option>
                </select>
            </div>
			
			
        <div class="ui header">
           Date and Time
        </div>
		<div class="two fields">
                    <div class="field">
                        <label>From</label>
                        <div class="ui calendar" id="rangestart">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="datetime-local" placeholder="from">
                            </div>
                        </div>
                    </div>
					
					<div class="field">
                        <label>To</label>
                        <div class="ui calendar" id="rangeend">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="datetime-local" placeholder="to">
                            </div>
                        </div>
                    </div>
		</div>

        <div class="field">
            <button class="ui primary button right floated" type="submit">
                Submit
            </button>
        </div>
    </div>
</form>

<br>
<br>
<div class="ui divider"></div>