<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Curriculum</title>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div class="top">
        <h1>Course Name</h1>
    </div>
    <section>
        <table class="styled-table">
            <thead>
                <tr style="text-align: center;">
                    <th>Course Code</th>
                    <th style="background-color: white; color: black;">DS101</th>
                </tr>
            </thead>
            <thead>
                <tr style="text-align: center;">
                    <th>Course Title</th>
                    <th style="background-color: white; color: black;">Engineering Graphics</th>
                </tr>
            </thead>
            <thead>
                <tr style="text-align: center;">
                    <th>Semester No</th>
                    <th style="background-color: white; color: black;">3</th>
                </tr>
            </thead>
            <thead>
                <tr style="text-align: center;">
                    <th>Contact hours</th>
                    <th style="background-color: white; color: black;">L-1, T-0, P-3</th>
                </tr>
            </thead>
            <thead>
                <tr style="text-align: center;">
                    <th>Credits</th>
                    <th style="background-color: white; color: black;">3</th>
                </tr>
            </thead>
            <thead>
                <tr style="text-align: center;">
                    <th>Syllabus</th>
                    <th style="background-color: white; color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco<br>
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse<br>
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia<br>
                        deserunt mollit anim id est laborum.</th>
                </tr>
            </thead>
            <thead>
                <tr style="text-align: center;">
                    <th>Evaluation Schema</th>
                    <th style="background-color: white; color: black;">Quiz I (5%), Midterm (30%), Quiz II (5%), Lab (20%) End term (40%)</th>
                </tr>
            </thead>
            <thead>
                <tr style="text-align: center;">
                    <th>References & Book</th>
                    <th style="background-color: white; color: black;">1. N D Bhatt Engineering Drawing, 49th edition Charoter, Publishing House, 2006.<br>
                        2. B Agrawal and C M Agrawal, Engineering Drawing (2nd Ed), McGraw Hill, New Deli, 2014.<br>
                        3. Dhananjay A Jolhe, Engineering drawing, TMH, 2008.<br>
                        4. T E French, C J Vierck and R J Foster, Graphic Science and Design, 4th edition, McGraw Hill, 1984.<br>
                        5. W J Luzadder and J M Duff, Fundamentals of Engineering Drawing, 11th edition, Prentice-Hall of India, 1995.<br>
                        6. K Venugpoal, Engineering Drawing and Graphics, 3rd edition, New Age International, 1998.<br>
                        7. K. Venkata Reddy, Engineering Drawing, 2nd edition, BS Publications, 2008.</th>
                </tr>
            </thead>
        </table>
    </section>
