<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> {% endcomment %}
    <title>Programme</title>
</head>
<body> 
    <div class="top">
       <h1>Programme</h1>
   </div>
    <div>
        <table class="styled-table-widder">
            <thead>
                <tr style="text-align: center;">
                    <th>UG: Under Graduate</th>
                </tr>
            </thead>
            <tbody>
                {% for ug in UG %}
                    <tr><td><a href="{% url 'programme_curriculum:curriculum' ug.id %}">{{ug.title | title }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="styled-table-widder">
            <thead>
                <tr style="text-align: center;">
                    <th>PG: Post Graduate</th>
                </tr>
            </thead>
            <tbody>
                {% for pg in PG %}
                    <tr><td><a href="{% url 'programme_curriculum:curriculum' pg.id %}">{{pg.title | title }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="styled-table-widder">
            <thead>
                <tr style="text-align: center;">
                    <th>PHD: Doctor of Philosophy</th>
                </tr>
            </thead>
            <tbody>
                {% for phd in PHD %}
                    <tr><td><a href="{% url 'programme_curriculum:curriculum' phd.id %}">{{phd.title | title }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>