body{
    background: gray;
}
.container{
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
}
.curriculum{
    text-align: center;
    background: purple;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: white;
    padding: 25px;
    border: 1px solid skyblue;
}
table, th, td {
    width:100%;
    table-layout: fixed;
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;
    border:1px solid skyblue;
}
tr, th, td{
    padding: 15px;
}
th{
    background: red;
    color:white;
}
td{
    background: #3c8a4e;
}
td:hover{
    background: orange;
}