{% load static %}
{% block buildings %}
{% load humanize %}

{% with tabnames="All Incomplete Complete" %}

<div class="ui pointing secondary menu">
    {% for tabname in tabnames.split %}
    <a class="blue {% if forloop.counter0 is 0 %}{{ "active" }}{% endif %} item"
        data-tab="{{ menuitem }}_{{ tabname }}">
        {{ tabname }}
    </a>
    {% endfor %}

</div>

{% include 'estate_module/Work/new.html' %}
{% include 'estate_module/Work/edit.html' %}

{% for tabname in tabnames.split %}
{% include 'estate_module/Work/tab.html' with tab_id=menuitem|add:'_'|add:tabname %}
{% endfor %}

{% endwith %}

{% endblock %}