
<div class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;">
    <div class="two fields">
            <div class="six wide field">
                <label>Month</label>
                <select class="ui search fluid dropdown">
                    <option value="january">January</option>
                    <option value="february">February</option>
                    <option value="march">March</option>
                    <option value="april">April</option>
                    <option value="may">May</option>
                    <option value="june">June</option>
                    <option value="july">July</option>
                    <option value="august">August</option>
                    <option value="september">September</option>
                    <option value="october">October</option>
                    <option value="november">November</option>
                    <option value="december">December</option>
                </select>
            </div>
            <div class="six wide field">
                    <label>Year</label>
                    <input type = "number" class="ui large input">
            </div>
    </div>
    <div class="field">
            <button class="ui primary button right floated" type="submit">
                Submit
            </button>
        </div>
</div>

<br><br>
<div class="ui divider"></div>