{% load static %}

{% block navBar %}
    {% include 'dashboard/sidenavbar.html' %}

    <div>
        <div class="ui stackable massive inverted top attached menu" id="navbar">
            <a class="item" id="sidebartrigger">
                <i class="sidebar icon"></i>
            </a>


            <a class="item" href="{% url 'globals:dashboard' %}">
                <i class="ui active inverted large home icon"></i>
                Dashboard
            </a>
            <div class="item">
                <a class="icon mail" href = '/feedback'></i>
                <i class="comment icon"></i>Feedback
            </div>
            <div class="right inverted menu">
                <a class="item" href="/dashboard">
                    {% comment %}
                        TODO: User details! depending on type of user say: STUDENT/FACULTY/STAFF!
                    {% endcomment %}
                    <img class="ui avatar image" src="{% static 'globals/img/zlatan.jpg' %}">
                    {{request.user.first_name}} {{request.user.last_name}}
                </a>

                <a class="item" id="new-notification">
                    Notifications
                </a>

                <div class="ui fluid popup bottom left transition hidden">
                    <div class="ui four column relaxed equal height stackable doubling grid">
                        <div class="row">
                            <h3 class="ui dividing header" style="margin: auto; margin-top: 8px;">Notifications</h3>
                        </div>

                        <div class="row">
                            <div class="column">
                                <div class="ui secondary vertical pointing compact menu">
                                    <a class="active item" data-tab="leaveModule">
                                        <span style="color: #000;">
                                            Leave
                                        </span>
                                    </a>

                                    <a class="item" data-tab="complaintModule">
                                        <span style="color: #000;">
                                            Complaint
                                        </span>
                                    </a>

                                    <a class="item" data-tab="messModule">
                                        <span style="color: #000;">
                                            Mess
                                        </span>
                                    </a>

                                    <a class="item" data-tab="placementModule">
                                        <span style="color: #000;">
                                            Placement
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="three wide column">
                                <div class="ui active tab" data-tab="leaveModule">
                                    <div class="ui animated fluid list"
                                         id="new-message-list" style="min-width: 20vw; max-height: 28.5vh; overflow-y: auto;">
                                    </div>
                                </div>

                                <div class="ui tab"  data-tab="complaintModule">
                                </div>

                                <div class="ui tab"  data-tab="messModule">
                                </div>

                                <div class="ui tab"  data-tab="placementModule">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item"></div>

                <a class="right item" href="/accounts/logout">
                    {% comment %}
                        TODO: LOGOUT!
                    {% endcomment %}
                    <i class="ui inverted sign out icon"></i>
                    Logout
                </a>

            </div>
        </div>

        <div class="ui divider"></div>


        {% block data%}
        {% endblock %}



    </div>
{% endblock %}
