{% load static %}

{% block sidenav %}
    <div class="ui sidebar inverted vertical menu">
        <div class="ui doubling stackable grid container">

            <div class="ui inverted centered raised item"></div>

            {% comment %}The User Item starts here!{% endcomment %}
            <div class="ui inverted centered raised item">
                <img src="{% static 'globals/img/zlatan.jpg' %}" class="ui small circular centered image">

                <br>

                <div class="ui bottom attached inverted" style="text-align: center;">
                    {% comment %}
                        TODO: User Details!
                    {% endcomment %}
                    <h2 class="ui inverted header">Dr. Atul Gupta</h2>
                    <span class="ui inverted meta">Associate Professor</span>
                </div>

            </div>
            {% comment %}The User Item ends here!{% endcomment %}

            <div class="ui divider inverted"></div>

            {% comment %}The Modules Accordian starts here!{% endcomment %}
            <div class="ui vertical inverted accordion fluid menu" style="margin-bottom: 24px;">
                <div class="item">
                    <a class="active title">
                        <i class="dropdown icon"></i>
                        <span class="ui inverted header">
                            Modules
                        </span>
                    </a>
                    <div class="active content">
                        <div class="link items">
                            <a class="item" href="{% url 'complaint:complaint' %}">
                                <h4>Complaint Module</h4>
                            </a>

                            <a class="item" href="{% url 'mess:mess' %}">
                                <h4>Central Mess Module</h4>
                            </a>

                            <a class="item" href="{% url 'leave:leave' %}">
                                <h4>Leave Module</h4>
                            </a>

                            <a class="item" href="{% url 'placement:placement' %}">
                                <h4>Placement Module</h4>
                            </a>

                            <a class="item" href="{% url 'visitorhostel:visitorhostel' %}">
                                <h4>Visitor Hostel Module</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}The Modules Accordian ends here!{% endcomment %}

            {% comment %}The Profile Item starts here!{% endcomment %}
            <a class="centered raised item" href="{% url 'eis:profile'%}">
                <span class="inverted header">Profile</span>
                <i class="large inverted user icon right floated"></i>
            </a>
            {% comment %}The email Item ends here!{% endcomment %}

            {% comment %}The email Item starts here!{% endcomment %}
            <div class="centered raised item">
                <span class="inverted header">Emails</span>
                <i class="large inverted mail icon right floated"></i>
            </div>
            {% comment %}The email Item ends here!{% endcomment %}

            {% comment %}The Webpage Item starts here!{% endcomment %}
            <div class="centered raised item">
                <span class="inverted header">Webpage</span>
                <i class="large inverted external icon right floated"></i>
            </div>
            {% comment %}The Webpage Item ends here!{% endcomment %}

            {% comment %}The Activity Log Item starts here!{% endcomment %}
            <div class="centered raised item">
                <span class="inverted header">Activity Log</span>
                <i class="large inverted area chart icon right floated"></i>
            </div>
            {% comment %}The Activity Log Item ends here!{% endcomment %}

            {% comment %}The Logout Item starts here!{% endcomment %}
            <div class="centered raised item">
                <span class="inverted header">Logout</span>
                <i class="large inverted sign out icon right floated"></i>
            </div>
            <div class="item"></div>
            {% comment %}The Logout Item ends here!{% endcomment %}

        </div>
    </div>

{% endblock %}
