{% load static %} {% block addvideo %}

{% if Lecturer == 1 %}

<div class="ui active tab segment" data-tab="video" id="add_video_refresh">
    <h4 class="ui dividing header">Add a video</h4>
    <a href="https://accounts.google.com/" class="ui blue button" target="popup" onclick="window.open('https://studio.youtube.com/','name','width=900,height=600')">Upload Videos</a>
<br/>
<br/>

    <div style="overflow:scroll;height:20em;overflow-x:hidden;">
    <table class="ui fixed single line sortable celled table">
        <thead>
            <tr>
                <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 43%;">Name</th>
                <th> Play </th>
                <th class="" style="width:10%">Action</th>
            </tr>
        </thead>

        <tbody>

            {% for video in videos %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{video.title}}</td>
                <td>
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ video.id }}" allowfullscreen></iframe>
                    </div>
                </td>
                <td><a href="#"><i class="trash dustbin outline icon" data-pk="{{video.pk}}" id="dustbin_video_{{forloop.counter}}" style="font-size:1.3vw;color:red;"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% else %}


{% if videos %}

<div style="overflow:scroll;height:20em;overflow-x:hidden;">
    <table class="ui fixed single line sortable celled table">
        <thead>
            <tr>
                <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 43%;">Name</th>
                <th> Play </th>
            </tr>
        </thead>

        <tbody>

            {% for video in videos %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{video.title}}</td>
                <td>
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ video.id }}" allowfullscreen></iframe>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  {% else %}
  <div class="row" style="margin-left:20px">
      <h4 class="ui  header">No videos</h4><br>
  </div>
   {% endif %}
{% endif %}
{% endblock %}