body{
    background: whitesmoke;
    display: block;
    margin: 0px;
}
.container0 {
    margin: auto;
    margin-top :70px;
}
.container{
    max-width: 1000px;
    text-align:center;
    padding: 2px;
    margin: auto;
    margin-top: 25px;
    font-family: sans-serif;
    background-color: white;
    border-collapse: collapse;
    border-bottom: 2px solid #009879;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
a{
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; */
    /* height: 100%;
    width: 100%; */
    /* display: block; */
    text-decoration: none;
    color: initial;
}  
section
{
    display:flex;
}
.link{
    display: block;
    height:100%;
    width:100%;
}
.leftside
{

    width:55%;
    height:300px;

    text-align:center;

}
.rightside
{
    width:55%;
    height:300px;
    text-align:center;

}
.top
{   text-align :center;
    margin: 25px 25px x;
    margin-left: auto;
    margin-right: auto;
    margin-top :5px;
    font-size: 20px;
    font-family: sans-serif;
}
.container:hover, a:hover{
    background: orange;
}
.styled-table, .styled-table-widder {
    border-collapse: collapse;
    margin: 25px 25px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top :70px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table-widder{
    min-width: 800px;
}
.styled-table thead tr, .styled-table thead th, .styled-table-widder thead tr, .styled-table-widder thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
/* .styled-table thead td, .styled-table thead th, .styled-table-widder thead td, .styled-table-widder thead th {
    padding: 15px 20px;
} */
.styled-table tbody td, .styled-table-widder tbody td{
    width: 120px;
    height: 40px;
    text-align: center;
    padding: 0%;
}
/* .styled-table tbody th{
    padding: 15px 20px;
}
.styled-table-widder tbody th{
    padding: 15px 40px;
} */
.styled-table td a, .styled-table-widder td a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}
.styled-table td a:hover, .styled-table-widder td a:hover{
    height: 100%;
    width: 100%;
    background: orange;
    display: block;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}
.styled-table thead th, .styled-table-widder thead th{
    width: 120px;
    height: 40px;
    text-align: center;
    padding: 0%;
}
.styled-table th a, .styled-table-widder th a{
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    display: block;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}
.styled-table th a:hover, .styled-table-widder th a:hover{
    height: 100%;
    width: 100%;
    background: orange;
    padding: 15px 20px;
    display: block;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}
.styled-table tbody tr, .styled-table-widder tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even), .styled-table-widder tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd), .styled-table-widder tbody tr:nth-of-type(odd) {
    background-color: white;
}
.styled-table tbody tr:last-of-type, .styled-table-widder tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table ul li, .styled-table-widder ul li{
    padding: 20px;
    font-weight: bold;
    list-style-type: none !important;
}
/* table, th, td {
    width:100%;
    table-layout: fixed;
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;
    border:1px solid skyblue;
}
tr, th, td{
    padding: 15px;
}
th{
    background: red;
    color:white;
}
td{
    background: #3c8a4e;
}
*/