# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs #
.vscode
.idea

# Distribution / packaging
.Python
env/
build/
media
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Swap files
*.swp

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Flask stuff:
instance/.webassets-cache

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv: ignore environment folder ending with env. e.g. env, venv, myenv, fusionenv, etc
*env/

# Rope project settings
.ropeproject

# VSCode Settings
#.vscode/settings.json

# Node Modules
node_modules/

FusionIIIT/static/
package-lock.json


.DS_Store
**/generated.pdf
