[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bs4 = "*"
celery = "*"
django-allauth = "*"
django-cleanup = "*"
django-debug-toolbar = "*"
django-markdown-deux = "*"
django-notifications-hq = "*"
django-pagedown = "*"
django-semanticui-forms = "*"
django-unused-media = "*"
html-text = "*"
numpy = "*"
psycopg2-binary = "*"
requests = "*"
whitenoise = {extras = ["brotli"], version = "*"}
xhtml2pdf = "*"
xlrd = "*"
xlwt = "*"
Django = "*"
jsonschema = "*"
Pillow = "*"
XlsxWriter = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"
