amqp
arabic-reshaper
asgiref
attrs
beautifulsoup4
billiard
Brotli
bs4
celery
certifi
cffi
chardet
click
click-didyoumean
click-plugins
click-repl
cryptography
defusedxml
Django==3.2.4
django-allauth
django-cleanup
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-markdown-deux
django-model-utils
django-notifications-hq
django-pagedown
djangorestframework
django-semanticui-forms
django-unused-media
future
# gunicorn
html-text
html5lib
idna
ipython
ipython-genutils
jsonfield
jsonschema
kombu
lxml
markdown2
numpy
oauthlib
openpyxl
Pillow
prompt-toolkit
psycopg2-binary
pycparser
PyJWT
PyPDF2
pyrsistent
python-bidi
python-dateutil
python3-openid
pytz
reportlab
requests
requests-oauthlib
six
soupsieve
sqlparse
swapper
urllib3
vine
wcwidth
webencodings
whitenoise
xhtml2pdf
xlrd
XlsxWriter
xlwt
