<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Curriculum</title>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div class="top">
        <h1>Course List</h1>
    </div>
    <section>
        <table class="styled-table">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Credits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="">CS 205</a></td>
                <td>CS 205</td>
                <td>3</td>
            </tr>
            <tr >
                <td><a href="">CS 203</a></td>
                <td>Operating System</td>
                <td>3</td>
            </tr>
            <tr>
                <td><a href="">NS 101</a></td>
                <td>Mathematics</td>
                <td>4</td>
            </tr>
            <tr >
                <td><a href="">NS 102</a></td>
                <td>Mathematics</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="">NS 104</a></td>
                <td>Optics</td>
                <td>4</td>
            </tr>
            <tr >
                <td><a href="">NS 101</a></td>
                <td>Mechanics</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="">ES 102</a></td>
                <td>Data Structure</td>
                <td>4</td>
            </tr>
            <tr >
                <td><a href="">ES 102</a></td>
                <td>Data Structure</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="">CS 203</a></td>
                <td>Algorithms</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="">CS 205</a></td>
                <td>CS 205</td>
                <td>3</td>
            </tr>
            <tr >
                <td><a href="">CS 203</a></td>
                <td>Operating System</td>
                <td>3</td>
            </tr>
            <tr>
                <td><a href="">NS 101</a></td>
                <td>Mathematics</td>
                <td>4</td>
            </tr>
            <tr >
                <td><a href="">NS 102</a></td>
                <td>Mathematics</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="">NS 104</a></td>
                <td>Optics</td>
                <td>4</td>
            </tr>
            <tr >
                <td><a href="">NS 101</a></td>
                <td>Mechanics</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="">ES 102</a></td>
                <td>Data Structure</td>
                <td>4</td>
            </tr>
            <tr >
                <td><a href="">ES 102</a></td>
                <td>Data Structure</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="">CS 203</a></td>
                <td>Algorithms</td>
                <td>4</td>
            </tr>
        </tbody>
        </table>
    </section>
</body>
</html>