body{
    background: whitesmoke;
    display: block;
    margin: 8px;
}
.container{
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
}  
section
{
    display:flex;
}
.leftside
{

    width:55%;
    height:300px;

    text-align:center;

}
.rightside
{
    width:55%;
    height:300px;
    text-align:center;

}
.top
{   text-align :center;
    margin: 25px 25px x;
    margin-left: auto;
    margin-right: auto;
    margin-top :5px;
    font-size: 20px;
    font-family: sans-serif;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 25px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top :70px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr, .styled-table thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.styled-table th, .styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: white;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
li{
    padding: 20px;
    font-weight: bold;
}
/* table, th, td {
    width:100%;
    table-layout: fixed;
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;
    border:1px solid skyblue;
}
tr, th, td{
    padding: 15px;
}
th{
    background: red;
    color:white;
}
td{
    background: #3c8a4e;
}
*/
td:hover{
    background: orange;
}