<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Curriculum</title>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div class="top">
        <!-- <h1>Curriculum</h1> -->
        <h1>Curriculum</h1>
        <h1>{{ curr.name }}</h1>
    </div>
    <section>
        <table class="styled-table">
            <tbody>
                
                {% for s in sem %}
                <tr>
                    <th>Semester {{ s.semester_no }}</th>
                    {% for ss in scl %}
                        {% if ss.semester_id_id == s.id %}
                            <td><a href="{% url 'courses' ss.course_id_id %}">{{ ss.course_id }}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>

                </tr>
            </tbody>
        </table>
    </section>
    {% comment %} <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script> {% endcomment %}
</body>
</html>