<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fusion!
        {% block title %}{% endblock %}
    </title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'fusion/semantic-ui/components/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fusion/semantic-ui/components/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fusion/css/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fusion/css/mediaquery.css' %}">

    {% block css %}
    {% endblock %}

</head>

{% comment %}style="background-color: rgba(189, 189, 189, 0.1);"{% endcomment %}
<body id="">

{% block body %}
    {% block navBar %}
    {% endblock %}
{% endblock %}

</body>

<script type="text/javascript" src="{% static 'fusion/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fusion/js/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fusion/js/dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'fusion/js/tab.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('.ui.accordion').accordion('refresh');

            $('.ui.sidebar')
                //.sidebar('toggle')
                .sidebar('attach events', '#navbar #sidebartrigger')
                .sidebar('setting', 'transition', 'overlay')
            ;
        });
    </script>

{% block javascript %}
{% endblock %}

</html>
