{% block tab5 %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="tab5content1">
            After Purchase Form
        </a>
    </div>

    <div class="ui active tab" data-tab="tab5content1">
        <div class="ui vertical segment">
            {% block tab5content1 %}
                {% include 'officeModule/officeOfPurchaseOfficer/after_purchase_content.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}