<div class="ui success message">
    <h3 class="ui header">Add new Role </h3><i class="big dropdown icon toggleDiv" style="cursor:pointer"></i>
    <form class="ui form"  method ="post" action={% url 'feeds:feeds_admin' %}>
        {% csrf_token %}
        <div class="field">
            <label>Give a name to role (like: CCAdmin) Do not use whitespace</label>
            <input type="text" name="role" placeholder="Role" required pattern="^[a-zA-Z0-9]*$">
        </div>
        {% if error.role %}
        <div class="ui red message">{{error.role}} Retry</div>
        {% endif %}
        {% if success.role %}
        <div class="ui green message">{{success.role}}</div>
        {% endif %}
        <div class="field">
            <label>Select User</label>
            <input type="text" name="user" placeholder="Username" required>
        </div>
        {% if error.user %}
        <div class="ui red message">{{error.user}} Retry</div>
        {% endif %}
        {% comment %} <div class="field">
            <label>Select User</label>
            <input type="text" name="user" placeholder="Username" required>
        </div>
        {% if error.user %}
        <div class="ui red message">{{error.user}} Retry</div>
        {% endif %}
        {% if success.user %}
        <div class="ui green message">{{success.user}}</div>
        {% endif %}
        <div class="field">
            <label>Give a name to role (like: CCAdmin)</label>
            <input type="text" name="role" placeholder="Role" required>
        </div>
        {% if error.role %}
        <div class="ui red message">{{error.role}} Retry</div>
        {% endif %} {% endcomment %}
        <button class="ui button" name="addrole"value = "addrole" type="submit">Submit</button>
    </form>
</div>

<div class="ui success message">
    {% if success.update %}
    <div class="ui green message">{{success.update}}</div>
    {% endif %}
    {% if error.update %}
    <div class="ui green message">{{error.update}}</div>
    {% endif %}
    <h3 class="ui header">Assigned Roles </h3><i class="big dropdown icon toggleDiv" style="cursor:pointer"></i>
    <div>
        <table class="ui celled padded table inverted">
            <thead>
                <tr><th class="single line">I'd</th>
                <th>Name</th>
                <th>Role</th>
                <th>Update</th>
                <th></th>
            </tr></thead>
            <tbody>
                {% for r in role %}
                {% if r.active %}
                <tr>
                    <td class="single line">
                        {{r.user.username}}
                    </td>
                    <td class="single line">
                        {{r.user.first_name}}
                    </td>
                    <td class="single line">
                        {{r.role}}
                    </td>
                    <td>
                        <div class="ui mini input inline fields">
                            <form action={% url 'feeds:feeds_admin' %} method="post">
                            {% csrf_token %}
                                <input id="unassignrole" name="unassignrole_value" value={{r.role}} hidden>
                                <input id="unassignrole_update" name="unassignrole_update"placeholder="Username" required>
                                <button class="ui mini inverted green button" type="submit" >
                                <i class="ui paper plane icon"></i></button>

                            </form>
                        </div>
                    </td>
                    <td>
                    <form action={% url 'feeds:feeds_admin' %} method="post">
                    {% csrf_token %}
                        <input id="unassignrole" name="unassignrole_value" value={{r.role}} hidden>
                        <button class="ui red inverted button" name="unassignrole" value="unassignrole" type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="ui success message">
    {% if success.updatere %}
    <div class="ui green message">{{success.updatere}}</div>
    {% endif %}
    {% if error.updatere %}
    <div class="ui green message">{{error.updatere}}</div>
    {% endif %}
    <h3 class="ui header">Unassigned Roles </h3><i class="big dropdown icon toggleDiv" style="cursor:pointer"></i>
    <div>
        <table class="ui celled padded table inverted">
            <thead>
                <tr><th class="single line">I'd</th>
                <th>Previous Name</th>
                <th>Role</th>
                <th></th>
            </tr></thead>
            <tbody>
                {% for r in role %}
                {% if not r.active %}
                <tr>
                    <td class="single line">
                        {{r.user.username}}
                    </td>
                    <td class="single line">
                        {{r.user.first_name}}
                    </td>
                    <td class="single line">
                        {{r.role}}
                    </td>
                    <td>
                        <form action={% url 'feeds:feeds_admin' %} method="post">
                        {% csrf_token %}
                        <input id="reassignrole" name="reassignrole_value" value={{r.role}} hidden>
                        <button class="ui blue inverted button" name="reassignrole" value="reassignrole" type="submit">Reassign</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block script %}
    <script type="text/javascript">
        $(document).ready(()=>{
             $(".toggleDiv").each(function(index){
                console.log("ready")
                if(index!=0)
                $(this).next().toggle(0,"swing");
            });
        })
    </script>
    <script type="text/javascript">
        $(".toggleDiv").click(function(){
            $(this).next().toggle(500,"swing");
        });
    </script>
{% endblock script %}
