{% block css %}
	<style type="text/css">
		.wmd-panel{
			margin-left: 7% !important;
		}

		.scrollbar
		{
			overflow-y: scroll;
			overflow-x: hidden;
			height: 500px;
		}
		
		#style-1::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 20px;
			background-color: #F5F5F5;
		}

		#style-1::-webkit-scrollbar
		{
			width: 5px;
			background-color: #F5F5F5;
		}

		#style-1::-webkit-scrollbar-thumb
		{
			background-color: #AAA;
			border-radius: 20px;
			background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2), transparent)
		}
	</style>
{% endblock %}

<!-- Middle section of the page -->
<div class="ten wide column" style="padding: 0 50px;">

    <div class="ui clearing segment blue" style="margin-bottom: 30px;">
        
        <div class="ui grid header">

            <div class="two wide column no-padding no-margin">
                <a href="{% url 'feeds:profile' question.user.username%}">
                    <img class="ui avatar image" style="height: 40px; width: 40px ;" src="{{profile.0.profile_picture.url}}">
                </a>
            </div>

            <div class="thirteen wide column no-padding no-margin">
                {% for result in question.select_tag.all %}
                    <a href="{%url 'feeds:tag_based_view' result.subtag%}" style="color: rgba(0,0,0,.6); font-size: 12px;">
                        {{ result }}
                    </a>
                {% endfor %}
            </div>

            <div class="one wide column no-padding no-margin">
                <div class="ui simple dropdown item" style="float: right;">
                    <i class="ui ellipsis horizontal icon" style="color: grey;"></i>
                    <div class="ui menu">
                        {% if question.user == request.user %}
                            <div class="ui item">
                                <button class="ui button" style="background-color: transparent;" type="submit" name="delete" value="{{question.id}}" id="delete_post">
                                <i class="trash alternate icon"></i> Delete Post
                                </button>
                            </div>

                            <div class="ui item">
                                <button class="ui button" style="background-color: transparent;" type="submit" name="update" value="{{question.id}}" id="update_post">
                                    <i class="undo icon"></i> Update Post
                                </button>
                            </div>

                            <!-- Are You sure Modal for Delete button -->
                            <div class="ui modal" id="delete_modal{{question.id}}">
                                <i class="close icon"></i>
                                <div class="ui header">
                                    <i class="ui user icon"></i>
                                    {{ username }}
                                </div>

                                <div class="content">
                                    <div class="ui warning message segment">
                                        <p> Are you sure you want to delete this question? </p>
                                    </div>

                                    <form method="post" action="{% url 'feeds:delete_post' question.id %}">
                                    {% csrf_token %}
                                        <a class="ui item">
                                            <button class="ui button" type="submit" name="delete" value="delete">
                                            <i class="trash icon" id="delete"></i>Delete Post 
                                            </button>
                                        </a>
                                    </form>
                                </div>
                            </div> 

                            <!-- Update Modal Starts here...... -->
                            <div class="ui modal" id="update_modal{{question.id}}">
                                <i class="close icon"></i>
                                <div class="ui header"><i class="ui user icon"></i>{{ username }}</div>
                                <div class="scrolling content">
                                    <div class="ui message">
                                        <div class="header">
                                            Check these things
                                        </div>
                                        <ul class="list">
                                            <li>Please try to add How, What, Why in subject.</li>
                                            <li>Be specific to your problem.</li>
                                        </ul>
                                    </div>

                                    <form method="post" action="{% url 'feeds:update_post' question.id %}">{% csrf_token %}
                                        <div class="ui large form">
                                            <div class="field">
                                                <label>Subject</label>
                                                <input id="subject" type="text" name="subject" value="{{question.subject}}" required>
                                            </div>

                                            <div class="field">
                                                <label>Description</label>
                                                <input type="text" id="description" name="description" rows="2" value="{{question.description}}">
                                            </div>

                                            <div class="field">
                                                <div class="ui black checkbox">
                                                    {% if question.anonymous_ask %}
                                                    <input type="checkbox" id="anonymous_update" name="anonymous_update" checked="checked"> 
                                                    <label>Ask Anonymously</label>
                                                    {% else %}
                                                    <input type="checkbox" id="anonymous_update" name="anonymous_update" > 
                                                    <label>Ask Anonymously</label>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="actions">
                                                <button type="submit" name="update" value="update_qus" class="ui submit positive button" style="float: right;">
                                                    Update
                                                </button><br>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        {% endif %}

                        <div class="ui item">
                            <button class="ui button" style="background-color: transparent;" type="submit" name="hide" value="hide" id="hide_post">
                            <i class="eye icon"></i> Hide Post
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui divider"></div>

        <div class="ui grid" style="padding: 0 0 25px 0;">
            <div class="row grid">
                <div class="grid one wide column">
                    <div class="row">
                        <i id="upcaret{{question.id}}" class="icon big arrow alternate circle up {% if isliked == 1 %}{%else%}outline{% endif %}" 
                            onclick='upvote_post({{question.id}})' 
                            style="cursor:pointer"></i>
                    </div>
                    <div class="row center aligned container ui" id="upvoteCount{{question.id}}">
                        <i style="margin-left: 10px;">{{votes}}</i>
                    </div>
                    <div class="row">
                        <i id="downcaret{{question.id}}" class="icon big arrow alternate circle down {% if disliked == 1 %}{%else%}outline{% endif %}"
                            onclick='downvote_post({{question.id}})' 
                            style="cursor:pointer"></i>
                    </div>
                </div>

                <div class="grid thirteen wide column">
                    <h2 class="row">
                        {{ question.subject }}
                    </h2>
                    <div class="row">
                        <a href="" style="color: rgba(0,0,0,.6);">
                            {% if question.anonymous_ask is True %}
                                <a href="" style="color: rgba(0,0,0,.6);">Anonymous</a><br>
                            {% else %}
                                <a href="{% url 'feeds:profile' question.user.username%}">{{ question.user.username }}</a>
                            {% endif %} 
                            {{extra.department}}- <span style="color: grey;font-size:12px;">{{ question.uploaded_at }}</span>
                        </a><br>
                    </div>
                </div>
            </div>

            <div class="row grid">
                <div class="one wide column">
                </div>
                <div class="fourteen wide column" >
                    {{question.description}}
                </div>
            </div>

            {% if question.file.url is not null %}
                 <div class="row grid">
                    <div class="one wide column">
                    </div>
                     <div class="fourteen wide column" >
                        <label style="font-weight: bold;">Attached Files -</label>
                        <a href="{{question.file.url}}" target="_blank">Open File in new tab</a>
                    </div>
                </div>	
            {% endif %}

            <div class="row grid">
                <div class="one wide column">
                </div>
                <div class="fourteen wide column" >
                    <div style="display: inline;" id="request-section{{question.id}}">
                        {% include 'feeds/question_request_count.html' %}
                        <button class="ui positive button" id="answer">answer</button>
                    </div>
                </div>
            </div>	

            <div class="row grid">
                <div class="one wide column">
                </div>
                <div class="fourteen wide column" >
                    <span style="padding-top: 7px; font-weight: 100; font-size: 13px;">
                        <a href="" id="link1" onclick="toggle_to_div('{{question.id}}'); return false;" style="color: rgba(0,0,0,.6);">	{{question.comments_set.count}} comments | view comments</a> 
                    </span>
                </div>
            </div>

            <div class="row grid">
                <div class="one wide column">
                </div>
                <div class="fourteen wide column" >
                     <form id="{{question.id}}" method="POST" class="comment-form" role="form" action="{% url 'feeds:comment_text' %}">{% csrf_token %}
                        <div class="ui info floating">
                            <div class="ui fluid left icon input">
                                <i class="ui comment icon"></i>
                                <input type="hidden" name="question_id" value="{{ question.id }}">
                                <input id="chat-msg{{question.id}}" name="chat-msg" type="text" name="comment" placeholder="Add Comment">
                                <button type="submit" name="add_comment" value="add_comment" class="ui blue button" class="scroll" id="{{question.id}}" style="margin-left:15px;">
                                    Comment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row grid">
                <div class="one wide column">
                </div>
                <div class="fourteen wide column" >
                    <!-- Comment Section -->
                    <div class="hidden" id="main_comments{{question.id}}" style="display: none;">
                        {% include 'feeds/comment_text.html' %}
                    </div>
                    <!-- Comment Section ends here -->
                </div>
            </div>
            
            <div class="row grid">
                <div class="one wide column">
                </div>
                <div class="fourteen wide column" >
                    <!-- Answer Section starts here -->
                    
                    <div style="font-size: 20px;font-style: italic; font-weight: bold;" class="header">
                        <span id="answerCount">{{ question.answeraquestion_set.count }} Answers</span>
                        <i class="ui right labeled icon caret right"></i>		
                    </div>
                    <hr>

                    <div id="style-1" class="ui message scrollbar">
                        {% for answer in question.answeraquestion_set.all %}
                        <div class="ui segment grid " id="answer{{question.id}}-{{answer.id}}">
                            <div class="two wide column" style="width: 10% !important; padding-right: 0px;">
                                {% comment %} <h2><a href=""><img class="ui avatar image" src="" alt="dp"></a></h2> {% endcomment %}
                                <div class="grid one wide column">
                                    <div class="row">
                                        <i id="answerupcaret{{answer.id}}" class="icon big arrow alternate circle up {% if request.user in answer.likes.all %}{%else%}outline{% endif %}" 
                                            onclick='upvote_answer({{answer.id}})' 
                                            style="cursor:pointer"></i>
                                    </div>
                                    <div class="row center aligned container ui" id="answerupvoteCount{{answer.id}}">
                                        <i style="margin-left: 10px;">{{answer.total_votes}}</i>
                                    </div>
                                    <div class="row">
                                        <i id="answerdowncaret{{answer.id}}" class="icon big arrow alternate circle down {% if request.user in answer.dislikes.all %}{%else%}outline{% endif %}"
                                            onclick='downvote_answer({{answer.id}})' 
                                            style="cursor:pointer"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="fourteen wide column" style="padding-left: 0px;">
                                <div id="answer{{question.id}}-{{answer.id}}">{{answer.get_markdown}}</div>
                                <footer>
                                    <span style="margin-left:15px; font-size:12px;color: rgba(0,0,0,.6);">-
                                        <a href="{% url 'feeds:profile' answer.user.username%}">
                                            {{answer.user}}
                                        </a>
                                        | {{answer.uploaded_at|timesince}} ago
                                        {% if request.user.username == answer.user.username %} 
                                        | <span style="cursor:pointer;" id="edit_answer{{question.id}}-{{answer.id}}" onclick='edit_answer("{{question.id}}-{{answer.id}}")'><b>-edit</b></span>
                                        | <span style="cursor:pointer;" id="delete_answer{{question.id}}-{{answer.id}}" onclick='delete_answer("{{question.id}}-{{answer.id}}")'><b>-delete</b></span>

                                        <!-- Modal for delete comment -->
                                        <div class="ui modal" id="delete_answer_modal{{question.id}}-{{answer.id}}">
                                            <div class="ui header">
                                                <i class="ui user icon"></i>
                                                {{ request.user.username }}
                                            </div>

                                            <div class="content">
                                                <div class="ui warning message segment">
                                                    <p> Are you sure you want to delete this Answer? </p>
                                                </div>
                                                <form method="post"  class="delete_answer_form" id={{question.id}}-{{answer.id}}>
                                                    <a class="ui item">
                                                        <button class="ui button" type="submit" name="delete" value="delete">
                                                        <i class="trash icon" id="delete"></i>Delete Answer 
                                                        </button>
                                                    </a>
                                                </form>
                                            </div>

                                        </div>
                                        <!-- Modal ends here -->

                                        <!-- Modal for edit answer -->
                                        <div class="ui modal" id="edit_answer_modal{{question.id}}-{{answer.id}}">
                                            <i class="close icon"></i>
                                            <div class="header">Edit Your Answer</div>
                                            <div class="scrolling content">
                                                <form class="edit_answer_form" id={{question.id}}-{{answer.id}}>
                                                    <textarea class=" wmd-input" cols="40" id="edit_id_content{{question.id}}-{{answer.id}}" name="content" rows="10" required="">{{answer.content}}</textarea>
                                                    <br><br>
                                                    <div class="actions">
                                                        <input style="float: right;" class="ui primary button" type="submit" name="edit_answer_button" id="edit_answer_button{{question.id}}-{{answer.id}}">
                                                    </div>
                                                </form>
                                                <br><br>
                                            </div>
                                        </div>
                                        <!-- Modal ends here -->
                                        {% endif %} 
                                    </span>
                                </footer>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- Answer Section ends here -->
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal for answer button -->
<div class="ui modal" id="answer_modal">
    <i class="close icon"></i>
    <div class="header">Your Answer</div>
    <div class="scrolling content">
        <form method="POST" action="">{% csrf_token %}
            {{form_answer}}
            <br><br>
            <div class="actions">
                <input style="float: right;" class="ui primary button" type="submit" name="answer_button" id="answer_button">
            </div>
        </form>
        <br><br>
    </div>
</div>
<!-- Modal ends here -->