{% load static %}

{% block requests %}
    {% comment %}table for viewing projects!{% endcomment %}

   <div class="ui pointing secondary menu" style="font-size:25px;">
        <label class="{% if mark5 != 1 and mark6 != 1 and mark7 != 1 %}active item{% else %} item {% endif %}" >
            Fund Requests             
        </label>      
    </div>
    <style>
        table {
            /* border-collapse: collapse; */
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
    <table>
        <tr>
            <th>S NO</th>
            <th>Project ID</th>
            {% comment %} <th>Project Investigator ID</th> {% endcomment %}
            <th>Status</th>
            <th>Amount</th>
        </tr>

        {% for request in requests %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{request.project_id}}</td>
            {% comment %} <td>{{request.project_investigator_id}}</td> {% endcomment %}
            <td>{{request.status}}</td>
            <td>{{ request.amount }}</td>
        </tr>
        {% endfor %}    
    </table>
{% endblock %}