

{% load static %}

{% block title %}

{% endblock %}

{% block view_projects %}

{% block body %}
   
  

    <script>
       
        function openFile(event, index) {
            var file = files[index-1];
            var url = file.index
            console.log(url);
            window.location.href = "media/" + file.index;
        }
    </script>

    <style>
        .equal-size-button {
            width: 100px; /* Adjust the width according to your preference */
        }
    </style>

    <div class="ui pointing secondary menu" style="font-size:25px;">
        <label class="{% if mark5 != 1 and mark6 != 1 and mark7 != 1 %}active item{% else %} item {% endif %}">
            Inbox             
        </label>      
    </div>

    <table class="ui celled table">
        <thead>
            <tr style="background-color: #4CAF50; color: white;">
                <th>S.No.</th>
                <th>from</th>
                <th>context</th>
                <th>attachments</th>
                
            </tr>
        </thead>
        <tbody>
            {% comment %} {{files}} {% endcomment %}
            {% for data in inbox %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.uploader}}</td>
                <td>{{data.file_extra_JSON.message}}</td>
                {% comment %} <td><button></button></td> {% endcomment %}
                 <td><button class="ui small blue equal-size-button button" onclick="openFile(event,{{forloop.counter}})" >{{data.id}}</button> </td>
                 
                 <td>
                    <form class="ui form"  method="post" enctype="multipart/form-data" action="{% url 'research_procedures:forward_request' %}" >
                        {% csrf_token %}
                        {% comment %} <label > File_id </label> {% endcomment %}
                        <input type="hidden" name="file_id" value="{{data.id}}" />
    
                        <label  for="receiver">Select a role:</label>
                        <select id="receiver" name="receiver" class="ui selection dropdown">
                            <option value="{{request.user.username}}">RSPC Dean</option>
                            {% comment %} <option value="rspc_admin">RSPC Admin</option>
                            <option value="HOD">Department HOD</option>
                            <option value="Director">Director</option> {% endcomment %}
                        </select>
    
                        <input type="submit"/>
                    <form/>
                </td>
                 {% comment %} <td><a href="{{ files }}"   >{{ data.id }}</a></td> {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

{% endblock %}
