{% extends 'globals/base.html' %}

{% load static %}

{% block title %}
IPR
{% endblock %}

{% block projects %}

{% block body %}
    

    <script>
        $('.message .close')
            .on('click', function() {
                $(this)
                    .closest('.message')
                    .transition('fade')
                ;
            });
    </script>

   <div class="ui pointing secondary menu" style="font-size:25px;">
        <label class="{% if mark5 != 1 and mark6 != 1 and mark7 != 1 %}active item{% else %} item {% endif %}" >
            Add Projects               
        </label>      
    </div>
    
        
    <div style="margin-left: 20px; margin-top:30px;">
        <form class="ui form" method="post" enctype="multipart/form-data" action="{% url 'research_procedures:add_projects' %}" style="width:800px; margin: 0 auto;">
            {% csrf_token %}
            <div style="margin-bottom: 20px;">
                <div style="display: flex;">
                    <div style="flex: 1; margin-right: 10px;">
                        <label for="project_name">Project Name:</label><br>
                        <input type="text" id="project_name" name="project_name" required style="width: 100%;">
                    </div>
                    <div style="flex: 1;">
                        <label for="project_investigator_id">Project Investigator Id:</label><br>
                        <input type="text" id="project_investigator_id" name="project_investigator_id" required style="width: 100%;"><br><br>
                    </div>
                </div>
            </div>
            
            <div style="margin-bottom: 20px; ">
                <div style="display: flex; justify-content: space-between;">
                    <div style="flex: 1; margin-right: 10px;">
                        <label for="sponsored_agency">Sponsored Agency:</label><br>
                        <input type="text" id="sponsored_agency" name="sponsored_agency" required style="width: 100%;"><br><br>
                    </div>

                    <div style="flex: 1;">
                        <label for="co_project_investigator_id">Co-Project Investigator ID:</label><br>
                        <input type="text" id="co_project_investigator_id" name="co_project_investigator_id" required style="width: 100%;"><br><br>
                    </div>
                </div>
            </div>
            <label for="project_type">Project Type:</label><br>
            <input type="text" id="project_type" name="project_type" required style="width: 100%;"><br><br>

            <label for="number_of_years">Number of Years:</label><br>
            <input type="number" id="number_of_years" name="number_of_years" required style="width: 100%;"><br><br>

            <label for="start_date">Start Date:</label><br>
            <input type="date" id="start_date" name="start_date" required style="width: 100%;"><br><br>

            <label for="finish_date">Project Deadline:</label><br>
            <input type="date" id="finish_date" name="finish_date" required style="width: 100%;"><br><br>

            <label for="description">Description</label><br>
            <input type="text" id="description" name="description" required style="width: 100%;"><br><br>

            {% comment %} <label for="fileInput">Select a file:</label>
            <input type="file" id="fileInput" name="fileInput" accept=".jpg, .jpeg, .png"> <br><br> {% endcomment %}
            <input type="submit" value="Submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; cursor: pointer; width: 100%;">
        </form>
    </div>
    

{% endblock %}

{% endblock %}
