

{% block menucard %}

{% for designations in user_designations %} 

    {% if user_extra_info.user_type == 'faculty' and designations.designation.name == 'dean_rspc' %}

        
        <a class="item" data-tab="forteenth">
            View Applications
        </a>

        <a class="item" data-tab="sixteenth">
           Change Status
        </a>

    {% endif %}
    {% endfor %}
    
    {% if user_extra_info.user_type == 'faculty' or user_extra_info.user_type == 'student' %} 
        {% if user_extra_info.user_type == 'faculty' %}
            <a class="item"  data-tab="fourth">File Patent</a>
            <a class="item"  data-tab="third">Add Research Group</a>
        {% endif %}
        
        <a class="item" data-tab="first">View Status</a>
        
        <a class="item" data-tab="second">
            View Research Groups
        </a>
    {% endif %}
            

{% endblock %}