{% load static %}

{% block projects %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="{% if mark5 != 1 and mark6 != 1 and mark7 != 1 %}active item{% else %} item {% endif %}" data-tab="research projects">
            Research Projects
        </a>
        <a class="{% if mark5 == 1 %}active item{% else %} item {% endif %}" data-tab="Consultancy project">
            Consultancy Projects
        </a>
        <a class="{% if mark7 == 1 %}active item{% else %} item {% endif %}" data-tab="technology transfer">
            Technology Transfers
        </a>
    </div>


    {% comment %}The  Research Project segment starts here!{% endcomment %}
    <div class="{% if mark5 != 1 and mark6 != 1 and mark7 != 1 %}ui active tab segment {% else %} ui tab segment {% endif %}" data-tab="research projects">
        {% if request.user == user %}<h4 class="ui dividing header" id="changes8">Add a Research Project</h4>
        <form class="ui form"  method="post" action="{% url 'research_procedures:project_insert' %}">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="researchZ" name="project_id"></div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Project Incharge(PI)</label>
                        <input placeholder="(PI)" type="text" id="researchA" name="pi" required>
                    </div>

                    <div class="field">
                        <label>Co-Project Incharge(CO-PI)</label>
                        <input placeholder="(CO-PI)" type="text" name="co_pi" id="researchE" required>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Funding Agency</label>
                <div class="fields">
                    <div class="twelve wide field">
                        <input placeholder="Publisher" id="researchC" type="text" name="funding_agency" required>
                    </div>

                    <div class="four wide field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="status" id="researchF" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Status</div>
                            <div class="menu">
                                <div class="item" data-value="Ongoing">Ongoing</div>
                                <div class="item" data-value="Completed">Completed</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <div class="field">
                            <label>Submission Date</label>
                             <div class="ui calendar" id="rangestart2">
                                      <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Submission" id="researchD" name="sub">
                                      </div>
                                </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="field">
                            <label>Start Date</label>
                             <div class="ui calendar" id="rangestart">
                                      <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Start" name="start" id="researchG" required>
                                      </div>
                                </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="field">
                            <label>Expected Finish Date</label>
                             <div class="ui calendar" id="rangeend">
                                      <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="End" name="end" id="researchH">
                                      </div>
                                </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="field">
                            <label>Financial Outlay</label>
                            <input placeholder="" type="text" name="financial_outlay" id="researchI" required>
                        </div>
                    </div>

                </div>


                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Title of Project</label>
                            <input placeholder="Title" id="researchB" type="text" name="title" required>
                        </div>
                    </div>
                </div>
            </div>
             <button class="ui right floated primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
            </button>
        </form>
        <br>
        {% endif %}
    </div>
    {% comment %}The Research project segment ends here!{% endcomment %}



    {% comment %}The Consultancy Project segment starts here!{% endcomment %}
    <div class="{% if mark5 == 1 %}ui active tab segment {% else %} ui tab segment {% endif %}" data-tab="Consultancy project">
        {% if request.user == user %}<h4 class="ui dividing header"  id="changes9">Add a Consultancy Project</h4>
        <form class="ui form"  method="post" action="{% url 'research_procedures:consult_insert' %}">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="consultancyZ" name="consultancy_id"></div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Consultant</label>
                        <input placeholder="Consultant" type="text"   name="consultants"  id="consultancyA" required>
                    </div>

                    <div class="field">
                        <label>Client</label>
                        <input placeholder="Client" type="text"  name="client" id="consultancyC" required>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Financial Outlay</label>
                <div class="fields">
                    <div class="six wide field">
                        <input placeholder="Publisher" type="number"   name="financial_outlay"  id="consultancyD" required>
                    </div>

                    <div class="four wide field">
                        <div class="field">
                             <div class="ui calendar" id="rangestart1">
                                      <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Start" name="start" id="consultancyE" required>
                                      </div>
                                </div>
                        </div>
                    </div>

                    <div class="four wide field">

                           <!--  <label>Period Of Consultancy</label> -->
                              <div class="ui calendar" id="rangeend1">
                                 <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="End" name="end" id="consultancyF" required>
                                      </div>
                            </div>


                    </div>
                </div>

                <div class="fields">
                    <div class="fourteen wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text"   name="title" id="consultancyB" required>
                        </div>
                    </div>

                        
                    
                </div>

            </div>
            <button class="ui right floated primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
            </button>
        </form>
        <br>
        {% endif %}
    </div>
    {% comment %}The Consultancy Project ends here!{% endcomment %}


    {% comment %}The Technology segment starts here!{% endcomment %}

    <div class="{% if mark7 == 1 %}ui active tab segment {% else %} ui tab segment {% endif %}" data-tab="technology transfer">
        {% if request.user == user %}<h4 class="ui dividing header" id="changes11">Add a Technology Transfer</h4>
        <form class="ui form"  method="post" action="{% url 'research_procedures:transfer_insert' %}">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="techZ" name="tech_id"></div>
            <div class="field">
                <div class="fourteen wide field">
                    <div class="field">
                        <label>Details</label>
                        <input placeholder="Details" type="text" id="techA" name="details" required>
                    </div>
                </div>

                
                   
            </div>
            <button class="ui right floated primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
            </button>
        </form>
        
        <br>
        {% endif %}

    </div>
    {% comment %}The Technology segment ends here!{% endcomment %}
{% endblock %}