{% load static %}
{% block buildings %}
{% load humanize %}

{% with tabnames="All Incomplete Complete" %}

<div class="ui pointing secondary menu">
    {% for tabname in tabnames.split %}
    <a class="blue {% if forloop.counter0 is 0 %}{{ "active" }}{% endif %} item"
        data-tab="{{ menuitem }}_{{ tabname }}">
        {{ tabname }}
    </a>
    {% endfor %}

</div>

{% comment %} {% if  %}{% else %}{% endif %} {% endcomment %}

{% include 'estate_module/'|add:menuitem|add:'/new.html' %}
{% include 'estate_module/'|add:menuitem|add:'/edit.html' %}

{% for tabname in tabnames.split %}
{% include 'estate_module/'|add:menuitem|add:'/tab.html' with tab_id=menuitem|add:'_'|add:tabname %}
{% endfor %}

{% endwith %}

{% endblock %}