
{% block sessionRoomAllotment%}
<!--
{% include 'officeModule/officeOfDeanStudents/newClubApprovalsModal.html' %}
-->
<h3>Club Session Room Approvals</h3>
<!--The tab menu starts here!-->
	<div class="ui pointing secondary menu">
        <a class=" active item" data-tab="club">
            Approvals
        </a>

        <a class="item" data-tab="past">
            Past
        </a>
    </div>

    <div class="ui active  tab segment" data-tab="club">
    <table class="ui very basic celled table">
    	<thead>
		<tr>
			<th></th>
			<th>Club Name</th>
			<th>Venue</th>
			<th>Date & Time</th>
			<th>Details</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<form method="post" action="">
			{% csrf_token %}
		<tr>
			{% for i in session_requests %}
			<td><input type="checkbox" name="check" value="{{i.pk}}"></td>
			<td onclick="view('{{ i.pk }}')">{{i.club}}</td>
			<td>{{i.venue}}</td>
			<td>{{i.date}}</td>
			<td>{{i.details}}</td>
		</tr>

			{% endfor %}
	</tbody>
    </table>
       <br>

            <button class="ui primary right floated button" type="submit" name="submit" id="approve" formaction="club_approval">Approve Selected</button>
            <button class="ui red right floated button" type="submit" name="submit" id="reject" formaction="club_rejection">Reject Selected</button>
            </form>
            <br>
            <br>

            <div class="ui divider"></div>
	</div>
<div class="ui  tab segment" data-tab="past">
  <table class="ui very basic celled table">
    	<thead>
		<tr>
			<th>Club Name</th>
			<th>Venue</th>
			<th>Date & Time</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		{% for i in session_requests %}
		<tr >

			<!--<td>{{i.status}}</td>-->
			<td>{{i.club}}</td>
			<td>{{i.venue}}</td>
			<td>{{i.date}}</td>
			<td>{{i.details}}</td>

		</tr>

			{% endfor %}
	</tbody>
    </table>
</div>
{% endblock sessionRoomAllotment%}
