{% extends 'programme_curriculum/common.html' %}
{% block sidetabmenu %}
    <div class="ui huge fluid vertical pointing menu"
        style="max-width: 320px;">
        <a class="item" href="{% url 'programme_curriculum:view_all_programmes' %}">Programmes
            <i class="right floated chevron right icon"></i>
        </a>
        <a class="item" href="{% url 'programme_curriculum:view_all_working_curriculums' %}">Curriculums
            <i class="right floated chevron right icon"></i>
        </a>
        <a class="item" href="{% url 'programme_curriculum:view_all_courses' %}">Courses
            <i class="right floated chevron right icon"></i>
        </a>
        <a class="item" href="{% url 'programme_curriculum:view_all_discplines' %}">Disciplines
            <i class="right floated chevron right icon"></i>
        </a>
        <a class="item" href="{% url 'programme_curriculum:view_all_batches' %}">Batches
            <i class="right floated chevron right icon"></i>
        </a>
        <div class="ui dropdown">
            <div class="item" >Course Proposal Form&nbsp<i class="dropdown icon"></i></div>
            
            <div class="menu">
              <a class="item" href="{% url 'programme_curriculum:view_course_proposal_forms' %}">Course Proposal Form
                <i class="right floated chevron right icon"></i>
              </a>
              <a class="item" href="{% url 'programme_curriculum:outward_files' %}">Course Proposal Tracking
                <i class="right floated chevron right icon"></i>
              </a>
              <a class="item" href="{% url 'programme_curriculum:inward_files' %}">Inward Files
                <i class="right floated chevron right icon"></i>
              </a>
            </div>
          </div>
          <script>
            $('.ui.dropdown').dropdown();
          </script>
    </div>
{% endblock %} 
{% load static %}
{% load static %}

{% block content %}

{%if data %}

<div style=" padding-left: 18px; padding-top: 10px; font-size:25px "><br>
    <center><span style="color: red;font-size:25px">{{ data }}</span></center>
</div>
{%endif%}
{%if not data %}
    <div class="ui pointing secondary menu">
        <h3>
            <a class="active item" data-tab="inward">
            Inward Files of "{{request.user.extrainfo.user}} - {{design}}"
            </a>
        </h3>

    </div>

    <div class="ui divider"></div>

    <table class="ui very basic celled sortable table">
        <thead>
        <tr>
            <th>Received as</th>
            <th>Send by</th>
            <th>File ID</th>
            <th>Remark</th>
            <th>Date</th>
            <th>View File</th>
            <th>Submit File</th>
<!--            <th>R/UnR</th>-->
        </tr>
        </thead>

        <tbody>
        {% for courseProposal in courseProposals %}
            <tr>
                <td>{{request.user.extrainfo.user}} - {{courseProposal.receive_design}}</td>
                <td>{{courseProposal.current_id}} - {{courseProposal.current_design}}</td>
                <td>{{courseProposal.file_id}}</td>
                <td>{{courseProposal.remarks}}</td>
                <td>{{courseProposal.receive_date}}</td>
                <td><a href="{% url 'programme_curriculum:view_inward_files' courseProposal.id %}"><button class="ui primary button">
                              View
                    </button></a></td>
                {%if not courseProposal.is_submitted %}
                <td><a href="{% url 'programme_curriculum:forward_course_forms' courseProposal.id %}"><button class="ui primary button">
                        Submit
                </button></a></td>{%endif%}







              </tr>
        {% endfor %}
        </tbody>

    </table>

    <br>
{%endif%}
{% endblock %}
