{% extends 'programme_curriculum/faculty/common.html' %}
{% block content %}
{%if data %}

<div style=" padding-left: 18px; padding-top: 10px; font-size:25px "><br>
    <center><span style="color: red;font-size:25px">{{ data }}</span></center>
</div>
{%endif%}
{%if not data %}
<div>
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="notesheet">
        <h3>New Course Proposal Forms</h3>
    </a>
    <a class="item" data-tab="attachments">
        <h3>Archived Files</h3>
    </a>
    

</div>
<div class="ui active tab" data-tab="notesheet">
    <div class="content">
        <div class="description" style="overflow: auto; max-height: 495px">
            <table class="ui celled medium table"
            style="text-align: center;
                margin: auto;">
               
                <thead>
                    <tr style="font-size: medium;
                        background-color: whitesmoke;">
                        <td><h4>Created As</h4></td>
                        <td><h4>Course Name</h4></td>
                        <td><h4>Course Code</h4></td>
                        <td><h4>View</h4></td>
                    </tr>
                </thead>
                <tbody>
                    {% for courseProposal in courseProposals %}
                    {%if not courseProposal.is_archive %}
                        <tr>
                            <td>{{ courseProposal.uploader }}  -  {{ courseProposal.designation }}</td>
                            <td>{{ courseProposal.name }}</td>
                            <td>{{ courseProposal.code }}</td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:view_a_course_proposal_form' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">VIEW</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:filetracking' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">Submit</div>
                                    <div class="hidden content">
                                    <i class="add icon"></i>
                                    </div>
                                </a>
                            </td>
                            <td class="collapsing"><a class="tiny ui grey button"  tabindex="0"
                                href="{% url 'programme_curriculum:file_archive' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">Archive</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {%endif%}

                    {% empty %}
                        <tr><td colspan="3">No Courses Proposals Submitted</td><tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ui tab" data-tab="attachments">
    <div class="content">
        <div class="description" style="overflow: auto; max-height: 495px">
            <table class="ui celled medium table"
            style="text-align: center;
                margin: auto;">
               
                <thead>
                    <tr style="font-size: medium;
                        background-color: whitesmoke;">
                        <td><h4>Created As</h4></td>
                        <td><h4>Course Name</h4></td>
                        <td><h4>Course Code</h4></td>
                        <td><h4>View</h4></td>
                    </tr>
                </thead>
                <tbody>
                    {% for courseProposal in courseProposals %}
                    {%if courseProposal.is_archive %}
                        <tr>
                            <td>{{ courseProposal.uploader }}  -  {{ courseProposal.designation }}</td>
                            <td>{{ courseProposal.name }}</td>
                            <td>{{ courseProposal.code }}</td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:view_a_course_proposal_form' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">VIEW</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                            <td class="collapsing"><a class="tiny ui grey button"  tabindex="0"
                                href="{% url 'programme_curriculum:file_unarchive' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">UnArchive</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                        </tr>

                        {%endif%}

                    {% empty %}
                        <tr><td colspan="3">No Courses Proposals Submitted</td><tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="notes">
        <h3>Update Proposal Forms</h3>
    </a>
    <a class="item" data-tab="attachs">
        <h3>Archived Files</h3>
    </a>

</div>
<div>
<div class="ui active tab" data-tab="notes">
    <div class="content">
        <div class="description" style="overflow: auto; max-height: 495px">
            <table class="ui celled medium table"
            style="text-align: center;
                margin: auto;">
               
                <thead>
                    <tr style="font-size: medium;
                        background-color: whitesmoke;">
                        <td><h4>Created As</h4></td>
                        <td><h4>Course Name</h4></td>
                        <td><h4>Course Code</h4></td>
                        <td><h4>View</h4></td>
                    </tr>
                </thead>
                <tbody>
                    {% for courseProposal in updateProposals %}
                    {%if not courseProposal.is_archive %}
                        <tr>
                            <td>{{ courseProposal.uploader }}  -  {{ courseProposal.designation }}</td>
                            <td>{{ courseProposal.name }}</td>
                            <td>{{ courseProposal.code }}</td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:view_a_course_proposal_form' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">VIEW</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:filetracking' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">Submit</div>
                                    <div class="hidden content">
                                    <i class="add icon"></i>
                                    </div>
                                </a>
                            </td>
                            <td class="collapsing"><a class="tiny ui grey button"  tabindex="0"
                                href="{% url 'programme_curriculum:file_archive' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">Archive</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {%endif%}

                    {% empty %}
                        <tr><td colspan="3">No Courses Proposals Submitted</td><tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ui tab" data-tab="attachs">
    <div class="content">
        <div class="description" style="overflow: auto; max-height: 495px">
            <table class="ui celled medium table"
            style="text-align: center;
                margin: auto;">
               
                <thead>
                    <tr style="font-size: medium;
                        background-color: whitesmoke;">
                        <td><h4>Created As</h4></td>
                        <td><h4>Course Name</h4></td>
                        <td><h4>Course Code</h4></td>
                        <td><h4>View</h4></td>
                    </tr>
                </thead>
                <tbody>
                    {% for courseProposal in updateProposals %}
                    {%if courseProposal.is_archive %}

                        <tr>
                            <td>{{ courseProposal.uploader }}  -  {{ courseProposal.designation }}</td>
                            <td>{{ courseProposal.name }}</td>
                            <td>{{ courseProposal.code }}</td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:view_a_course_proposal_form' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">VIEW</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                            <td class="collapsing"><a class="tiny ui grey button"  tabindex="0"
                                href="{% url 'programme_curriculum:file_unarchive' courseProposal.id%}"
                                type="Submit" name="Submit">
                                    <div class="visible content">UnArchive</div>
                                    <div class="hidden content">
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {%endif%}
                    {% empty %}
                        <tr><td colspan="3">No Courses Proposals Submitted</td><tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{%endif%}
{% endblock %}
{% block rightcontent %}
{%if not data %}

<br>
<br>
<div class="ui center aligned segment">
    <a class="fluid ui large primary animated button" tabindex="0"
        href="{% url 'programme_curriculum:new_course_proposal_file' %}"
        type="Submit" name="Submit" rel="noopener">
        <div class="visible content">ADD COURSE PROPOSAL FORM</div>
        <div class="hidden content">
        <i class="add icon"></i>
        </div>
    </a>
</div>
</div>

<div class="ui center aligned segment">
    <a class="fluid ui large primary animated button" tabindex="0"
        href="{% url 'programme_curriculum:faculty_view_all_courses' %}"
        type="Submit" name="Submit" rel="noopener">
        <div class="visible content">UPDATE COURSE PROPOSAL FORM</div>
        <div class="hidden content">
        <i class="add icon"></i>
        </div>
    </a>
</div>
<br>
{% block sidepanel%} 
    {% include 'notifications/programme_curriculum.html' %} 
    {% endblock %}
{%endif%}
{% endblock %}
