{% load static %}
{% block complainthistory %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="complainthistory">
            Drop Course(s)
        </a>
    </div>

    <div class="ui active tab" data-tab="complainthistory">
        <div class="ui vertical segment">
        {% if adc_flag %}
        {% if pre_register %}
        {% if final_r %}
        {% if courses_list %}
        <form id='drop_courses' action='/academic-procedures/dropCourse/' method='POST'>
        {% csrf_token %}

            <table class="ui very basic collapsing celled sortable table"
                   style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
                <thead>
                <tr>
                    <th>
                        #
                    </th>

                    <th>
                        Course ID
                    </th>

                    <th>
                        Course Name
                    </th>

                    <th>
                        Credits
                    </th>
                    <th>
                        Semester
                    </th>
                    <th>
                        Select Course
                    </th>
                </tr>
                </thead>

                <tbody>

                    {% for items in courses_list %}
                        {% for x in final_register %}

                            {% if items.course_id == x.course_id.course_id %}
                                <tr id="{{ items.course_id}}">
                                    <td>
                                    </td>
                                    <td>
                                        {{ items.course_id }}
                                        {% if items.optional %}
                                      <B>     <div style="color:green;">    (optional)</B> </div>

                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ items.course_name}}
                                    </td>
                                    <td>
                                        {{ items.credits }}
                                     </td>
                                     <td>
                                        {{items.sem}}
                                     </td>
                                    <td>
                                    <B>    {% if items.optional %}
                                            <input name="course_id" type="checkbox" value="{{ items.course_id }}">
                                        {% else %}
                                            <input name="course_id" type="checkbox" value="{{ items.course_id }}" onclick="return false;" hidden="True">
                                             <div style="color:red;"> (Compulsory) </div>
                                        {% endif %}</B>
                                        <input name="user" type="text" value="{{ x.student_id }}" hidden="True">
                                    </td>
                                </tr>
                            {% else %}

                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                 </tbody>
            </table>

            <br>
            <div class="ui divider"></div>
             <center><button class="ui negative basic button">Drop Course(s)</button></center>
        </form>
        {% else %}
          <B> YOU HAVE NOT REGISTERED YET</B>
        {% endif %}
        {% else %}
            <B><center>You need to Register to add Course</center></B>
        {% endif %}
        {% else %}
            <B><center>You need to Register to add Course</center></B>
        {% endif %}
        {% else %}
            <b><center>You have to wait for the date</center></b>
        {% endif %}
        </div>
    </div>

{% endblock %}

<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    $("#drop_courses").submit(function(event) {
        event.preventDefault();
        var friendForm = $(this);
        var posting = $.post( friendForm.attr('action'), friendForm.serialize() );

        posting.done(function(data) {
            alert('Course Drop Successful');
            window.location = "/academic-procedures/main/";
        });
        posting.fail(function(data) {
            alert('Failed to drop a course');
            window.location = "/academic-procedures/main/";
        });
    });
});
</script>
