{% load static %}
{% block complainthistory %}

<center><b>Drop Course(s)</b></center>

<!-- <div class="ui active tab" data-tab="complainthistory">
    <div class="ui vertical segment">
        {% if adc_date_flag %}
                    {% if drop_courses_options %}
                        <form id='drop_courses' action='/academic-procedures/drop_course/'>
                        {% csrf_token %}
                            <input type="text" hidden="true" id="min_credit" value="{{ curr_sem.curriculum.min_credit }}">
                            <input type="text" hidden="true" id="cr_count" value="{{current_credits}}">
                            <table  class="ui very basic collapsing celled sortable table"               
                                    style= "padding-left: 2.5%;
                                            padding-right: 2.5%;
                                            padding-top: 1%;
                                            padding-bottom: 1.5%;
                                            margin: auto;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Credits</th>
                                    <th>Semester</th>
                                    <th>Select Course</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for items in drop_courses_options %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{ items.code }}
                                                </td>
                                                <td>{{ items.name}}</td>
                                                <td>{{ items.credit }}</td>
                                                <td>{{curr_sem.semester_no}}
                                                    <input type="text" name='semester' value='{{ curr_sem.id }}' hidden="True">
                                                </td>
                                                <td>
                                                    <input class="choice1" name = "choice" id="mycheck" type="checkbox" value="{{ items.id }}" data-valuetwo="{{items.credit}}">
                                                    <input type="text" name='user' value='{{ details.current_user}}' hidden="True">
                                                </td>
                                            </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <br>
                        <div class="ui divider"></div>
                        <center><button class="ui negative basic button">Drop Course(s)</button></center></form>
                    {% else %}
                        <center><B> No Courses to drop</B></center>
                    {% endif %}
        {% else %}
            <b><center>You have to wait for the date</center></b>
        {% endif %}
    </div>
</div>

{% endblock %}

<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    $("#drop_courses").submit(function(event) {

        var credits = parseInt(document.getElementById("cr_count").value);
        var min_credits = parseInt(document.getElementById("min_credit").value);
        var checkboxing = document.getElementsByClassName("choice1");
        var test =0;
        console.log(checkboxing)
        for(var i=0; i<checkboxing.length;i++){
            console.log(checkboxing)
            if(checkboxing[i].checked==true){
                credits = credits - parseInt(checkboxing[i].getAttribute("data-valuetwo"));
                test =test+1;
            }
        }

        if(credits < min_credits ){
            alert("You need to earn at least " + min_credits.toString() + " credits in one semester ");
            window.location = "/academic-procedures/main/" ;           
        }else if(test ==0 ){
            alert("please Select a course");
            window.location = "/academic-procedures/main/" ;           
        }else{
        event.preventDefault();
        var friendForm = $(this);
        var posting = $.post( friendForm.attr('action'), friendForm.serialize() );

        posting.done(function(data) {
            alert('Course Drop Successful');
            window.location = "/academic-procedures/main/";
        });
        posting.fail(function(data) {
            alert('Failed to drop a course');
            window.location = "/academic-procedures/main/";
        });
    }
    });
});
</script> -->

<!-- <script>
        function courseDropCalled(event) {
        // Prevent the default action of the link
        event.preventDefault();
        
        // Get the URL from the link's href attribute
        let url = event.target.href;

        // Perform AJAX request
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                // Reload the page after successful deletion
                alert('course dropped successfully')
            },
            error: function(xhr, status, error) {
                // Handle errors if needed
                console.error(error);
            }
        });
    }
</script> -->

<div class="ui active tab" data-tab="first-currsem">
    <div class="ui vertical segment">
        {% if drop_date_flag == True %}

            <table class="ui very basic collapsing celled sortable table"
                    style="padding-left: 2.5%;
                        padding-right: 2.5%;
                        padding-top: 1%;
                        padding-bottom: 1.5%;
                        /*margin: auto;*/
                        width: 100%">

                <thead>
                <tr>
                    <th style="width: 6%;"> <center>#</center></th>
                    <th style="width: 13%"><center>Course ID</center></th>
                    <th style="width: 50%"><center>Course Name</center></th>
                    <th style="width: 10%"><center>Credits</center></th>
                    <th style="width: 10%"><center>Registration Type</center></th>
                    <th style="width: 10%"><center>Semester</center></th>
                    <th style="width: 10%"></th>
                </tr>
                </thead>

                <tbody>
                {% for items in current_courseregistrations %}
                    <tr>
                    <td><center>{{ forloop.counter }}.</center></td>
                    <td><center>
                        <a href="{% url 'programme_curriculum:view_a_course' items.course_id.id %}">{{ items.course_id.code }}</a>
                    </td>
                    <td>
                        {{ items.course_id.name}}
                    </td>
                    <td>
                        <center>{{ items.course_id.credit }}</center>
                    </td>
                    <td>
                        <center>{{ items.registration_type }}</center>
                    </td>
                    <td>
                        <center>{{curr_sem.semester_no}}</center>
                    </td>
                    <td>
                        <A class="trigger-link ui blue label"
                                    href="/academic-procedures/api/stu/drop_course/?id={{ items.id|urlencode }}">
                                    DROP </A>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <b><center>You have to wait for the date</center></b>
        {% endif %}
    </div>
</div>




<script>
    $(document).ready(function () {
        // When the link is clicked
        let url = "";
        let rowToDelete;
        $('.trigger-link').on('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of the link
            url = event.target.href
            rowToDelete = $(this).closest('tr');
            $('#confirmation-modal').modal('show'); // Show the modal
            console.log(url)
        });

        // Handle Cancel button
        $('#cancel-button').on('click', function () {
            $('#confirmation-modal').modal('hide'); // Hide the modal
        });

        // Handle OK button
        $('#confirm-button').on('click', function () {
            $('#confirmation-modal').modal('hide'); // Hide the modal
            
            // Perform AJAX API call
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    rowToDelete.remove();
                    alert('course dropped successfully')
                },
                error: function(xhr, status, error) {
                    // Handle errors if needed
                    console.error(error);
                }
            });
        });
    });
</script>

<div class="ui modal" id="confirmation-modal">
    <div class="header">Confirmation Required</div>
    <div class="content">
        <p>Are you sure you want to proceed with this action? This action cannot be undone.</p>
    </div>
    <div class="actions">
        <button class="ui red button" id="cancel-button">Cancel</button>
        <button class="ui green button" id="confirm-button">OK</button>
    </div>
</div>
  
