{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{programme}}_{{batch}}_{{branch}} Results
    </title>

  </head>
<body>

<div style="text-align: right;"><h1><span style="font-weight: bold;">PDPM&nbsp;<br>INDIAN INSTITUTE OF
    INFORMATION TECHNOLOGY,<br>DESIGN &amp; MANUFACTURING, JABALPUR </span><br><span style="font-size: 10px; font-weight: normal;">(An Institute of National Importance established by an Act of Parliament)</span></h1></div>
<br>
<div style="text-align: center;text-decoration: underline;"><b>GRADE SHEET</b></div>


<table style="width: 100%;font-family:&quot;Times New Roman&quot;font-weight: bold;">
  <tr style="width: 100%;">
    <td style="width: 10%;"><b>Roll No.</b></td>
    <td style="width: 25%;"><b>2016159</b></td>
    <td style="width: 10%;"><b>Name</b></td>
    <td style="width: 50%;"><b>Mohit Singh Rajput</b></td>
  </tr>
  <tr style="width: 100%;">
    <td style="width: 10%;"><b>Programme</b></td>
    <td style="width: 25%;"><b>B.TECH.</b></td>
    <td style="width: 10%;"><b>Descipline</b></td>
    <td style="width: 50%;"><b>COMPUTER SCIENCE AND ENGINEERING</b></td>
  </tr>
</table>


<table style="width: 100%;font-family:&quot;Times New Roman&quot;font-weight: bold;">
 <tr><td colspan="6"><hr></td></tr>
  <tr style="width: 100%;">
    <td style="width: 20%;"><b><center>COURSE NO.</center></b></td>
    <td style="width: 60%;"><b>COURSE TITLE</b></td>
    <td style="width: 5%;"><b><center>UNIT</center></b></td>
    <td style="width: 5%;"><b><center>GRADE</center></b></td>

    <td style="width: 5%;"><b><center>SPI</center></b></td>
    <td style="width: 5%;"><b><center>CPI</center></b></td>
  </tr>
  <tr><td colspan="6"><hr></td></tr>
  <tr style="width: 100%;">
    <td style="width: 20%;"><b><center>COURSE NO.</center></b></td>
    <td style="width: 60%;"><b>COURSE TITLE</b></td>
    <td style="width: 5%;"><b><center>UNIT</center></b></td>
    <td style="width: 5%;"><b><center>GRADE</center></b></td>

    <td style="width: 5%;"><b><center>SPI</center></b></td>
    <td style="width: 5%;"><b><center>CPI</center></b></td>
  </tr>
</table>

<tr border="0"><td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="160"><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ES205</center></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="430">FUNDAMENTALS OF ROBOTICS</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="45" align="center">4&nbsp;&nbsp;</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="40">&nbsp;&nbsp;&nbsp;A+ </td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"></td>
</tr>
<tr border="0"><td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="160"><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MS201</center></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="430">MANAGEMENT CONCEPTS AND TECHNOLOGY</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="45" align="center">4&nbsp;&nbsp;</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="40">&nbsp;&nbsp;&nbsp;A </td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"></td>
</tr>
<tr border="0"><td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="160"><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CS203</center></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="430">COMPUTER ORGANIZATION AND ARCHITECTURE</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="45" align="center">4&nbsp;&nbsp;</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="40">&nbsp;&nbsp;&nbsp;A </td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"></td>
</tr>
<tr border="0"><td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="160"><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CS204</center></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="430">DESIGN AND ANALYSIS OF ALGORITHM</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="45" align="center">4&nbsp;&nbsp;</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="40">&nbsp;&nbsp;&nbsp;A+ </td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"></td>
</tr>
<tr border="0"><td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="160"><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CS205</center></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="430">DATA COMMUNICATION</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="45" align="center">2&nbsp;&nbsp;</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="40">&nbsp;&nbsp;&nbsp;A </td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"></td>
</tr>
<tr border="0"><td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="160"><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CS206L</center></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="430">LAB BASED PROJECT 1</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="45" align="center">2&nbsp;&nbsp;</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="40">&nbsp;&nbsp;&nbsp;A </td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"></td>
</tr>
<tr border="0"><td colspan="4"><b></b></td>
<td><b>9.4</b></td>
<td><b>9.3</b></td>
</tr>
<tr border="0"><td colspan="3"><b><font size="2" face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;ACADEMIC YEAR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017&nbsp;-&nbsp;18&nbsp;&nbsp;&nbsp;&nbsp;<font size="3" face="Times New Roman"> Special Semester</font></font></b></td>
</tr>
<tr border="0"><td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="160"><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PR201</center></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="430">PROJECT (OPTIONAL)</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="45" align="center">2&nbsp;&nbsp;</td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt" width="40">&nbsp;&nbsp;&nbsp;B </td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"></td>
</tr>
<tr border="0"><td colspan="4" style="font-family:&quot;Times New Roman&quot;;font-size:9pt"><b></b></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"><b>7.0</b></td>
<td style="font-family:&quot;Times New Roman&quot;;font-size:9pt"><b>9.2</b></td></tr></tbody></table></td></tr></tbody></table><br></div>


</body>

</html>