{% load static %}
<style>
.phd {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px; 
}

.thesis:hover {
  background-color: #ddd; 
}
.pthesis {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px; 
}

.pthesis:hover {
  background-color: #ddd; 
}

.panel {
  padding: 0 18px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

table{
    border: 1px;
    width: 100%;
    margin-bottom: 15px;
}


.td1{
    width: 18%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.td2{
    width: 30%;
        padding-bottom:15px;    
    padding-top: 15px;
}
.td3{
    width: 18%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.td4{
    width: 30%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.td5{
    width: 2%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.previous:hover {
      background-color: #ddd;
  color: black;
}
.bn button{
    float: right;
}
.approve{
    background-color: #55DB86;
    color: white;
}
.approve:hover{
    background-color: #2CC764;
    color:white;
}
.disapprove{
    background-color: #F54D69;
    color: white;
}
.disapprove:hover{
    background-color: #C54257;
    color:white;
}


</style>


{% block phdform %}

<div class="ui pointing secondary menu">
    <a class=" item active phdf" data-tab="pending_phd"  style="width: 30%;">
       <p style="margin-left: 15%;">Pending</p>
    </a>
</div>

<div class="ui active tab segment" data-tab="pending_phd">
    <div id="p1" class="ui vertical segment">
        {% if phdprogress_request_list %}
            {% for obj in phdprogress_request_list %}
            
                    <div  class="phd" id_phd="phd{{forloop.counter}}" id_pobject="{{obj.id}}">{{obj.student.id.user.username}}</div>
                <div class="panel" id="phd{{forloop.counter}}" hidden>
                    
                    <table>
                        <tr>
                            <td class="td1">Roll No.</td>
                            <td class="td5">:</td>
                            <td class="td2" style="font-weight: bold;">{{obj.student.id.user.username}}</td>
                            <td class="td3">Programme</td>
                            <td class="td5">:</td>
                            <td class="td4" style="font-weight: bold;">{{obj.student.programme}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Theme of Doctoral Work</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.theme}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Date and Time</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.seminar_date_time}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Place</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.place}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Work done till previous semester(Summarize briefly here)</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.work_done}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Specific contribution in current semester</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.specific_contri_curr_semester}}</td>
                        </tr>
                        <tr>
                            <td class="td1">In this semester, Future plan for the work to  br carried out(Summarize briefly here)</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.future_plan}}</td>
                        </tr>
                        <!-- <tr>
                            <td class="td1">Brief Report</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.brief_report}}</td>
                        </tr> -->
                        <tr>
                            <td class="td1">No. of Papers Submitted</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.papers_submitted}}</td>
                        </tr>
                        <tr>
                            <td class="td1">No. of papers Published/accepted in conference prooceedings </td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.papers_published}}</td>
                        </tr>
                        <tr>
                            <td class="td1">No. of Paper Presented in conferences/meetings/workshops(unpublished)</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.presented_papers}}</td>
                        </tr>
                      
                    </table>
                </div>
            
            {% endfor %}
        <div class="pform_class" hidden>
        <form id="phd_form" >{% csrf_token %}
            <div class="ui form" style="border: black" >
                <div class="field">
                    <select class="ui dropdown" name="quality_of_work">
                        <option selected disabled value="">Quality of work</option>
                        <option value="Excellent">Excellent</option>
                        <option value="Good">Good</option>
                        <option value="Unsatisfactory">Unsatisfactory</option>
                        <option value="Satisfactory">Satisfatory</option>
                    </select>
                </div>
                <div class="field">
                    <select class="ui dropdown" name="quantity_of_work" >
                        <option selected disabled value="">Quantity of work</option>
                        <option value="Enough">Enough</option>
                        <option value="Just Sufficient ">Just Sufficient</option>
                        <option value="Unsatisfactory">Insufficient</option>
                    </select>
                </div>
                <div class="field">
                    <select class="ui dropdown" name="grade" >
                        <option selected disabled value="">Grade</option>
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="B+">B+</option>
                        <option value="B">B</option>
                        <option value="C+">C+</option>
                        <option value="C">C</option>
                        <option value="D+">D+</option>
                        <option value="D">D</option>
                        <option value="F">F</option>
                        
                    </select>
                </div>
                <div class="field">
                    <select class="ui dropdown" name="continuation_enhancement" >
                        <option selected disabled value="">For continuation Enhancement of Assistantship</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="not applicable">Not Applicable</option>
                        
                    </select>
                </div>
                <div class="field">
                    <select class="ui dropdown" name="enhancement_of_assistantship" >
                        <option selected disabled value="">Enhancement of Assistantship(after end of two year)</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="not applicable">Not Applicable</option>
                        
                    </select>
                </div>
                <div class=" field">
                    <label>Expected period for Completion of programme</label>
                    <input type="number"  name="completion_period" value="0" />    
                </div>
                <div class="field">
                    <label>Panel Report</label>
                    <textarea rows="2" name="panel_report"  /></textarea>
                </div>
                <div class="field">
                    <label>Must give Annual Progress Seminar again</label>
                    <select class="ui dropdown" name="annual_progess" >
                        <option selected disabled value="">Select</option>
                        <option value="Give again">Give again</option>
                        <option value="Not Applicable">Not Applicable</option>
                        <option value="Approved">Approved</option>
                        
                    </select>
                </div>
                
                <div class="field">
                    <label>Suggestion</label>
                    <textarea rows="2" name="Suggestion" /></textarea>
                </div>
                <br>
                <div class="ui divider"></div><br>
                <div class="bn"><div href="" class="pprevious" style="text-decoration: none;
                                                                                display: inline-block;
                                                                                padding: 8px 16px;
                                                                                cursor: pointer;">&laquo; Back</div>
                <button class="ui primary button" style="background-color: green" name="approve" value="yes">Submit</button> 
                </div>  
            </div>
        </form>
        </div>
        {% else %}
       <h3>no requests</h3>
       {% endif %}

    </div>
</div>

{% endblock %}

<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
<script type="text/javascript">



$(function() {
    
    var obj_id;
    $(".phd").click(function(){
        id = $(this).attr("id_phd");
        $("#"+id).show();
        $(".phd").hide();
        $(".pform_class").show();
        obj_id = $(this).attr("id_pobject");
        
    });
    $(".pprevious").click(function(){
        $("#"+id).hide();
        $(".phd").show();
        $(".pform_class").hide();
    });


    $("#phd_form").submit(function(event) {

    event.preventDefault();
    var form = document.getElementById("phd_form");
    var quality = $('[name=quality_of_work]').val();
    var quantity = $('[name=quantity_of_work]').val();
    var grade = $('[name=grade]').val();
    var continuationa =$('[name=continuation_enhancement]').val();
    var enhancementa = $('[name=enhancement_of_assistantship]').val();
    var completionperiod = $('[name=completion_period]').val();
    var pr = $('[name=panel_report]').val();
    var annualp =$('[name=annual_progess]').val();
    var sugg = $('[name=Suggestion]').val();
    var message="";
    
    for(var i=0;i<form.length;i++){
        if(form.elements[i].name=="grade")
        grade=form.elements[i].value;
        if( form.elements[i].value==="")
        message = message + "<p><b>Please fill the " + form.elements[i].name + " field.</b></p>" ;
    }

    if(message != "")
    {   console.log(message);
        $("#errorContent").html(message);
        $(".formErrors").modal("show") ;
    }
    else{

    $.ajax({
    type:"POST",
    url: "/academic-procedures/update_phdform/",
    data:{
         obj_id : obj_id,
         quality :quality,
         quantity : quantity,
         grade : grade,
         continuationa : continuationa,
         enhancementa : enhancementa,
         completionperiod : completionperiod,
         pr : pr,
         annualp : annualp,
         sugg : sugg,
         csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function( response ) 
    {   response = JSON.parse(response)
        
        if(response == "success")
           {
            $(".succ").modal("show");
           }
        // alert('done');
        // window.location = "/academic-procedures/fac/";
        form.reset();
    }
    });

    }

  });

});


</script>