{% load static %}
{% block finalregister %}

    {% comment %}The tab menu starts here!{% endcomment %}

        <center><b>Available Courses for Next Semester</b></center>
        <div class="ui vertical segment">
              <table class="ui very basic collapsing celled sortable table"
                   style="padding-left: 2.5%;
                          padding-right: 2.5%;
                          padding-top: 1%;
                          padding-bottom: 1.5%;
                          margin: auto;">

                <thead>
                  <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Credits</th>
                    <th>Semester</th>
                  </tr>
                </thead>

                <tbody>
                    {% for item in courses_list %}
                      {% for items in item.courses.all %}
                      <tr>
                            <td>
                              {{ items.code }}
                            </td>
                            <td>
                                {{ items.name}}
                            </td>
                            <td>
                                {{ items.credit }}
                            </td>
                            <td>
                                {{next_sem.semester_no}}
                            </td>
                      </tr>
                      {% endfor %}
                    {% endfor %}
                </tbody>
            </table>


        </div>


{% endblock %}
