{% load static %}
<style>
.dues {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px; 
}

.thesis:hover {
  background-color: #ddd; 
}
.pthesis {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px; 
}

.pthesis:hover {
  background-color: #ddd; 
}

.panel {
  padding: 0 18px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

table{
    border: 1px;
    width: 100%;
    margin-bottom: 15px;
}


.td1{
    width: 28%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.td2{
    width: 30%;
        padding-bottom:15px;    
    padding-top: 15px;
}
.td3{
    width: 18%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.td4{
    width: 30%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.td5{
    width: 2%;
    padding-bottom:15px;    
    padding-top: 15px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.previous:hover {
      background-color: #ddd;
  color: black;
}
.bn button{
    float: right;
}
.approve{
    background-color: #55DB86;
    color: white;
}
.approve:hover{
    background-color: #2CC764;
    color:white;
}
.disapprove{
    background-color: #F54D69;
    color: white;
}
.disapprove:hover{
    background-color: #C54257;
    color:white;
}


</style>



{% block phdform %}
<div class="ui pointing secondary menu">
    <a class=" item" data-tab="btech2016">
        UG-2016
    </a>
    <a class="active item" data-tab="btech2017">
        UG-2017
    </a>
    <a class=" item" data-tab="btech2018">
        UG-2018
    </a>
    <a class="item" data-tab="btech2019">
        UG-2019
    </a>
    <a class="item" data-tab="mtech2018">
        MTECH-2018
    </a>
    <a class="item" data-tab="mtech2019">
        MTECH-2019
    </a>
</div>

<div class="ui active tab segment" data-tab="btech2017">
    <div id="p1" class="ui vertical segment">
        {% if dues %}
            {% for obj in dues %}
            {% if obj.student_id.batch == 2017 %}
                    <div  class="dues" id_b="btech2017{{forloop.counter}}" id_dobject="{{obj.id}}">{{obj.student_id}}</div>
                <div class="panel" id="btech2017{{forloop.counter}}" hidden>
                    
                    <table>
                        <tr>
                            <td class="td1">Roll No.</td>
                            <td class="td5">:</td>
                            <td class="td2" style="font-weight: bold;">{{obj.student_id}}</td>
                            <td class="td3">Name</td>
                            <td class="td5">:</td>
                            <td class="td4" style="font-weight: bold;">{{obj.student_id.id.user.first_name}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Current Mess Due</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.mess_due}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Current Hostel Due</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.hostel_due}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Current Library Due</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.library_due}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Current Placement Cell Due</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.placement_cell_due}}</td>
                        </tr>
                        <tr>
                            <td class="td1">Current Academic Due</td>
                            <td class="td5">:</td>
                            <td colspan="4" style="font-weight: bold;">{{obj.academic_due}}</td>
                        </tr>
                      
                    </table>
                </div>
            {% endif %}
            {% endfor %}
        <div class="dform_class" hidden>
        <form id="dues_form" >{% csrf_token %}
            <div class="ui form" style="border: black" >
                <div class=" field">
                    <label>Mess Due</label>
                    <input type="number"  name="messdue" value="0" required/>    
                </div>
                <div class=" field">
                    <label>Hostel Due</label>
                    <input type="number"  name="hosteldue" value="0" required/>    
                </div>
                <div class=" field">
                    <label>Library Due</label>
                    <input type="number"  name="librarydue" value="0" required/>    
                </div>
                <div class=" field">
                    <label>Placement Cell Due</label>
                    <input type="number"  name="placementcell" value="0" required/>    
                </div>
                <div class=" field">
                    <label>Academic Due</label>
                    <input type="number"  name="academicdue" value="0" required/>    
                </div>
                
                <br>
                <div class="ui divider"></div><br>
                <div class="bn"><div href="" class="dueprevious" style="text-decoration: none;
                                                                                display: inline-block;
                                                                                padding: 8px 16px;
                                                                                cursor: pointer;">&laquo; Back</div>
                <button class="ui primary button" style="background-color: green" name="approve" value="yes">Submit</button> 
                </div>  
            </div>
        </form>
        </div>
        {% else %}
       <h3>no requests</h3>
       {% endif %}

    </div>
</div>
{% endblock %}
<div class="ui basic modal succ">
    <div class="ui icon header">
      <i class="bell icon"></i>
      <a class="ui green label">Success</a>
    </div>
    <div class="content" id="modalBody">
      <p><center><b>Successfully Submitted</b></center></p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Cancel
      </div>
    </div>
  </div>

<div class="ui basic modal formErrors">
    <div class="ui icon header">
      <i class="bell icon"></i>
      <a class="ui red label">Error</a>
    </div>
    <div class="content">
      <center>
          <div id="errorContent">
              <p><b>All the fields are required except session poster</b></p>
          </div>
      </center>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Cancel
      </div>
    </div>
  </div>
<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
<script type="text/javascript">

// function myfun(){
    
//     document.getElementById('a1').style="display:none";
//     document.getElementById('a2').style="display:block";
//     document.getElementById('a3').style="display:none";

// }
// function myfu1(){
    
//     document.getElementById('m1').style="display:block";
//     // document.getElementById('a2').style="display:none";
//     //     document.getElementById('a3').style="display:none";


// }

// function myfun2(){
    
//     document.getElementById('a1').style="display:none";
//     document.getElementById('a2').style="display:none";
//         document.getElementById('a3').style="display:block";


// }


$(function() {
    
    var obj_id;
    $(".dues").click(function(){
        id = $(this).attr("id_b");
        $("#"+id).show();
        $(".dues").hide();
        $(".dform_class").show();
        obj_id = $(this).attr("id_dobject");
        
    });
    $(".dueprevious").click(function(){
        $("#"+id).hide();
        $(".dues").show();
        $(".dform_class").hide();
    });


    $("#dues_form").submit(function(event) {

    event.preventDefault();
    var md = $('[name=messdue]').val();
    var hd = $('[name=hosteldue]').val();
    var ld = $('[name=librarydue]').val();
    var pd = $('[name=placementcell]').val();
    var ad = $('[name=academicdue]').val();
    


    $.ajax({
    type:"POST",
    url: "/academic-procedures/update_dues/",
    data:{
         obj_id : obj_id,
         md : md,
         hd : hd,
         ld : ld,
         pd : pd,
         ad : ad,
         csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function(response) 
    {   response = JSON.parse(response);
        if(response === "success")
        {   
            $(".succ").modal("show");
            window.location = "/academic-procedures/fac/";
        }
        else 
        {
            $("#errorContent").html(response);
            $(".formErrors").modal('show');
        }
    }
    });

  });

});


</script>


    

    