<form>
    {% comment %}The add a new skill Accordian starts here!{% endcomment %}
    <div class="ui form" style="padding: 8px; padding-left: 56px; padding-right: 12px;">
        <div class="two fields">
            <div class="twelve wide field">
                <label>Staff Name</label>
                <input value="Search" class="ui search large input">
            </div>

            <div class="four wide field">
                <label><br></label>
                <button class="ui primary submit button">
                    Search
                    <i class="ui right floated search icon"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="ui divider"></div>

<table class="ui very basic collapsing celled sortable table"
       style="padding-left: 5%;
                                                          padding-right: 5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
    <thead>
    <tr>

        <th class="one wide column">
            Staff ID
        </th>

        <th class="six wide column">
            Name
        </th>

        <th class="four wide column">
            Department
        </th>

        <th class="four wide column">
            Basic info
        </th>

        <th class="one wide column">
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            ...
        </td>

        <td>
            ...
        </td>

        <td>
            ...
        </td>

        <td>
            ...
        </td>

        <td>
            <a class="ui inverted circular icon button" style="margin: auto;" target="_blank" href="">
                <i class="large external link alternate black icon"></i>
            </a>
        </td>
    </tr>

    </tbody>
</table>

<br>
<br>

<div class="ui divider"></div>

