{% extends 'filetracking/filetracking.html' %}
{% load static %}

{% block filetracking_tab %}
    <div class="ui pointing secondary menu">
        <h3>
            <a class="active item" data-tab="inward">
            Inward Files
            </a>
        </h3>

    </div>

    <div class="ui divider"></div>

    <table class="ui very basic celled sortable table">
        <thead>
        <tr>
            <th>From</th>
            <th>Received as</th>
            <th>File ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>View File</th>
        </tr>
        </thead>

        <tbody>
        {% for j in in_file %}
        <tr>

            <td>{{j.current_design}}</td>
            <td>{{j.receive_design}}</td>
            <td>{{j.file_id.uploader.department.name}}/{{j.file_id.upload_date.year}}/{{j.file_id.upload_date.month}}/#{{j.file_id.id}}  </td>
            <td>{{j.file_id.subject}}</td>
            <td>{{j.receive_date}}</td>
            <td><a href="{% url 'filetracking:forward' j.file_id.id %}"><button class="ui primary button">
                          View
                </button></a></td>
        </tr>

        {% endfor %}
        </tbody>

    </table>

    <br>

{% endblock %}
