{% extends "account/base.html" %}
{% block content %}
{% load i18n %}
{% load account socialaccount %}
{% load static semanticui %}

<!-- <div class="content">
  <img class="ui rounded centered small image"
       src="{% static 'globals/img/user.png' %}"
       style="margin-top: -27.5%; margin-left: 27.5%;"
       alt="User Image">
  <div class="ui huge centered header">
    Login
  </div>
</div> -->

<div class="content">
    <div>
        <h2 style="margin-bottom: 10px; text-align: center;">Forgot Your Password?</h2>
        <p style="text-align: center;">Enter your email address below, and we'll send you a link to reset your password.</p>
    </div>
    <form method="POST" class="ui form" style="margin-top: 2.5%;margin-bottom: 2.5%;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class = "fluid ui primary button"  type="submit" style="margin-top: 20px;margin-bottom:10px">Send Reset Link</button>
  </form>
</div>

{% if error_message %}
    <div id="error-popup" class="ui modal">
      <div class="header">Reset Failed</div>
      <div class="content">
        <ul>
            <li>{{ error_message }}</li>
          </ul>
      </div>
      <div class="actions">
        <div class="ui red ok button">OK</div>
      </div>
    </div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (document.getElementById('error-popup')) {
      $('#error-popup').modal({
        onApprove: function() {
          $('#error-popup').modal('hide');
        }
      }).modal('show');
    }
  });
</script>

{% endblock %}