{% load static %}

<div>
    <table border="1">
      <thead>
        <tr>
          <th>Hall</th>
          <th>Room Number</th>
          <th>Block Number</th>
          <th>Room Capacity</th>
          <th>Occupancy</th>
        </tr>
      </thead>
      <tbody>
        {% for room in allotted_rooms %}
        <tr>
          <td>{{ room.hall }}</td>
          <td>{{ room.room_no }}</td>
          <td>{{ room.block_no }}</td>
          <td>{{ room.room_cap }}</td>
          <td>{{ room.room_occupied }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

