{% block alloted_hostel_room %}
<div class="ui pointing secondary menu">

 {% comment %} {% for hall in all_hall %}
    <a class="{% if hall.hall_id == 'hall1' %}item active{% else %}item{% endif %}" data-tab={{hall.hall_id}}>
        Hall {{hall.hall_id.4}}
    </a>
{% endfor %} {% endcomment %}



  <a class="item active" data-tab="hall1">
    Hall 1
  </a>
  <a class="item" data-tab="hall3">
    Hall 3
  </a>
  <a class="item" data-tab="hall4">
    Hall 4
  </a>
  
  {% if user in hall_caretaker%}
    <a class="item" data-tab="add_student">
        Edit Student
    </a>
  {% endif %}

</div>


{% comment %} {% for hall in all_hall %}
    <div class="ui active tab" data-tab="hall1" >
        <div class="textLoader" style="max-height: 64vh; overflow-y: auto; overflow-x: hidden;">
            {% block {{hall.hall_id}} %}
                {% include 'hostelmanagement/halls.html' %}
            {% endblock %}
        </div>
    </div>
{% endfor %} {% endcomment %}

<div class="ui active tab" data-tab="hall1" >
    <div class="textLoader" style="max-height: 64vh; overflow-y: auto; overflow-x: hidden;">
        {% block hall1 %}
            {% include 'hostelmanagement/hall1.html' %}
        {% endblock %}
    </div>
</div>


<div class="ui tab" data-tab="hall3">
    <div class="textLoader" style="max-height: 64vh; overflow-y: auto; overflow-x: hidden;">
        {% block hall3 %}
            {% include 'hostelmanagement/hall3.html' %}
        {% endblock %}
    </div>
</div>


<div class="ui tab" data-tab="hall4">
    <div class="textLoader" style="max-height: 64vh; overflow-y: auto; overflow-x: hidden;">
            {% block hall4 %}
                {% include 'hostelmanagement/hall4.html' %}
            {% endblock %}
        
    </div>
</div>


 <div class="ui tab" data-tab="add_student">
    <div class="ui vertical segment">
        {% block add_student %}
            {% include 'hostelmanagement/add_student.html' %}
        {% endblock %}
    </div>
</div> 

<br>
<br>

<div class="ui divider"></div>

{% endblock %}