{% block attendance %}
<div class="ui secondary menu">

    <div class="ui floating dropdown labeled icon button">
    <i class="home icon"></i>
    <span class="text">Select Hall</span>
        <div class="menu">
        {% for hall in all_hall %}
            <a class="{% if hall.hall_id == current_hall %}item active{% else %}item{% endif %}" data-tab={{hall.hall_id}}>
                Hall {{hall.hall_id.4}}
            </a>
        {% endfor %}
        </div>
    </div>


<div class="right menu">
  {% if user in hall_caretaker%}
    <a class="item" data-tab="add_attendance">
        <i class="edit icon"></i>Add Attendance
    </a>
  {% endif %}
</div>

</div>


{% for hall in all_hall %}
    <div class="{% if hall.hall_id == current_hall %}ui active tab{% else %}ui tab{% endif %}" data-tab={{hall.hall_id}}>
        <div class="textLoader" style="max-height: 64vh; overflow-y: auto; overflow-x: hidden;">
            {% block {{hall.hall_id}} %}
                {% include 'hostelmanagement/hall_attendance.html' with hall_id=hall.hall_id %}
            {% endblock %}
        </div>
    </div>
{% endfor %}


 <div class="ui tab" data-tab="add_attendance">
    <div class="ui vertical segment">
        {% block add_attendance %}
            {% include 'hostelmanagement/add_attendance.html' %}
        {% endblock %}
    </div>
</div> 

<br>
<br>

<div class="ui divider"></div>

{% endblock %}