{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
Hostel
{% endblock %}


{% block body %}
{% block navBar %}
{% include 'dashboard/navbar.html' %}
{% endblock %}


<div class="ui stackable doubling grid">

    <div class="column"></div>

    <div class="three wide column">

        <div class="row">
            {% block userCard %}
            {% include 'globals/usercard.html' %}
            {% endblock %}
        </div>

        <div class="ui divider"></div>

        <div class="row">
            <div class="ui large fluid vertical pointing menu">

                {% if user.username in all_students_id or user in hall_caretaker or user in hall_warden %}
                <a class="active item" data-tab="first">
                    Students' Alloted Room
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}

                {% if user in hall_caretaker or user in hall_warden%}
                <a class="item" data-tab="second">
                    Staff's Schedule
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}

                {% if user.username in all_students_id or user in hall_caretaker or user in hall_warden %}
                <a class="item" data-tab="third">
                    Notice Board
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}


                {% if user.username in all_students_id %}
                <a class="item" data-tab="fine3">
                    My Fine
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}


                <!-- Start here -->
                {% if user.username in all_students_id %}
                <div class="ui dropdown item">
                    <i class="right floated chevron right icon"></i>
                    Leave
                    <div class="ui vertical pointing menu">

                        <!-- {% if user.username in all_students_id %}
                        <a class="item" data-tab="fifth" >
                            Complaint Form
                        </a>
                        {% endif %} -->

                        {% if user.username in all_students_id %}
                        <a class="item active" data-tab="sixth">
                            Leave Form
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                        {% if user.username in all_students_id %}
                        <a class="item" data-tab="seventh">
                            Leave Status
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endif %}

                <!-- End here -->
                {% if user in hall_caretaker%}
                <div class="ui dropdown item">
                    <i class="right floated chevron right icon"></i>
                    Fine
                    <div class="ui vertical pointing menu">

                        {% if user in hall_caretaker%}
                        <a class="item" data-tab="fine1">
                            Impose Fine
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                        {% if user in hall_caretaker%}
                        <a class="item" data-tab="fine2">
                            All Fines
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endif %}

                <!-- Ends here  -->
                {% if user in hall_caretaker or user in hall_warden %}
                <div class="ui dropdown item">
                    <i class="right floated chevron right icon"></i>
                    Student
                    <div class="ui vertical pointing menu">

                        {% if user in hall_caretaker or user in hall_warden %}
                        <a class="item" data-tab="eleventh">
                            Hall Students
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                        {% if user in hall_caretaker %}
                        <a class="item" data-tab="fourth">
                            Student Attendance
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endif %}

                <!-- Ends here  -->
                {% if user in hall_caretaker or user in hall_warden %}
                <div class="ui dropdown item">
                    <i class="right floated chevron right icon"></i>
                    Requests
                    <div class="ui vertical pointing menu">

                        {% if user in hall_caretaker or user in hall_warden %}
                        <a class="item" data-tab="eighth">
                            Leave Requests
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                        {% if user in hall_caretaker%}
                        <a class="item" data-tab="guest2">
                            Guest Room requests
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endif %}

                <!-- Ends here  -->
                {% if user.username in all_students_id %}
                <div class="ui dropdown item">
                    Guest Room
                    <i class="right floated chevron right icon"></i>
                    <div class="ui vertical pointing menu">

                        {% if user.username in all_students_id %}
                        <a class="item" data-tab="guest1">
                            Book Guest Room
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                        {% if user.username in all_students_id %}
                        <a class="item" data-tab="guest3">
                            Your Bookings
                            <i class="right floated chevron right icon"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endif %}

                    
<!-- Ends here  -->
                    

                    <!-- {% if user in hall_caretaker or user in hall_warden %}
                    <a class="item" data-tab="nineth" >
                        Complaints
                        <i class="right floated chevron right icon"></i>
                    </a>
                    {% endif %} -->

                    <!-- This should be only in hall_caretaker -->
                    <!-- {% if user in hall_caretaker %}
                    <a class="item" data-tab="tenth" >
                        Inventory Form
                        <i class="right floated chevron right icon"></i>
                    </a>
                    {% endif %} -->

                

                {% if is_superuser %}
                <a class="item" data-tab="superUser1">
                    Manage Hostel
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}

                {% if is_superuser %}
                <a class="item" data-tab="superUser2">
                    Manage Caretaker
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}

                {% if is_superuser %}
                <a class="item" data-tab="superUser3">
                    Manage Warden
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}

                {% if is_superuser %}
                <a class="item" data-tab="superUser4">
                    Add Hostel
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}

                {% if is_superuser %}
                <a class="item" data-tab="superUser5">
                    View Hostels
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}


                {% if is_superuser %}
                <a class="item" data-tab="superUser6">
                    Transactions
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}

                {% if is_superuser %}
                <a class="item" data-tab="superUser7">
                    Hostel History
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %}


                <!-- {% if user in hall_caretaker%}
                <a class="item" data-tab="inventory1">
                    Inventory list
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %} -->

            </div>

        </div>

    </div>


    <div class="eight wide column">
        <div class="ui active tab segment" data-tab="first">
            {% block alloted_hostel_room %}
            {% include 'hostelmanagement/alloted_hostel_room.html'%}
            {% endblock %}
        </div>


        {% if user in hall_caretaker or user in hall_warden%}
        <div class="ui tab segment" data-tab="second">
            {% block staff_schedule %}
            {% include 'hostelmanagement/staff_schedule.html'%}
            {% endblock %}
        </div>
        {% endif %}


        <div class="ui tab segment" data-tab="third">
            {% block notice_board %}
            {% include 'hostelmanagement/notice.html'%}
            {% endblock %}
        </div>

        <div class="ui tab segment" data-tab="fourth">
            {% block attendance %}
            {% include 'hostelmanagement/attendance.html' %}
            {% endblock %}
        </div>

        <div class="ui tab segment" data-tab="fifth">
            {% block post_complaint_form %}
            {% include 'hostelmanagement/post_complaint_form.html' %}
            {% endblock %}
        </div>

        <div class="ui tab segment" data-tab="sixth">
            {% block create_leave%}
            {% include 'hostelmanagement/create_leave.html' %}
            {% endblock %}
        </div>

        <div class="ui tab segment" data-tab="seventh">
            {% block leave_status %}
            {% include 'hostelmanagement/my_leaves.html' %}
            {% endblock %}
        </div>

        <div class="ui tab segment" data-tab="eighth">
            {% block leave_requests %}
            {% include 'hostelmanagement/all_leave_data.html' %}
            {% endblock %}
        </div>

        <div class="ui tab segment" data-tab="nineth">
            {% block all_complaints %}
            {% include 'hostelmanagement/hostel_complaint.html' %}
            {% endblock %}
        </div>

        <div class="ui tab segment" data-tab="tenth">
            {% block inventory_form %}
            {% include 'hostelmanagement/inventory_form.html' %}
            {% endblock %}
        </div>


        <div class="ui tab segment" data-tab="eleventh">
            {% block hall_all_students %}
            {% include 'hostelmanagement/student_details.html' %}
            {% endblock %}
        </div>


        {% if user.username in all_students_id %}
        <div class="ui tab segment" data-tab="guest1">
            {% block book_guest_room %}
            {% include 'hostelmanagement/book_guest_room.html' %}
            {% endblock %}
        </div>
        {% endif %}


        {% if user in hall_caretaker %}
        <div class="ui tab segment" data-tab="guest2">
            {% block request_list %}
            {% include 'hostelmanagement/update_guest_room.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if user.username in all_students_id %}
        <div class="ui tab segment" data-tab="guest3">
            {% block book_guest_room_status %}
            {% include 'hostelmanagement/book_guest_room_status.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if is_superuser %}
        <div class="ui tab segment" data-tab="superUser1">
            {% block manage_Hostel %}
            {% include 'hostelmanagement/assign_batch.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if is_superuser %}
        <div class="ui tab segment" data-tab="superUser2">
            {% block manage_Caretaker %}
            {% include 'hostelmanagement/assign_caretaker.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if is_superuser %}
        <div class="ui tab segment" data-tab="superUser3">
            {% block manage_Warden %}
            {% include 'hostelmanagement/assign_warden.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if is_superuser %}
        <div class="ui tab segment" data-tab="superUser4">
            {% block Add_hostel %}
            {% include 'hostelmanagement/add_hostel.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if is_superuser %}
        <div class="ui tab segment" data-tab="superUser6">

            {% block Hostel_Transactions %}
            {% include 'hostelmanagement/hostel_transactions.html' %}
            {% endblock %}
        </div>
        {% endif %}


        {% if is_superuser %}
        <div class="ui tab segment" data-tab="superUser7">
            {% block Hostel_history %}
            {% include 'hostelmanagement/hostel_history.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if is_superuser %}
        <div class="ui tab segment" data-tab="superUser5">
            {% block View_Hostels %}
            {% include 'hostelmanagement/admin_hostel_list.html' %}
            {% endblock %}
        </div>
        {% endif %}






        {% if user in hall_caretaker%}
        <div class="ui tab segment" data-tab="fine1">
            {% block Impose_fine %}
            {% include 'hostelmanagement/impose_fine.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if user in hall_caretaker%}
        <div class="ui tab segment" data-tab="fine2">
            {% block fine_list %}
            {% include 'hostelmanagement/hostel_fine_list.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if user in hall_caretaker %}
        <div class="ui tab segment" data-tab="inventory1">
            {% block inventory_list %}
            {% include 'hostelmanagement/inventory_list.html' %}
            {% endblock %}
        </div>
        {% endif %}

        {% if user.username in all_students_id %}
        <div class="ui tab segment" data-tab="fine3">
            {% block my_fine %}
            {% include 'hostelmanagement/student_fine_details.html' %}
            {% endblock %}
        </div>
        {% endif %}

    </div>
  




</div>


{% endblock %}
{% block javascript %}
<script>
    function checkInputs(form_id) {
        var inputs = document.getElementById(form_id).elements;

        // Iterate over the form controls
        for (i = 0; i < inputs.length; i++) {
            if (inputs[i].hasAttribute('required') && inputs[i].value === "") {
                alert("Please fill the required details");
                return;
            }
        }
    };

    function checkTimes() {
        const start_time = document.getElementsByName("start_time")[0].value;
        const end_time = document.getElementsByName("end_time")[0].value;

        const [start_hour, start_mins] = start_time.split(':').map(x => parseInt(x, 10));
        const [end_hour, end_mins] = end_time.split(':').map(x => parseInt(x, 10));

        if (start_hour * 60 + start_mins >= end_hour * 60 + end_mins) {
            alert("Start time cannot be later than end time of the worker shift!");
            return false;
        }
        return true;
    }
</script>
{% endblock %}