<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Leaves</title>
</head>
<body>
    <h1>My Leaves</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Reason</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in leaves %}
            <tr>
                <td>{{ leave.student_name }}</td>
                <td>{{ leave.reason }}</td>
                <td>{{ leave.start_date }}</td>
                <td>{{ leave.end_date }}</td>
                <td>{{ leave.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
