{% load static %}

<!-- Comments Header -->
<div style="font-size: 20px; color: #6698FF;" class="header">
	Comments
	<i class="ui right labeled icon caret right"></i>
</div>

<!-- Scrollable Comments Section -->
<div class="hidden">
	<div id="style-1" class="ui message scrollbar">
		<!-- <div class="ui segment force-overflow"> -->
		{% for comment in question.comments_set.all|dictsortreversed:"commented_at" %}						
			<br>
			<div id="comment{{comment.id}}">
			<div style="display: inline;">
				<a href=""><img class="ui avatar image" src="{% static 'globals/img/zlatan.jpg' %}"></a>
			</div>
			<span style="font-size: 15px; padding-left: 5px;" id="comment{{question.id}}-{{comment.id}}">{{ comment.comment_text }}</span>
			<footer style="color: rgba(0,0,0,.6); padding-left: 50px;">
				<small>-<a href="{% url 'feeds:profile' comment.user.username%}">{{comment.user}}</a> | {{comment.commented_at|timesince}} ago</small>
			</footer>

			<!-- Comment_Like Button Section starts here -->
			<div style="display: inline;" id="like-section-comment{{comment.id}}">
				{% include 'feeds/like_section_comment.html' %}		
			</div>
			<!-- Comment Like Button section ends here -->

			<button class="ui button" style="background-color: transparent;" onclick="reply_btn('{{comment.id}}');">
				<span style="color: #6495ed;font-size: 12px;">Replies({{comment.reply_set.count}})</span>
			</button>
			{% if comment.user == request.user %}

			<button class="ui button" style="background-color: transparent;" onclick="edit_reply_btn('{{question.id}}','{{comment.id}}');">
				<span style="color: #6495ed;font-size: 12px;">- edit</span>
			</button>
			
			<button class="ui button" style="background-color: transparent;" onclick="delete_reply_btn('{{question.id}}','{{comment.id}}');">
				<span style="color: #6495ed;font-size: 12px;">- delete</span>
			</button>

			<!-- Modal for delete comment -->
			<div class="ui modal" id="delete_comment_modal{{question.id}}-{{comment.id}}">
				<div class="ui header">
					<i class="ui user icon"></i>
					{{ username }}
				</div>

				<div class="content">
					<div class="ui warning message segment">
						<p> Are you sure you want to delete this Comment? </p>
					</div>

					<form method="post"  class="delete_comment" id={{question.id}}-{{comment.id}}>
						<a class="ui item">
							<button class="ui button" type="submit" name="delete" value="delete">
							<i class="trash icon" id="delete"></i>Delete Comment 
							</button>
						</a>
					</form>
				</div>

			</div>
			<!-- Modal ends here -->

			<!-- Modal for edit comment -->
			<div class="ui modal" id="edit_comment_modal{{question.id}}-{{comment.id}}">
				<i class="close icon"></i>
				<div class="header">Edit Your Comment</div>
				<div class="scrolling content">
					<form class="edit_comment_form" id={{question.id}}-{{comment.id}}>
						<textarea class=" wmd-input" cols="40" id="edit_comment_content{{question.id}}-{{comment.id}}" name="content" rows="10" required="">{{comment.comment_text}}</textarea>
						<br><br>
						<div class="actions">
							<input style="float: right;" class="ui primary button" type="submit" name="edit_comment_button" id="edit_comment_button{{question.id}}-{{comment.id}}">
						</div>
					</form>
					<br><br>
				</div>
			</div>
			<!-- Modal ends here -->
			{% endif %}
			
			<div id="reply{{comment.id}}" style="display: none;">
				<div class="ui grid">
					<div class="ui two wide column"></div>

					<div class="ui fourteen wide column">
						<blockquote style="margin-left: 15px;">		
							<form id="{{comment.id}}" class="reply-form">{% csrf_token %}
								<div style="display: none;" id="unique_{{comment.id}}">{{question.id}}</div>
								<div class="ui form">
									<div class="field">
										<textarea id="reply_text{{comment.id}}" name="reply_text" rows=2 cols="10" required></textarea>
									</div>
									<input type="hidden" name="ques" value="{{question.id}}">
									<input class="ui mini blue basic button" type="submit" name="reply_button" value="Submit">
								</div>
							</form>
							<br>
							<p style="font-style: italic; font-weight: bold;">
								{{comment.reply_set.count}} replies
							</p>
							<hr>
							<br>
							<div style="left: 40px; border-left: 100px solid #d9deea;border-left-width: 1px; border-left-style: solid; border-left-color: rgb(217, 222, 234);">
							{% for reply in comment.reply_set.all|dictsortreversed:"replied_at" %}
								{{reply.content}}
								<footer>
									<small style="color: rgba(0,0,0,.6);">-{{reply.user}} | {{reply.replied_at|timesince}} ago</small>
								</footer>
								<!-- <p style="color: rgba(0,0,0,.6); padding-left: 3px;"></p> -->
								<div class="ui divider"></div>
							{% endfor %}
							</div>
						</blockquote>
					</div>
				</div>
			</div>

			<div class="ui divider"></div>	
		</div>
		{% empty %}
			<p>No comments here yet :(</p>
		{% endfor %}
	<!-- </div> -->
</div>
</div>