{% load static %}

{% comment %}The tab menu starts here!{% endcomment %}


    
<div class="ui vertical segment">
    <form id="add_expenditure_type_form" action='/incomeExpenditure/addExpenditureType/'>{% csrf_token %}
        <div class="ui form" style="border: black" >

            <div class="field">          
                <input placeholder="Expenditure Type" name='expenditure_type' required="true" type="text"><br>            
            </div>
            <br>

        </div><br>
        <div class="ui divider"></div><br>
        <center> <button class="ui primary button">Add</button></center>
    </form>
</div>


<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    $("#add_expenditure_type_form").submit(function(event) {

        event.preventDefault();
        var friendForm = $(this);

        var posting = $.post( friendForm.attr('action'), friendForm.serialize() );
        posting.done(function(data) {
            alert('Expenditure Type added Successfully');
            window.location = "/income-expenditure/main/";
        });
        posting.fail(function(data) {
            alert('Failed to add');
            window.location = "/income-expenditure/main/";
        });
    });
});
</script>
