{% load static %}
{% block complainthistory %}

{% comment %}The tab menu starts here!{% endcomment %}


<div class="ui active tab" data-tab="complainthistory">
    
    <div class="ui vertical segment">
        {% if sthesis_flag %}
        <B>You can only have one thesis per semester</B>
        {% else %}  
        <form id="add_thesis_form" action='/academic-procedures/addThesis/'>{% csrf_token %}
            <div class="ui form" style="border: black" > 
                    <div class="field">
                        <select class="ui dropdown" name="curr_id">
                            <option value="">Income Source</option>
                            {% for i in currently_registered %}
                            <option value="{{ i.curriculum_id }}">{{i.course_code}}</option>>
                            {% endfor%}
                        </select>
                    </div>
                <div class="two fields">          
                    <input placeholder="Amount" name='Amount' required="true" type="number"><br>                
                </div>
                <div class="two fields">
                    <div class = "field">
                        <input placeholder =" " name = "date" required="true" type="date">
                    </div>
                    
                    <div class = "field">
                        <input placeholder ="Choose File " name = "reciept"  type="file">
                    </div>
                </div>
               
                <div class="two fields">
                    <div class = "field">
                        <input placeholder ="Granted By " name = "granted_by"  type="text">
                    </div>
                    
                    <div class = "field">
                        <input placeholder ="Source Account " name = "source_account"  type="text">
                    </div>
                </div>
                
                <br>

                <input type="text" name='user' value='{{ details.current_user}}' hidden="True">
                <input type="text" name='by' value="st" hidden="True">

            </div><br>
            <div class="ui divider"></div><br>
            <center> <button class="ui primary button">Add Income</button></center>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}


<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    $("#add_thesis_form").submit(function(event) {

        event.preventDefault();
        var friendForm = $(this);

        var posting = $.post( friendForm.attr('action'), friendForm.serialize() );
        posting.done(function(data) {
            alert('Thesis Topic Successfully Submitted');
            window.location = "/income-expenditure/main/";
        });
        posting.fail(function(data) {
            alert('Failed to add');
            window.location = "/income-expenditure/main/";
        });
    });
});
</script>
