<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Sheet</title>
    <style>
        body {
  
  margin: auto;
  margin-left: 20% ;
  
 
}
h2{
    margin-left: 25%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td,th{
    height: 25px;
}
    </style>
    
</head>
<body>
    <h2>Balance Sheet</h2>
    <table style="width:60%">
        <tr>
          <th><b>SOURCES OF FUNDS</b></th>
          <th>Amount (Rs.)</th> 
          
        </tr>
        {% for item in fixedDetails %}
        <tr>
            <td>{{item.attribute}}</td>
            <td>{{item.value}}</td>
            
          </tr>
          {% endfor %}
       
      </table>
      <br>
      <br>
      <table style="width:60%">
        <tr>
          <th><b>Particulars</b></th>
          <th style="width: 50%;">Amount (Rs.)</th> 
          
        </tr>
        <tr>
          <td><b>A. INCOME :</b></td>
          <td></td>
          
        </tr>
        
        
        
        {% for type in incomeTypes %}
        
        <tr>
            <td>
                {{ type.income_source }}
            </td>
            {% if type.income_source in incomeDetails %}
            <td>
                

                {% for key,value in incomeDetails.items %}
                {% if key == type.income_source %}
                    {{value}}
                {% endif %}
                {% endfor %}

                
            </td>
            {% else %}
            <td>
                0
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        



        <tr>
            <td><b>Total (A):</b></td>
            <td>{{ incomeSum }}</td>
        </tr>
        <tr>
            <td >&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td><b>B. EXPENDITURE:</b></td>
            <td></td>
        </tr>
        
        {% for type in expenditureTypes %}
        
        <tr>
            <td>
                {{ type.expenditure_type }}
            </td>
            {% if type.expenditure_type in expenditureDetails %}
            <td>
                

                {% for key,value in expenditureDetails.items %}
                {% if key == type.expenditure_type %}
                    {{value}}
                {% endif %}
                {% endfor %}

                
            </td>
            {% else %}
            <td>
                0
            </td>
            {% endif %}
        </tr>
        {% endfor %}

        <tr>
            <td><b>Total (B):</b></td>
            <td>{{ expenditureSum }}</td>
        </tr>
        <tr>
            <td >&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td><b>C. Balance being excess of Income over Expenditure (A-B) : </b></td>
            <td>{{ balance }}</td>
        </tr>
      </table>
      <br>
      <br>
      <br>

     
</body>
</html>