{% extends 'globals/base.html' %}
{% load static %}


{% block title %}
    Income Expenditure
{% endblock %}


{% block body %}
    {% block navBar %}
        {% include 'dashboard/navbar.html' %}
    {% endblock %}
    
    <div class="ui stackable doubling grid">

        {% comment %}The left-margin segment!{% endcomment %}
        <div class="column"></div>

        {% comment %}The left-rail segment starts here!{% endcomment %}
        <div class="three wide column">
            {% comment %}The user image card starts here!{% endcomment %}
            {% block usercard %}
                {% include 'globals/usercard.html' %}
            {% endblock %}
            {% comment %}The user image card ends here!{% endcomment %}

            <div class="ui divider"></div>

            {% comment %}The Tab-Menu starts here!{% endcomment %}
            
            {% comment %}The Tab-Menu ends here!{% endcomment %}
        </div>
        {% comment %}
            The left-rail segment ends here!
        {% endcomment %}

        {% comment %}
            The central-rail segment starts here!
        {% endcomment %}
        <div class="eight wide column">
          <h1 style="text-align:center;">Update Income Details</h1>
<div class="ui active tab segment" data-tab="add_income">

    
<div class="ui vertical segment">
    
    <form id="update_income_form" method='POST' action='/income-expenditure/updateIncome/'>{% csrf_token %}
        <div class="ui form" style="border: black" > 
          <input type="id" name="id" value="{{income.id}}" hidden>
            <div class="field">
                <input type="text" value="{{income.source}}" disabled>
            </div>

            <div class="field">
                <select  class="ui dropdown" name="income_sub_type" id="income_sub_type">
                  
                  {% for item in income_sub_types %}
                  {% if item.id == income.sub_type.id %}
                  
                  <option value="{{item.id}}" selected>{{item.income_sub_type}} </option>
                  {% endif %}
                  {% if item.id != income.sub_type.id %}
                  <option value="{{item.id}}" >{{item.income_sub_type}}   </option>
                  {% endif %}
                  {% endfor %}
                </select>
            </div>

            <div class="field">          
                <input value="{{income.amount}}" placeholder="amount" name='amount' required="true" type="number" required><br>            
            </div>

            <div class="two fields">
                <div class = "field">
                  <input  name = "date_recieved" required="true" type="date" min="{{minDate}}" max="{{maxDate}}">
                </div>
                <div class = "field">
                    <input placeholder ="Remarks" value="{{income.remarks}}" name = "remarks"  type="text">
                </div>
            </div>
            <div class='field' style="opacity: 0.5;">Existing date is <b style="opacity: 1;">{{income.date_added}}</b><br>1. Add new date if you wish to update.<br>2.Else, enter same date. </div></div>
            
            <br>

        </div><br>
        <div class="ui divider"></div><br>
        <center> <button class="ui primary button" type='submit'>Update Income</button></center>
    </form>
</div>
</div>
</div>
</div>
{% endblock %}


<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    $("#update_income_form").submit(function(event) {

        event.preventDefault();
        var friendForm = $(this);

        var posting = $.post(friendForm.attr('action'), friendForm.serialize());
        posting.done(function(data) {
            alert('Update succesful');
            window.location = "/income-expenditure/main/";
        });
        posting.fail(function(data) {
            alert('Failed to update income');
            window.location = "/income-expenditure/main/";
        });
    });
});
</script>

