{% load static %}
{% block buildings %}

<div class="ui pointing secondary menu">
    <a class="active red item" data-tab="building_incomplete">
        Incomplete
    </a>

    <a class="orange item" data-tab="building_occupied">
        Occupied
    </a>

    <a class="green item" data-tab="building_complete">
        Complete
    </a>
</div>

<div class="ui active tab" data-tab="building_incomplete">
    <div class="ui vertical segment">
        <div class="content">
            <div class="description">
                <button class="ui right labeled icon blue new button">
                    <i class="plus icon"></i>
                    New
                </button>
                <table class="ui selectable celled sortable table">
                    <thead>
                        <tr>
                            <th class="eight wide">Building</th>
                            <th class="two wide">Date of Approval</th>
                            <th class="two wide">Date of Start</th>
                            <th class="two wide right aligned">Amount</th>
                            <th class="one wide"></th>
                            <th class="one wide"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for building in buildings%}
                        {% if building.status == "incomplete" %}
                        <tr>
                            <td>
                                {{ building.name }}
                            </td>
                            <td class="center aligned">
                                {{ building.date_approval }}
                            </td>
                            <td class="center aligned">
                                {{ building.date_start }}
                            </td>
                            <td class="right aligned">
                                ₹&nbsp;{{ building.amount }}
                            </td>
                            <td class="center aligned">
                                <button class="ui red button edit" data-id="{{ forloop.counter0 }}">Edit</button>

                            </td>
                            <td>
                                <button class="ui secondary button details"
                                    data-id="{{ forloop.counter0 }}">Details</button>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="item">1</a>
                                    <a class="item">2</a>
                                    <a class="item">3</a>
                                    <a class="item">4</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="ui tab" data-tab="building_occupied">
    <div class="ui vertical segment">
        <div class="content">
            <div class="description">
                <button class="ui right labeled icon blue new button">
                    <i class="plus icon"></i>
                    New
                </button>
                <table class="ui selectable celled sortable table">
                    <thead>
                        <tr>
                            <th class="eight wide">Building</th>
                            <th class="two wide">Date of Approval</th>
                            <th class="two wide">Date of Start</th>
                            <th class="two wide right aligned">Amount</th>
                            <th class="one wide"></th>
                            <th class="one wide"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for building in buildings%}
                        {% if building.status == "occupied" %}
                        <tr>
                            <td>
                                {{ building.name }}
                            </td>
                            <td class="center aligned">
                                {{ building.date_approval }}
                            </td>
                            <td class="center aligned">
                                {{ building.date_start }}
                            </td>
                            <td class="right aligned">
                                ₹&nbsp;{{ building.amount }}
                            </td>
                            <td class="center aligned">
                                <button class="ui primary button edit" data-id="{{ forloop.counter0 }}">Edit</button>

                            </td>
                            <td>
                                <button class="ui secondary button details"
                                    data-id="{{ forloop.counter0 }}">Details</button>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="item">1</a>
                                    <a class="item">2</a>
                                    <a class="item">3</a>
                                    <a class="item">4</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="ui tab" data-tab="building_complete">
    <div class="ui vertical segment">
        <div class="content">
            <div class="description">
                <button class="ui right labeled icon blue new button">
                    <i class="plus icon"></i>
                    New
                </button>
                <table class="ui selectable celled sortable table">
                    <thead>
                        <tr>
                            <th class="six wide">Building</th>
                            <th class="two wide">Date of Approval</th>
                            <th class="two wide">Date of Start</th>
                            <th class="two wide">Date of End</th>
                            <th class="two wide right aligned">Amount</th>
                            <th class="one wide"></th>
                            <th class="one wide"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for building in buildings%}
                        {% if building.status == "complete" %}
                        <tr>
                            <td>
                                {{ building.name }}
                            </td>
                            <td class="center aligned">
                                {{ building.date_approval }}
                            </td>
                            <td class="center aligned">
                                {{ building.date_start }}
                            </td>
                            <td class="center aligned">
                                {{ building.date_end }}
                            </td>
                            <td class="right aligned">
                                ₹&nbsp;{{ building.amount }}
                            </td>
                            <td class="center aligned">
                                <button class="ui primary button edit" data-id="{{ forloop.counter0 }}">Edit</button>

                            </td>
                            <td>
                                <button class="ui secondary button details"
                                    data-id="{{ forloop.counter0 }}">Details</button>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="7">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a class="item">1</a>
                                    <a class="item">2</a>
                                    <a class="item">3</a>
                                    <a class="item">4</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="ui modal new">
    <i class="close icon"></i>
    <div class="header">
        New Building
    </div>
    <div class="ui vertical segment">
        <form class="ui form" method="POST" style="padding: 8px; padding-left: 24px; padding-right: 24px;">
            {% include 'estate/building_form.html' %}

            <input type="button" id="amb_submit" name="amb_submit" value="Create"
                class="ui submit large primary button" />

        </form>
        <script type="text/javascript">
        </script>

    </div>
</div>

<div class="ui modal edit">
    <i class="close icon"></i>
    <div class="header">
    </div>
    <div class="ui vertical segment">
        <form class="ui form" method="POST" style="padding: 8px; padding-left: 24px; padding-right: 24px;">
            {% include 'estate/building_form.html' %}

            <input type="button" id="amb_submit" name="amb_submit" value="Update"
                class="ui submit large primary button" />

        </form>
        <script type="text/javascript">
        </script>

    </div>
</div>
<div class="ui modal details">
    {% include 'estate/building_detail.html' %}
</div>

{{ buildings|json_script:"buildings-data" }}

<script>
    $('.new.button').on('click', function () {
        //const id = Number($(this).attr("data-id"));
        //const id = e.target.attributes["data-id"].nodeValue;
        //const building = JSON.parse(document.getElementById('buildings-data').textContent)[id];

        $('.new.modal')
            .modal({
                onShow: function () {
                    /*
                    $('.edit.modal .header')
                        .text(building.name);
                    $('.edit.modal #building_name').val(building.name);
                    $('.edit.modal #estd_cost').val(building.amount);
                    */
                }
            })
            .modal('show');
    });

    $('.edit.button').on('click', function (e) {
        //const id = Number($(this).attr("data-id"));
        const id = e.target.attributes["data-id"].nodeValue;
        const building = JSON.parse(document.getElementById('buildings-data').textContent)[id];

        $('.edit.modal')
            .modal({
                onShow: function () {
                    $('.edit.modal .header')
                        .text(building.name);
                    $('.edit.modal #building_name').val(building.name);
                    $('.edit.modal #estd_cost').val(building.amount);
                }
            })
            .modal('show');
    });

    $('.details.button').on('click', function (e) {
        //const id = Number($(this).attr("data-id"));
        const id = e.target.attributes["data-id"].nodeValue;
        const building = JSON.parse(document.getElementById('buildings-data').textContent)[id];

        $('.details.modal')
            .modal({
                onShow: function () {
                    $('.details.modal .header')
                        .text(building.name);
                    $('.details.modal tbody td#building_date_approval')
                        .text(building.date_approval);
                    $('.details.modal tbody td#building_date_start')
                        .text(building.date_start);
                    $('.details.modal tbody td#building_amount')
                        .text("₹ " + building.amount)
                }
            })
            .modal('show');
    });
</script>


{% endblock %}