{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
    Estate
{% endblock %}

{% block body %}
    {% block navBar %}
        {% include 'dashboard/navbar.html' %}
    {% endblock %}

    <div class="ui stackable doubling grid">

        <div class="column"></div>

        <div class="three wide column">

            {% block usercard %}
                {% include 'globals/usercard.html' %}
            {% endblock %}

            <div class="ui divider"></div>

            <div class="ui huge fluid vertical pointing menu"
                 style="max-width: 320px;">

                <a class=" active item" data-tab="first" id="bookings">
                    Buildings
                    <i class="right floated chevron right icon"></i>
                </a>

                {% comment %} {% if user_designation == 'VhIncharge' or user_designation == 'VhCaretaker' %}
                <a class="item" data-tab="third" id="roomstatus">
                    Get Details
                    <i class="right floated chevron right icon"></i>
                </a>

                {% endif %} {% endcomment %}

                <a class="item" data-tab="second" id="projects">
                    Projects
                    <i class="right floated chevron right icon"></i>
                </a>
            </div>
        </div>

        <div class="ten wide column">
            {% comment %}The Details start here!{% endcomment %}

            <div class="ui active tab segment" data-tab="first">
                {% block buildings %}
                    {% include 'estate/buildings.html' %}
                {% endblock %}
            </div>

            <div class="ui tab segment" data-tab="second">
                {% block projects %}
                    {% include 'estate/projects.html' %}
                {% endblock %}
            </div>

        </div>

        {% comment %} <div class="three wide column">
            <div class="row">
                    TODO: the right rail!
            {% comment %} </div>
        </div>

        <div class="column"></div> {% endcomment %}

    </div>
{% comment %} {% include 'vhModule/alert.html' %} {% endcomment %}
{% endblock %}


{% block javascript %}
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script type="text/javascript" src="{% static 'globals/js/datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'globals/js/tablesort.js' %}"></script>
    <script type="text/javascript" src="{% static 'globals/js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'visitor_hostel/visitor-hostel.js' %}"></script>
{% endblock %}
