{% extends 'programme_curriculum/acad_admin/common.html' %}

{% block sidetabmenu %}
    
{% endblock %}

{% block content %}
<div class="ui segment" >
    <div class="header"><h1>Course Slot Form</h1></div>
    <div class="ui divider"></div>
    <form class="ui large form error" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="ui message">
            <div class="header">We had some issues</div>
            {% for error in form.non_field_errors %}
            <ul class="list">
                <li>{{ error }}</li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}

        <div class="field">
            {% if form.semester.errors or form.name.errors or form.type.errors %}
            <div class="ui error message">
                <p>{{ form.semester.errors }}</p>
                <p>{{ form.name.errors }}</p>
                <p>{{ form.type.errors }}</p>
            </div>
            {% endif %}
        </div>
        <div class="fields">
            <div class="five wide field">
                <label for="{{ form.semester.id_for_label }}">For Semester</label>
                {{ form.semester }}
            </div>
            <div class="seven wide field">
                <label for="{{ form.name.id_for_label }}">Course Slot Name</label>
                {{ form.name }}
            </div>
            <div class="four wide field">
                <label for="{{ form.type.id_for_label }}">Type</label>
                {{ form.type }}
            </div>
        </div>


        <div class="field">
            {% if form.course_slot_info.errors %}
            <div class="ui error message">
                <p>{{ form.course_slot_info.errors }}</p>
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label for="{{ form.course_slot_info.id_for_label }}">Information</label>
            {{ form.course_slot_info }}
        </div>

        <div class="field">
            {% if form.courses.errors %}
            <div class="ui error message">
                <p>{{ form.courses.errors }}</p>
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label for="{{ form.courses.id_for_label }}">Courses</label>
            {{ form.courses }}
        </div>

        <div class="field">
            {% if form.duration.errors %}
            <div class="ui error message">
                <p>{{ form.duration.errors }}</p>
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label for="{{ form.duration.id_for_label }}">Duration</label>
            {{ form.duration }}
        </div>

        <div class="field">
            {% if form.min_registration_limit.errors or form.max_registration_limit.errors %}
            <div class="ui error message">
                <p>{{ form.min_registration_limit.errors }}</p>
                <p>{{ form.max_registration_limit.errors }}</p>
            </div>
            {% endif %}
        </div>
        <div class="two fields">
            <div class="field">
                <label for="{{ form.min_registration_limit.id_for_label }}">Min Course Slot Registration Limit</label>
                {{ form.min_registration_limit }}
            </div>
            <div class="field">
                <label for="{{ form.max_registration_limit.id_for_label }}">Max Course Slot Registration Limit</label>
                {{ form.max_registration_limit }}
            </div>
        </div>
        <td></td>
        <td>
            <div class="ui large right floated buttons">
                {% if curriculum_id != -1 %}
                <a class="ui button" href="{% url 'programme_curriculum:admin_view_semesters_of_a_curriculum' curriculum_id %}">Cancel</a>
                {% else %}
                <a class="ui button" href="{% url 'programme_curriculum:admin_view_all_programmes' %}">Cancel</a>
                {% endif %}
                <div class="or"></div>
                <input class="ui primary button" type="Submit" name="Submit">
            </div>
        </td>
    </form>
</div>
<div class="ui hidden divider"></div>
{% endblock %}
