{% extends 'programme_curriculum/acad_admin/common.html' %}
{% block content %}

<div class="ui top attached tabular large menu">
    <a class="item active" data-tab="afirst">{{ program.name }} Info</a>
    <a class="item" data-tab="asecond">Working Curriculums</a>
    <a class="item" data-tab="athird">Obsolete Curriculums</a>
</div>


<div class="ui bottom attached tab segment active" data-tab="afirst">
    <div class="content">
        <div class="description" style="overflow: auto; max-height: auto">
            <table class="ui celled large table"
            style="text-align: center;
                margin: auto;">
                <thead>
                    <tr style="font-size: medium;
                            background-color: whitesmoke;">
                        <td colspan="3"><h3>{{ program.name }}</h3></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><B>Programme Category</B></td>
                        <td colspan="2">{{ program.category }}</td>
                    </tr>
                    <tr>
                        <td><B>Programme Name</B></td>
                        <td colspan="2">{{ program.name }}</td>
                    </tr>
                    <tr>
                        <td><B>Programme Begin Year</B></td>
                        <td colspan="2">{{ program.programme_begin_year }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ui bottom attached tab segment" data-tab="asecond">
    <div class="content">
        <div class="description"  style="overflow: auto; max-height: auto">
            <table class="ui celled medium table"
            style="text-align: center;
                margin: auto;">
                <thead>
                    <tr style="font-size: medium;
                        background-color: whitesmoke;">
                        <td><h4>Name</h4></td>
                        <td class="collapsing"><h4>Version</h4></td>
                        <td><h4>Batch</h4></td>
                        <td><h4>No. of Semester</h4></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for curriculum in working_curriculums %}
                        <tr>
                            <td><a href="{% url 'programme_curriculum:admin_view_semesters_of_a_curriculum' curriculum.id %}">{{ curriculum.name }}</a></td>
                            <td>{{ curriculum.version }}</td>
                            <td>
                                {% for batch in curriculum.batches %}
                                    <p>{{ batch }}</p>
                                {% endfor %}
                            </td>
                            <td>{{ curriculum.no_of_semester }}</td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:edit_curriculum_form' curriculum.id %}"
                                type="Submit" name="Submit" target="_blank" rel="noopener">
                                    <div class="visible content">EDIT</div>
                                    <div class="hidden content">
                                    <i class="edit icon"></i>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="3">No Curriculum Avaliable</td><tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="ui bottom attached tab segment" data-tab="athird">
    <div class="content">
        <div class="description" style="overflow: auto; max-height: auto">
            <table class="ui celled medium table"
            style="text-align: center;
                margin: auto;">
                <thead>
                    <tr style="font-size: medium;
                        background-color: whitesmoke;">
                        <td><h4>Name</h4></td>
                        <td class="collapsing"><h4>Version</h4></td>
                        <td><h4>Batch</h4></td>
                        <td><h4>No. of Semester</h4></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for curriculum in past_curriculums %}
                        <tr>
                            <td><a href="{% url 'programme_curriculum:admin_view_semesters_of_a_curriculum' curriculum.id %}">{{ curriculum.name }}</a></td>
                            <td>{{ curriculum.version }}</td>
                            <td>
                                {% for batch in curriculum.batches %}
                                    <p>{{ batch }}</p>
                                {% endfor %}
                            </td>
                            <td>{{ curriculum.no_of_semester }}</td>
                            <td class="collapsing"><a class="tiny ui positive animated button"  tabindex="0"
                                href="{% url 'programme_curriculum:edit_curriculum_form' curriculum.id %}"
                                type="Submit" name="Submit" target="_blank" rel="noopener">
                                    <div class="visible content">EDIT</div>
                                    <div class="hidden content">
                                    <i class="edit icon"></i>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="3">No Curriculum Avaliable</td><tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block rightcontent %}
<br>
<br>
<div class="ui center aligned segment">
    <div class="fluid ui large floating labeled icon dropdown teal button">
        <i class="options icon"></i>
        OPTIONS
        <div class="ui left menu">
            <div class="header">
                Programme
            </div>
            <div class="divider"></div>
            <div class="fitted item">
                <a class="fluid ui large positive animated button"
                    href="{% url 'programme_curriculum:edit_programme_form' program.id %}"
                    type="Submit" name="Submit">
                    <div class="visible content">EDIT PROGRAMME</div>
                    <div class="hidden content">
                    <i class="edit icon"></i>
                    </div>
                </a>
            </div>
            <div class="header">
                Curriculum
            </div>
            <div class="divider"></div>
            <div class="fitted item">
                <a class="fluid ui large primary animated button"
                    href="{% url 'programme_curriculum:add_curriculum_form' %}?programme_id={{ program.id }}"
                    type="Submit" name="Submit" target="_blank" rel="noopener">
                    <div class="visible content">ADD CURRICULUM</div>
                    <div class="hidden content">
                    <i class="add icon"></i>
                    </div>
                </a>
            </div>
            <div class="fitted item">
                <div class="fluid ui large secondary animated button">
                        
                    <i class="dropdown icon"></i>
                    <div class="visible content">ADD NEW FROM<br>REPLICATE CURRICULUM</div>
                    <div class="hidden content">
                        <i class="add icon"></i><i class="paste icon"></i>
                    </div>
                </div>
                <div class="ui vertical left menu">
                    {% if working_curriculums.count == 0 and past_curriculums.count == 0 %}
                        <div class="item"><I>No Curriculum to Replicate</I></div>
                    {% else %}
                        {% for curriculum in working_curriculums %}
                            <a class="item" 
                            href="{% url 'programme_curriculum:replicate_curriculum' curriculum.id %}"
                            type="Submit" name="Submit" target="_blank" rel="noopener"><i class="paste icon"></i>{{ curriculum }}</a>
                        {% endfor %}
                        {% for curriculum in past_curriculums %}
                            <a class="item" 
                            href="{% url 'programme_curriculum:replicate_curriculum' curriculum.id %}"
                            type="Submit" name="Submit" target="_blank" rel="noopener"><i class="paste icon"></i>{{ curriculum }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui horizontal divider">FILTER SEARCH</div>
        <form class="ui small form"  method="get">
                {{ curriculumfilter.form }}
                <div class="ui horizontal divider"></div>
            <button class="ui tiny basic primary button" type="Submit" name="Submit">
                <i class="search icon"></i>
                Search
            </button>
        </form>
</div>



{% endblock %}