

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<div style="margin: 2rem;">
    <div class="ui vertical segment">



        <form method="post" id="editDetail" enctype="multipart/form-data">
            {% csrf_token %}
           
            <div class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;">

                

                <div class="eight wide field">
                    <label for="post_title">Name</label>
                    <input type="text" name="name" maxlength="40" required id="id_name" value="{{ employee.user }}">
                </div>
                <div class="eight wide field">
                    <label for="post_title">Designation</label>
                    <input type="text" name="designation" maxlength="40" id="id_designation" value="{{ designation }}">
                </div>
                <div class="eight wide field">
                    <label for="post_title">Application Date</label>
                    <input type="Date" name="application_date" id="application_date">
                </div>
                <div class="fifteen wide field">
                    <label for="post_title">PF Number</label>
                    <input type="number" name="application_pf_no" maxlength="40" id="pf_no">
                </div>
                <div class="eight wide field">
                    <label for="post_title">Department/Discipline</label>
                    <input type="text" name="discipline" maxlength="40" id="discipline">
                </div>



               <div style="text-align: center;">
                <div class="field">
                    <label for="nature_of_leave">Nature of leave :</label>
                    <select id="nature_of_leave" name="nature_of_leave">
                        <option value="Casual">Casual</option>
                        <option value="vacaction">Vacation</option>
                        <option value="earned">Earned</option>
                        <option value="commuted leave">Commuted Leave</option>
                        <option value="specail casual leave">Special Casual Leave</option>
                        <option value="restricted leave">Restricted Holiday</option>
                        <option value="station leave">Station Leave</option>

                    </select>
                </div>
                
                </div>


                <div class="eight wide field">
                    <label for="post_title"> </label>
                    <input type="date" name="nature_leave_start_date" maxlength="40"  id="nature_leave_start_date">
                </div>

                <div class="eight wide field">
                    <label for="post_title"> </label>
                    <input type="date" name="nature_leave_end_date" maxlength="40"  id="nature_leave_end_date">
                </div>

                <div class="eight wide field">
                    <label for="post_title"> Station Leave </label>
                    <input type="text" name="station_leave" maxlength="40" id="station_leave">
                </div>

                <div class="eight wide field">
                    <label for="post_title"> </label>
                    <input type="date" name="station_leave_start_date" maxlength="40"  id="station_leave_start_date">
                </div>

                <div class="eight wide field">
                    <label for="post_title"> </label>
                    <input type="date" name="station_leave_end_date" maxlength="40"  id="station_leave_end_date">
                </div>

                <div class="eight wide field">
                    <label for="post_title">Purpose</label>
                    <input type="text" name="purpose" maxlength="40" id="purpose">
                </div>

                <div class="eight wide field">
                    <label for="post_title">Leave Address</label>
                    <input type="text" name="leave_address" maxlength="40" id="leave_address">
                </div>

                <div class="eight wide field">
                    <label for="post_title">Academic Responsibility Assigned to </label>
                    <input type="text" name="academic_responsibility" maxlength="40" id="academic_responsibility">
                </div>

                <div class="eight wide field">
                    <label for="post_title">Administrative Responsibility Assigned to </label>
                    <input type="text" name="addministrative_responsibilty_assigned" maxlength="40" id="addministrative_responsibilty_assigned">
                </div>

               

                 <div class="four wide field" style="float: right;">
                    <label for="sign_director_registrar">Head/Officer/Convener/In-Charge of Discipline</label>
                    <input type="text" name="sign_dir_reg_r_name" maxlength="40" placeholder="Name of reccomendor"  id="sign_dir_reg_r_name">
                    <input type="text" name="sign_dir_reg_r_desgination" maxlength="40" placeholder="Designation"  id="sign_dir_reg_r_desgination">

                </div>


               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <hr>

               <br>
               <br>
               <br>
               <br>
               <div>
             <h3 style="text-align: center;">For Office Use</h3>
               </div>
               <label for="office_use"></label>
               <div>
                <table>
                    <tr>
                      <th rowspan="2"></th>
                      <th colspan="6"></th> 
                    </tr>
                    <tr>
                      <th>CL</th>
                      <th>RH</th>
                      <th>EL/VL</th>
                      <th>SCL</th>
                      <th>SCL(Project)</th>
                      <th>Commuted Leave</th>
                    </tr>
                    <tr>
                      <td>Credit Leave</td>
                      <td><input type="number" name="info_1_1" maxlength="40" id="id_info_1_1" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_1_2" maxlength="40" id="id_info_1_2" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_1_3" maxlength="40" id="id_info_1_3" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_1_4" maxlength="40" id="id_info_1_4" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_1_5" maxlength="40" id="id_info_1_5" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_1_6" maxlength="40" id="id_info_1_6" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                    </tr>
                    <tr>
                      <td>Leave Applied</td>
                      <td><input type="number" name="info_2_1" maxlength="40" id="id_info_2_1" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_2_2" maxlength="40" id="id_info_2_2" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_2_3" maxlength="40" id="id_info_2_3" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_2_4" maxlength="40" id="id_info_2_4" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_2_5" maxlength="40" id="id_info_2_5" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_2_6" maxlength="40" id="id_info_2_6" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                    </tr>
                    <tr>
                      <td>Balance after availing Leave Applied</td>
                      <td><input type="number" name="info_3_1" maxlength="40" id="id_info_3_1" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_3_2" maxlength="40" id="id_info_3_2" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_3_3" maxlength="40" id="id_info_3_3" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_3_4" maxlength="40" id="id_info_3_4" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_3_5" maxlength="40" id="id_info_3_5" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                      <td><input type="number" name="info_3_6" maxlength="40" id="id_info_3_6" {% if global_var != "dealing assistant" %}disabled{% endif %}></td>
                    </tr>
                  </table>
                </div>

                <br>
                <br>



                <div class="eight wide field">
                    <label for="post_title">Dealing Assistant : </label>
                    <input type="text" name="dealing_assistant" placeholder="Enter name" maxlength="40" id="dealing_assistant" {% if global_var != "dealing assistant" %}disabled{% endif %}>
                </div>
                
                <div class="eight wide field">
                    <label for="post_title">Deputy Registrar (Estt.)</label>
                    <input type="text" name="deputy_registrar" placeholder="Enter name" maxlength="40" id="deputy_registrar" {% if global_var != "dealing assistant" %}disabled{% endif %}>
                </div>

                <div style="text-align: center;">
                    <div class="field">
                        <label for="sanction_status">Leave Sanction Status:</label>
                        <select id="sanction_status" name="sanction_status" {% if global_var != "Director" and global_var != "CSE HOD" %} disabled{% endif %}>
                            <option value="True">Sanctioned</option>
                            <option value="False">Not Sanctioned</option>
                        </select>
                    </div>
                    
                </div>

                <div class="four wide field" style="float: right;">
                    <label for="sign_director_registrar">Dean / Head of Discipline / Registrar / Deputy Registrar</label>
                    <input type="text" name="r_name" maxlength="40" placeholder="Name of recommender" id="r_name" {% if global_var != "Director" and global_var != "CSE HOD" and global_var != "asst. registrar fa" %}disabled{% endif %}>
                    <input type="text" name="r_desgination" maxlength="40" placeholder="Designation" id="r_desgination" {% if global_var != "Director" and global_var != "CSE HOD" and global_var != "asst. registrar fa" %}disabled{% endif %}>
                </div>
                
                
               
                <br><br><br><br><br><br><br><br>
                
                
                <br>

                <div class="two fields">
                    <div class="eight wide field">
                        <label for="username_employee">Username:</label>
                        <input type="text" name="username_employee" id="username_employee" class="ui search" placeholder="Enter Username">
                    </div>
                    <div class="eight wide field">
                        <label for="designation_employee">Designation:</label>
                        <input type="text" name="designation_employee" id="designation_employee" readonly>
                    </div>
                    <div class="field">
                        <button id="check_button" class="ui primary button right floated">Check</button>
                    </div>
                </div>

                <br>
               

                <div class="field">
                    <button class="ui primary button right floated" type="submit" value="Submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>

        <br>
        <br>


    </div>
    <br>
    <div class="extra content"></div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#check_button').click(function(event) {
            event.preventDefault();
            var selectedUsername = $('#username_employee').val();

            // Fire query to the URL with selected username
            $.ajax({
                url: '/hr2/search_employee/',
                type: 'GET',
                data: { search: selectedUsername }, // Pass search text as query parameter
                success: function(data) {
                    if (data.designation) {
                        // Employee exists, update designation
                        $('#designation_employee').val(data.designation);
                        alert("Employee exists");
                    } else {
                        // Employee doesn't exist, show error message
                        alert("Employee doesn't exist");
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    // Show error message
                    alert("An error occurred while processing your request.");
                }
            });
        });
    });
</script>
