{% with 'new_subwork_form' as form_id %}
<div class="ui modal new_subwork">
    <div class="header">
        New Sub-Work
    </div>
    <div class="scrolling content">
        <form action="{% url 'new_subWork' %}" id="{{ form_id }}" class="ui form" method="POST" novalidate>
            {% include subWork_data.template_dir|add:'/form.html' %}
        </form>

    </div>
    <div class="actions">
        <button type="submit" form="{{ form_id }}" class="ui large right labeled icon green button">Create
            <i class="checkmark icon"></i></button>
        <div class="ui black deny large button">
            Cancel
        </div>


    </div>
</div>
{% endwith %}

<script type='module'>
    $('.new_subwork.modal')
        .modal({
            centered: false
        })
        .modal('setting', 'closable', false)
        .modal('attach events', '.new_subwork.button', 'show');
</script>