{% extends 'globals/base.html' %}
{% load static %}


{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'globals/css/site.css' %}">
    <style type="text/css">

        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }
        .masthead .logo.item img {
            margin-right: 1em;
        }
        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }
        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }
        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }
        .ui.vertical.stripe h3 {
            font-size: 2em;
        }
        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }
        .ui.vertical.stripe .floated.image {
            clear: both;
        }
        .ui.vertical.stripe p {
            font-size: 1.33em;
        }
        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .team.stripe.segment {
            padding: 0em;
        }
        .team.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }
            .secondary.pointing.menu .toc.item {
                display: block;
            }
            .masthead.segment {
                min-height: 350px;
            }
            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }
            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }


    </style>
{% endblock %}

{% block body %}
    <!-- Following Menu -->
    <div class="ui massive top fixed menu transition hidden">
        <div class="ui container">
            <a class="active item">Home</a>

            <div class="right menu">
                <div class="item">
                    <a class="ui button" href="{% url 'globals:login' %}">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">

                <a class="active item">Home</a>
                <div class="right item">
                    <a class="ui inverted button" href="{% url 'globals:login' %}">
                        Log in
                    </a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                Fusion!
            </h1>

            <h3>
                An Intranet Institute
                <br>
                Enterprise Resource Planning Application!
            </h3>

            <!--TODO-->

            <a class="ui primary large button" href="{% url 'globals:login' %}">


            Log in
                <i class="right arrow icon"></i>
            </a>
        </div>

    </div>

    {% comment %}
        The Second segment starts here!
    {% endcomment %}
    <div class="ui vertical stripe segment" style="background-color: #FFF;">
        <div class="ui text container">
            <h3 class="ui header">
                Missing out all the fun?
            </h3>

            <p>
                What are you waiing for?
                Don't you wanna be part of something greater than everything?
                So, just Sign up?
                But, beware with great power comes great responsibilities.
                Sign up only when you are ready . . .
            </p>

            <h4 class="ui horizontal header divider">
                <span>Sign up</span>
            </h4>

            <h3 class="ui header">
                Can't Signup? Where's the link?
            </h3>

            <p>
                Yes I know, you probably feel disappointed that you are not worthy.
                <br> Yup, that is true XD
                <br> Well, the sign up is actually disabled to avoid fakes. So you'll need the administrator to create an account for you.
            </p>
        </div>
    </div>
    {% comment %}
        The Second Segment ends here!
    {% endcomment %}


    <div class="ui inverted vertical footer segment">
        <div class="ui divider"></div>

        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">

                <!--TODO-->
                <div class="six wide column">
                    <img class="ui tiny image right floated"
                         alt="ERP!"
                         src=""
                         style="margin-right: 2.5vw;">
                </div>

                <div class="three wide column">
                    <h4 class="ui inverted header">
                        About
                    </h4>

                    <div class="ui inverted link list">
                        <a href="#" class="item">
                            Sitemap
                        </a>
                    </div>
                </div>

                <div class="six wide column">
                    <h4 class="ui inverted header">
                        Team
                    </h4>

                    <div class="ui inverted link list">
                        <a class="item">
                            Kanishka Munshi 2015121
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'globals/js/sidebar.js' %}"></script>
    <script type="text/javascript" src="{% static 'globals/js/transition.js' %}"></script>
    <script type="text/javascript" src="{% static 'globals/js/visibility.js' %}"></script>

    <script>
        $(document)
            .ready(function() {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function() {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function() {
                            $('.fixed.menu').transition('fade out');
                        }
                    })
                ;

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                ;

            })
        ;
    </script>
{% endblock %}
