{% extends 'globals/base.html' %}
{% load static %}
{% block title %}
Create Contest
{% endblock %}
{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
{% block navBar %}
    {% include 'dashboard/navbar.html' %}
{% endblock %}


<div class="ui stackable doubling grid">

    <div class="column"></div>

    <div class="three wide column" >
        {% block usercard %} {% include 'globals/usercard.html' %} {% endblock %}

        <div class="ui divider"></div>


        <div class="ui huge fluid vertical pointing menu" style="max-width: 320px;">

                <a class="active item sidetab" data-tab="first" data-num="11">
                  View Courses
                  <i class="right floated chevron right icon"></i>
                </a>

                <a class="item sidetab" data-tab="second" data-num="12">
                  Assignments
                  <i class="right floated chevron right icon"></i>
                </a>

                <a class="item sidetab" data-tab="third" data-num="13">
                  View Performance
                  <i class="right floated chevron right icon"></i>
                </a>
                {% if lecturer == 1 %}
                <a class="item sidetab" data-tab="fourth" data-num="14">
                  Add Content
                  <i class="right floated chevron right icon"></i>
                </a>

                <a class="item sidetab" data-tab="fifth" data-num="15">
                  Assessment
                  <i class="right floated chevron right icon"></i>
                </a>
                <a class="item sidetab" data-tab="sixth" data-num="16">
                  Question Bank
                  <i class="right floated chevron right icon"></i>
                </a>
              {% endif %}
            </div>
    </div>

    <div class="ui eight wide column "style="margin-bottom:5em">
      <div class="ui segment" style="padding:5em">
        <h3 class="ui dividing header">Question Banks </h3>
        {% if questions|length == 0 %}
          <h4 class="ui header">No questions of this topic in the current question bank!</h4>
        {% else %}
        <form class="ui form" id="question_form" style="margin-top:5em" action="/ocms/{{course.course_id}}/{{details.pk}}/add_questions_to_quiz" method="post">
          {% csrf_token %}
          {% for question in questions %}
          <div class="inline field">
            <div class="ui" style="padding: 1em;">
              <input type="checkbox" name="questions_selected" value="{{question.pk}}"tabindex="0" style="padding: 1em;">
              <label>
                <div class="ui segment" id="ques{{question.pk}}" style="padding: 1em; width:100%">
                  <div class="ui one column grid">
                      <div class="ui ten wide column">
                        <div class="ui row">
                          <h4 style="display:inline-block">Question {{forloop.counter}}) </h4><span> {{question.question|capfirst}}</span>
                        </div>
                        <br>
                        <div class="ui row">
                          <h4>A) {{question.options1}}</h4>
                          <h4>B) {{question.options2}}</h4>
                          <h4>C) {{question.options3}}</h4>
                          {% if question.options4 %}<h4>D) {{question.options4}}</h4>{% endif %}
                          {% if question.options5 %}<h4>E) {{question.options5}}</h4>{% endif %}
                        </div>
                      </div>
                      <div class="ui six wide column">
                        {%if question.image %}
                        <div class="item">
                            <div class="header">Question Image</div>
                            <img src="{{ question.image }}" style="height:150px;width:250px" />
                        </div>
                        {% endif %}
                      </div>
                  </div>
                </div>
              </label>
            </div>
          </div>
          {% endfor %}
          <button class="ui blue button" type="submit">Submit</button>

        </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
