<form action="{%url 'office:ta_assign' %}" method ="POST">
    {% csrf_token %}
    {% comment %}The add a new skill Accordian starts here!{% endcomment %}
    <div class="ui form" style="padding-left: 24px; padding-right: 24px;">
        <div class="field">
            <label>Course - Faculty</label>
            <select class="ui selection dropdown" name="inst">
                <option value="">lab</option>
                {% for obj in inst_list %}
                <option value='{{obj.pk}}'>{{obj.course_id.course_name }} - {{obj.instructor_id.user}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="three fields">
            <div class="eight wide field">
                <label>Teaching Assistants</label>
                <select class="ui selection dropdown" name="roll" id='roll'>
                    <option value="">TA</option>
                    {% for obj in mtech_list %}
                    <option value='{{obj.id.id}}'>{{obj.id.id}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="eight wide field">
                <label>Role</label>
                <select class="ui selection dropdown" name="role">
                    <option value="">Role</option>
                    <option value='Head TA'>Head TA</option>
                    <option value='Course TA'>Course TA</option>
                    <option value='Course TA'>Lab TA</option>
                </select>
            </div>
        </div>
        <div class="field">
            <button class="ui primary button right floated" type="submit" onclick="myFunction()">
            Submit
            </button>
        </div>
    </div>
</form>
<br>