{% block tab4content1 %}

    {% for obj in pro %}
<form action="{%url 'office:hod_work' %}" method ="POST">
    {% comment %}The add a new skill Accordian starts here!{% endcomment %}
    <div class="ui form" style="padding-bottom: 24px; padding-left: 24px; padding-right: 24px;">
        {% csrf_token %}   
        <div class="three fields">
            <div class="six wide field">
                <label>Roll no</label>
                <input value='{{obj.roll_no}}' class="ui input" readonly name="roll_no">
            </div>
            <div class="six wide field">
                <label>Name</label>
                <input value='{{obj.name}}' class="ui input" disabled="" name="name">
            </div>
            <div class="four wide field">
                <label>Programme</label>
                <input value='{{obj.programme}}' class="ui input" disabled=""  name="programme">
            </div>
            <div class="four wide field">
                <label>Branch</label>
                <input value='{{obj.branch}}' class="ui input" disabled="" name="branch">
            </div>
        </div>
        <div class="three fields">
            <div class="six wide field">
                <label>Course 1</label>
                <input value='{{obj.course1}}' class="ui input" disabled=""  name="course1">
            </div>
            <div class="six wide field">
                <label>Course 2</label>
                <input value='{{obj.course2}}' class="ui input" disabled=""  name="course2">
            </div>
            <div class="six wide field">
                <label>Course 3</label>
                <input value='{{obj.course3}}' class="ui input" disabled=""  name="course3">
            </div>
        </div> 
        <br>
        <div class="three fields">
            <div class="four wide field">
                <a class="item">
                    <div class="ui medium green right pointing label">Select course to assign from here</div>
                </a>
            </div>
            <div class="eight wide field">
                <select class="ui selection dropdown" name="assigned_course" required>
                    <option value="">Select</option>
                    <option value="{{obj.course1}}">{{obj.course1}}</option>
                    <option value="{{obj.course2}}">{{obj.course2}}</option>
                    <option value="{{obj.course2}}">{{obj.course3}}</option>
                </select>
            </div>
            <div class="four wide field">
                <button class="ui primary button" type="submit">
                Assign Course
                </button>
            </div>
        </div>
    </div>
</form>
{% endfor %} 
 
{% endblock %}