{% block tab4content2 %}
<form>
    {% comment %}The add a new skill Accordian starts here!{% endcomment %}
    <div class="ui form" style="padding-left: 24px; padding-right: 24px;">
        {% csrf_token %}
        <table class="ui celled table sortable" >
            <thead>
                <tr>
                    <th class="three wide">Roll no.</th>
                    <th class="three wide">Branch</th>
                    <th class="three wide">Programme</th>
                    <th class="seven wide">Assigned Course</th>
                </tr>
            </thead>
            
            <tbody>
                
                {% for obj1 in pro1 %}
                <tr>
                    <td> <input value="{{obj1.roll_no}}" class="ui large input" name="roll_no" readonly style="border: 0;"> </td>
                    <td> <input value="{{obj1.branch}}" class="ui large input" name="branch" readonly style="border: 0;"> </td>
                    <td> <input value="{{obj1.programme}}" class="ui large input" name="programme" readonly style="border: 0;"> </td>
                    <td> <input value="{{obj1.assigned_course}}" class="ui large input" name="assigned_course" readonly style="border: 0;"></td>
                </tr>
                {% endfor %}




            </tbody>

        
        </table>
    </div>
</form>
{% endblock %}