{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{%block content%}
<div style="display: none;">
{% block title %}{% trans "Password Reset" %}{% endblock %}
</div>

<div class="ui stackable grid" > 
    <div class="sixteen wide column">
    <div class="ui top attached segment">
        <h3 class="header"><center><h1>{% trans "Password Reset" %}</h1></center></h3>
    </div>
    <div class="ui bottom attached segment">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="ui large form password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="ui right floated positive button" value="{% trans 'Reset My Password' %}" />
    </form>
    <br><br>
    <div class="ui divider"></div>
    <p>{% blocktrans %}Please contact CC admin if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
  </div>
</div>
{% endblock %}
