{% extends 'globals/base.html' %}
{% load static %}


{% block title %}
    Academic
{% endblock %}


{% block body %}
    {% block navBar %}
        {% include 'dashboard/navbar.html' %}
    {% endblock %}

    <div class="ui stackable doubling grid">

        {% comment %}The left-margin segment!{% endcomment %}
        <div class="column"></div>

        {% comment %}The left-rail segment starts here!{% endcomment %}
        <div class="three wide column">
            {% comment %}The user image card starts here!{% endcomment %}
            {% block usercard %}
                {% include 'globals/usercard.html' %}
            {% endblock %}
            {% comment %}The user image card ends here!{% endcomment %}

            <div class="ui divider"></div>

            {% comment %}The Tab-Menu ends here!{% endcomment %}
        </div>
        {% comment %}
            The left-rail segment ends here!
        {% endcomment %}

        {% comment %}
            The central-rail segment starts here!
        {% endcomment %}
        <div class="eight wide column">





		{% load static %}
    <div class="ui header">
        Bills
    </div>
    <form class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;", method="post" action="">{% csrf_token %}
        <div class="field">
            <label for="name">Name</i></sup></label>
            <div class="ui fluid input">
                <input type="text" name="name" required="true">
            </div>
        </div>
        <br>

        <div class="field">
            <label for="work">Work</i></sup></label>
                <div class="ui fluid input">
                    <textarea id="work" class="ui textarea" name="work" type="text" required="true"></textarea>
                </div>
        </div>

        <br>

        <div class="field">
            <label for="description">Description</i></sup></label>
                <div class="ui fluid input">
                    <textarea id="description" class="ui textarea" name="description" type="text" required="true"></textarea>
                </div>
        </div>

        <br>

        <div class="field">
            <label for="agency">Agency</i></sup></label>
            <div class="ui fluid input">
                <textarea id="agency" class="ui textarea" name="agency" type="text" required="true"></textarea>
            </div>
        </div>

        <br>

        <div class="field">
            <label for="bill_processed">Bill Processed</i></sup></label>
            <div class="ui fluid input">
                <input type="number" name="bill_processed">
            </div>
        </div>

        <br>

        <div class="field">
            <label for="bill_settled">Bill Settled</i></sup></label>
            <div class="ui fluid input">
                <input type="text" name="bill_settled">
            </div>
        </div>
        <br>
        <div class="field">
            <label><br></label>
            <div >
                <input type="submit" name="Submit" value="Next" class="ui small right floated primary button" />
                </a>
            </div>
        </div>
    </form>
    <br>
    <br>
</div>
    <br>
<div class="extra segment"></div>

</div>
    {% comment %}the doctor appointment tab ends here {% endcomment %}




				</div>
        {% comment %}The central-rail segment ends here!{% endcomment %}

        {% comment %}The right-rail segment starts here!{% endcomment %}
        <div class="three wide column">
            <div class="row">
                {% comment %}
                    TODO: the right rail!
                {% endcomment %}
            </div>
        </div>
        {% comment %}The right-rail segment ends here!{% endcomment %}

        {% comment %}The right-margin segment!{% endcomment %}
        <div class="column"></div>

    </div>
    {% comment %}The grid ends here!{% endcomment %}

{% endblock %}

{% block javascript %}
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script type="text/javascript" src="{% static 'globals/js/datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'globals/js/tablesort.js' %}"></script>
</script>
{% endblock %}