<div class="fields" xmlns="http://www.w3.org/1999/html">
  <div class="eight wide field">
  <label>Project ID<sup><i class="small red asterisk icon"></i></sup></label><p id="project_id"></p>
    <form method="POST" action="http://127.0.0.1:8000/iwdModuleV2/page1View/" >
  <div class="ui fluid input">
      <textarea id="project_id" class="ui textarea" rows="1" name="id" required="true"></textarea>
  </div>
</div>
<div class="field">
  <label><br></label>

  <div >
    <input type="submit" name="Submit" value="Submit" class="ui small right floated primary button" />
  </div>
  </form>
</div>
</div>