 {% load static %}
{% block conference %}

 <div class="ui pointing secondary menu">
        <a class="active item" data-tab="Conference/Symposium">
            Conference/Symposium
        </a>

       
    </div>

 <div class="ui active tab segment" data-tab="Conference/Symposium">
       <h4 class="ui dividing header" id="changes17">Add a Conference/Symposium</h4>
          <form class="ui form"  method="post" action="{% url 'eis:consym_insert' %}" onsubmit="return validatecon()">
            {% csrf_token %}
              <div style="display: none;"> <input type="text" id="confZ" name="conf_id"></div>
            <div class="field">
                 <div class="three fields">
                    <div class="field">
                        <label>Role </label>
                         <!--  <input placeholder="Published" type="text"> -->
                        <!-- code change starts --> 
                              <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="role" required id="confY">
                                <i class="dropdown icon"></i>
                                <div class="default text">Role</div>
                                <div class="menu">
                                     <div class="item" data-value="Organised" onclick="myFunction3(); myFunction4();">Organised</div>
                                    <div class="item" data-value="Conference Chair" onclick="myFunction3(); myFunction5();">Conference Chair</div>
                                    <div class="item" data-value="Advisory Committee" onclick="myFunction3(); myFunction5();">Advisory Committee</div>
                                    <div class="item" data-value="Program Committee" onclick="myFunction3(); myFunction5();">Program Committee</div> 
                                    <div class="item" data-value="Any Other" onclick="myFunction2(); myFunction5();">Any other</div>
                                   
                                </div>
                        </div>
                    </div>
                      <div class=" field">
                               <label><br></label>
                             <input placeholder="please specify"  type="text" id="myDIV1" style="display:none;" name="other">
                        </div>
                     
                           <div class="field">
                            <label><br> </label>
                             <!--  <input placeholder="Published" type="text"> -->
                            <!-- code change starts --> 
                                  <div class="ui fluid search selection dropdown" id="myDIV2"  style="display:none;">
                                <input type="hidden" name="role2">
                                <i class="dropdown icon"></i>
                                <div class="default text">Organised</div>
                                <div class="menu">
                                    <div class="item" data-value="Chairman/Chairperson" onclick="myFunction3();">Chairman/Chairperson</div>
                                    <div class="item" data-value="Convener"onclick="myFunction3();">Convener</div>
                                    <div class="item" data-value="Co-ordinator" onclick="myFunction3();">Co-ordinator</div>
                                    <div class="item" data-value="Secretary"onclick="myFunction3();" >Secretary</div>
                                    <div class="item" data-value="Joint-Secretary" onclick="myFunction3();">Joint-Secretary</div>
                                    <div class="item" data-value="Joint Secretary-Cum Treasurer" onclick="myFunction3();">Joint Secretary-Cum Treasurer </div>
                                    <div class="item" data-value="Treasure" onclick="myFunction3();">Treasurer</div>
                                     <div class="item" data-value="Any Other" onclick="myFunction2();">Any other</div>

                                   
                                </div>
                            </div>
                        </div>
                     <!-- code change ends --> 
                   
                </div>
            </div>

            <div class="field">
                
                
                    <div class=" three fields">
                          
                            <div class="field">
                                     <label>Venue</label>
                                     <input placeholder="Venue" type="text" name="venue" id="confB"   required>
                                </div>
                        
                       
                            <div class="field">
                                    <label>Start Date</label>
                                     <!--  <input placeholder="" type="text"> -->
                                        <!-- code change starts --> 
                                 <div class="ui calendar" id="rangestart5">
                                      <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Start" name="start" id="confC"   required>
                                      </div>
                                </div>
                                <!-- code change ends -->
                             </div>
                      
                       
                            <div class="field">
                                    <label>End Date</label>
                                     <!-- <input placeholder="" type="text"> -->
                                        <!-- code change starts --> 
                                         <div class="ui calendar" id="rangeend5">
                                              <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                <input type="text" placeholder="End" name="end" id="confD"   required>
                                              </div>
                                        </div>
                                <!-- code change ends -->
                                </div>
            </div>


                <div class="fields">
               <!-- code change starts --> 
                 <div class="fourteen wide field">
                        <label>Conference Name</label>
                        <input placeholder="Conference Name" type="text" name="name" id="confA"  required>
                    </div>
            <!-- code change ends-->    

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div> 
                </div>

                 
            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>



     <div class="ui pointing pagination menu">
                {% for consymp in consymps %}
                {% if forloop.counter0|divisibleby:10 %}
                    <span align="right>"><a class="{% if forloop.counter0 == 0 %}active {% endif %}item" data-tab="consymp-{{ forloop.counter0 }}">
                        {% widthratio forloop.counter|add:10 10 1 %}

     </a></span>
                {% endif %}
                {% endfor %}

            </div>
     {% for consymp in consymps %}

            {% if forloop.counter0|divisibleby:10 %}
            <div class="ui {% if forloop.counter0 == 0 %}active {% endif %} tab segment" data-tab="consymp-{{ forloop.counter0 }}">

        <table class="ui fixed sortable celled table" id="consymp">
            <thead>
            <tr>
                <!--<th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 14%;" >Role</th>
                <th class="" style="width: 28%;">Conference Details </th>
                <th class="" style="width: 16%;">Venue</th>
                <th style="width:23%"><center>From-TO</center></th>
                <th class="" style="width: 10 %;">Action</th>-->

                  <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 13%;" >Role</th>
                <th class="" style="width: 25%;"> Conference Name</th>
                <th class="" style="width: 20%;">Venue</th>
                 <th style="width:25%">From-TO</th>
                <th style="width:10%">Action</th>
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                <td id="conf{{ forloop.counter }}Z"><div style="display: none;">{{ consymp.id }}</div>{{ forloop.counter }}.</td>
                {% if consymp.role1 == 'Any Other' %}
                    <td id="conf{{ forloop.counter }}Y">{{ consymp.role2 }}</td>
                {% elif consymp.role1 == 'Organised' %}
                    <td id="conf{{ forloop.counter }}Y">{{ consymp.role1 }}: {{ consymp.role2 }}</td>
                {% else %}
                <td id="conf{{ forloop.counter }}Y">{{ consymp.role1 }}</td>
                {% endif %}
                <td id="conf{{ forloop.counter }}A">{{ consymp.name }}</td>
                <td id="conf{{ forloop.counter }}B">{{ consymp.venue }}</td>
                <td id="conf{{ forloop.counter }}C">{{ consymp.start_date }} - {{ consymp.end_date }}</td>
                <td><a onclick="updateCONF({{ forloop.counter }})"><i class="edit icon" style="font-size:1.3vw;color:blue" id="bt"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_confrence_organisedDelete' consymp.id %}"><i class="trash outline icon" style="font-size:1.3vw;color:red;" id="bt"></i> </a></td>
            </tr>

            {% if forloop.counter0|add:1|divisibleby:10 %}
             </tbody>

        </table>
            </div>
            {% endif %}
            {% endfor %}
     {% if not consymps.all.count|divisibleby:10 %}
     </tbody>
        </table>
            </div>
 {% endif %}




    </div>
    {% endblock %}