{% load static %}

{% block eventorganised %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">

        <a class="item" data-tab="Workshop">
            Event Organised
        </a>

       

       
    </div>
  

    



    {% comment %}The Workshop segment starts here!{% endcomment %}

    <div class="ui active tab segment" data-tab="Workshop">
        <h4 class="ui dividing header"  id="changes16">Add a Workshop /Training Program</h4>
        <form class="ui form"  method="post" action="{% url 'eis:event_insert' %}"  onsubmit="return validateevent()">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="eventZ" name="event_id"></div>
            <div class="field">
                 <div class="two fields">
                    <div class="field">
                        <label>Role </label>
                       <!--  <input placeholder="Published" type="text"> -->
                         <div class="ui fluid search selection dropdown">
                                    <input type="hidden" name="role" id="eventA" required>
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Role</div>
                                    <div class="menu">
                                        <div class="item" data-value="Convener" >Convener</div>
                                        <div class="item" data-value="Co-Convener" >Co-Convener</div>
                                        <div class="item" data-value="Co-ordinator">Co-ordinator</div>
                                        
                                       
                                        
                                    </div>
                                </div>
                    </div>

                    <div class="field">
                        <label>Sponsoring Agency</label>
                        <input placeholder="Sponsoring Agency" type="text" name="sponsoring_agency" id="eventC" required>
                    </div>
                </div>
            </div>

            <div class="field">
                
                <div class="two fields">
              
                         
                            <div class="field">
                                    <label>Start Date</label>
                                    <div class="ui calendar" id="rangestart2">
                                          <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input type="text" placeholder="Start" name="start" id="eventD" required>
                                          </div>
                                </div>
                            </div>
                        
                        
                            <div class="field">
                                    <label>End Date</label>
                                       <div class="ui calendar" id="rangeend2">
                                      <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="End"  name="end" id="eventE" required>
                                      </div>
                                    </div>
                                </div>
                       
                       

                 
                </div>


                <div class="fields">
                     <div class="six wide field">
                            <div class="field">
                                    <label>Venue</label>
                                    <input placeholder="Venue" type="text"  name="venue"  id="eventF" required>
                                </div>
                        </div>  

                            <div class="four wide field">
                              <label>Event Type</label>
                                <div class="ui fluid search selection dropdown">
                                    <input type="hidden"  name="type" id="eventG" required>
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Event Type</div>
                                    <div class="menu">
                                        <!-- <div class="item" data-value="Training Program" onclick="myFunction1()">Organised</div> -->
                                        <div class="item" data-value="Workshop" onclick="myFunction1()">Workshop</div>
                                        <div class="item" data-value="Short-Term Program" onclick="myFunction1()">Short-Term Program</div>
                                         <div class="item" data-value="Training Program" onclick="myFunction1()">Training Program</div>
                                            <div class="item" data-value="Any Other" onclick="myFunction()">Any Other</div>
                                       
                                        
                                    </div>
                                </div>
                            </div> 
                            <div class="four  wide field">
                               <label><br></label>
                             <input placeholder="please specify"  type="text" id="myDIV" style="display:none;"  name="other">
                            </div>
                </div>

                <div class="fields">

                    <div class=" fourteen wide field">
                          <label>Name</label>
                          <input placeholder="Name" type="text"  name="name"  id="eventB" required>
                    </div>
                    

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>

                </div>

            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>
 <div class="ui pointing pagination menu">

      {% for event in events %}
                {% if forloop.counter0|divisibleby:10 %}
     <span align="right>"><a class="{% if forloop.counter0 == 0 %}active {% endif %}item" data-tab="event-{{ forloop.counter0 }}">
                        {% widthratio forloop.counter|add:10 10 1 %}
     </a></span>
                {% endif %}
                {% endfor %}
            </div>

      {% for event in events %}

            {% if forloop.counter0|divisibleby:10 %}
        <div class="ui {% if forloop.counter0 == 0 %}active {% endif %} tab segment" data-tab="event-{{ forloop.counter0 }}">
       <table class="ui fixed sortable celled table" id="event">
            <thead>
            <tr>
                <th class="sorted ascending" style="width:7%">Sr.</th>
                <th class="" style="width: 15%">Role</th>
                <th class="" style="width:23%"> Name </th>
                <th class="" style="width:25%">Event Details</th>
                 <th style="width:20%">From-TO</th>
               
                <th class="" style="width:10%" >Action</th>       
   
                    </tr>
            </thead>


            <tbody>
                        {% endif %}

            <tr id="r9">
            <td id="event{{ forloop.counter }}Z"><div style="display: none;">{{ event.id }}</div>{{ forloop.counter }}.</td>
                <td id="event{{ forloop.counter }}A">{{ event.role }}</td>
                <td id="event{{ forloop.counter }}B">{{ event.name }}</td>
                <td id="event{{ forloop.counter }}C"><b>Sponsoring Agency: </b>{{ event.sponsoring_agency }}<br><b>Venue: </b>{{ event.venue }}
                <br><b>Type: </b>{{ event.type }}</td>
                <td id="event{{ forloop.counter }}D">{{ event.start_date }} - {{ event.end_date }}</td>
                <td><a onclick="updateEVENT({{ forloop.counter }})"><i id="bt" class="edit icon" style="font-size:1.3vw;color:blue"></i></a> <br><a class="centered raised item" href="{% url 'eis:emp_event_organizedDelete' event.id %}"><i id="bt" class="trash outline icon" style="font-size:1.3vw;color:red;"></i>
            </a> </td>
            </tr>
            {% if forloop.counter0|add:1|divisibleby:10 %}
            </tbody>
        </table>

    </div>
        {% endif %}
            {% endfor %}
     {% if not events.all.count|divisibleby:10 %}
    {% comment %}The Workshop segment ends here!{% endcomment %}
</tbody>
        </table>
            </div> {% endif %}
</div>
{% endblock %}