{% load static %}

{% block personaldetails %}

    <!--About Me card starts here!-->
    <div class="ui fluid card">
        <div class="content">
            <div class="ui header">
                About Me
                <input type="button"
                       id="editButton"
                       class="ui red mini button right floated" onclick="editFirst()"
                       value = "Edit">
                <form action="{% url 'eis:persinfo' %}" method="post" id="editForm">
                    <input type="hidden" id="saveButton" value="Submit" class="ui red mini button right floated hidden" hidden name="saveButton" onclick="editSave();">
                    {% csrf_token %}
                    <input type="text" name="saveAbout" value="" id="saveAbout" hidden>
                    <input type="text" name="saveEdu" value="" id="saveEdu" hidden>
                    <input type="text" name="saveInt" value=""  id="saveInt" hidden>
                    <input type="text" name="saveContact" value="" id="saveContact" hidden>
                </form>
            </div>

            <div class="ui divider"></div>

            <span id="aboutSpan">
                {{ pers.about }}
            </span>
            <div class="textarea">
                <textarea rows=5
                          type="textarea"
                          style="width: 100%;"
                          id="aboutTextarea" hidden name="about">
                </textarea></div></div>
    </div>
    <!--About Me card ends here!-->


    <!--The start of details card!-->
    <div class="ui fluid card">
        <div class="content">
            <div class="ui header">Details</div>
            <div class="ui divider"></div>

            <span>
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td>
                                Date Of Joining
                            </td>

                            <td>
                                <span id="dojSpan">
                                    January 10, 2012
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                PF #
                            </td>

                            <td>
                                <span id="pfSpan">
                                    PF# {{ pf }}
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Education
                            </td>

                            <td>
                                <span id="educationSpan">
                                    {{ pers.education }}
                                </span>

                                <div class="textarea">
                                    <textarea rows=3
                                              type="text"
                                              style="width: 100%;"
                                              id="educationTextarea" hidden name="education">
                                    </textarea></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Interest Areas
                            </td>

                            <td>
                                <span id="interestSpan">
                                    {{ pers.interest }}
                                </span>

                                <div class="textarea">
                                    <textarea rows=3
                                              type="text"
                                              style="width: 100%;"
                                              id="interestTextarea" hidden name="interest">
                                    </textarea> </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </span>
        </div>
    </div>
    <!--End of details card!-->

    <!--The contact details card starts here!-->
    <div class="ui fluid card">
        <div class="content">
            <div class="ui header">Contact Details</div>
            <div class="ui divider"></div>

            <span>
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td>
                                Contact
                            </td>

                            <td>
                                <a>
                                    <i class="phone icon" id="contactIcon"></i>
                                        <span id="contactSpan">
                                            {{ pers.contact }}
                                        </span>
                                </a>

                                <div class="ui fluid input">
                                    <input type="text" id="contactInput" hidden name="contact">
                                </div>
                            </td>

                        </tr>
                            <tr>
                                <td>
                                    Mail
                                </td>

                                <td>
                                    <a href="" target="_blank">
                                        <i class="mail icon" id="mailIcon"></i>

                                        <span id="mailSpan">
                                            {{ request.user.email }}
                                        </span>
                                    </a>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    LinkedIn
                                </td>

                                <td>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="blue linkedin icon"></i>
                                        {{ request.user.first_name }}&nbsp;{{ request.user.last_name }}
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Github
                                </td>

                                <td>
                                    <a href="https://www.github.com/" target="_blank">
                                        <i class="teal github icon"></i>
                                        {{ request.user.first_name }}&nbsp;{{ request.user.last_name }}
                                    </a>
                                </td>
                            </tr>

                    </tbody>
                </table>
            </span>
        </div>
    </div><!--The contact details card ends here!-->

{% endblock %}