{% load static %}

{% block thesis %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="PG">
            PG Thesis
        </a>

        <a class="item" data-tab="PhD">
            PhD Thesis
        </a>
    </div>


    {% comment %}The PG Thesis supervision segment starts here!{% endcomment %}
    <div class="ui active tab segment" data-tab="PG">
        <h4 class="ui dividing header" id="changes3">Add a Thesis</h4>
        <form class="ui form" method="post" action="{% url 'eis:pg_insert' %}" onsubmit="return validatepg()">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="fZ" name="pg_id"></div>
            <div class="field">
               <div class="One field">
                    <div class="field">
                        <label> Name</label>
                        <input placeholder="Name" type="text"   id="fA" type=text name="name" required>
                    </div>

                  
                </div>
            </div>

            <div class="field">
                <div class="fields">
                    <div class="six wide field">
                        <label>Roll Number</label>
                        <input placeholder="Roll Number" type="text" name="roll" id="fE" required>
                    </div>
                     <div class="four wide field">
                         <label>Month</label>
                              <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="month"  id="fX"  required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Month</div>
                            <div class="menu">
                               {% for i in "xxxxxxxxxxxx" %}
                                <div class="item" data-value="{{ forloop.counter }}">{{ forloop.counter }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>



                    <div class="four wide field">
                        <label>Year</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" id="fC" name="s_year" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Year</div>
                            <div class="menu">
                                {% for r in year_range %}
                                <div class="item" data-value="{{ r }}"  >{{ r }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="seven wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text"  id="fB" name="title"  required>
                        </div>
                    </div>
                     <div class="six wide field">
                        <label>Supervisor</label>
                        <input placeholder="Supervisor"   id="fD" type=text name="sup" required>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>
        <div class="ui pointing pagination menu">
                {% for mtech in mtechs %}
                {% if forloop.counter0|divisibleby:10 %}
                    <span align="right>"><a class="{% if forloop.counter0 == 0 %}active {% endif %}item" data-tab="mtech-{{ forloop.counter0 }}">
                        {% widthratio forloop.counter|add:10 10 1 %}
     </a></span>
                {% endif %}
                {% endfor %}

            </div>
     {% for mtech in mtechs %}

            {% if forloop.counter0|divisibleby:10 %}
            <div class="ui {% if forloop.counter0 == 0 %}active {% endif %} tab segment" data-tab="mtech-{{ forloop.counter0 }}">
        <table class="ui fixed sortable celled table">
            <thead>
            <tr>
                 <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 20%;" >Student</th>
                <th class="" style="width: 28%;">Title </th>
                <th class="" style="width: 12%;">Year</th>

                <th style="width:23%">Supervisor</th>


                <th class="" style="width: 10 %;">Action</th>
            </tr>
            </thead>

            <tbody>
            {% endif %}
            <tr id="r1">
                <td id="s{{ forloop.counter }}Z"><div style="display: none;">{{ mtech.id }}</div> {{ forloop.counter }}.</td>
                <td id="s{{ forloop.counter }}A"><b>Name: </b>{{ mtech.s_name }}<br/><b>Roll No.: </b>{{ mtech.rollno }}</td>
                <td id="s{{ forloop.counter }}B">{{ mtech.title }}</td>
                <td id="s{{ forloop.counter }}C">{{ mtech.a_month }}/{{ mtech.s_year }}</td>
                <td id="s{{ forloop.counter }}D">{{ mtech.supervisors }}</td>

                 <td><a onclick="getData({{ forloop.counter }})"><i id="bt" class="edit icon" style="font-size:1.3vw;color:blue"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_mtechphd_thesisDelete' mtech.id %}"><i id="bt" class="trash outline icon" style="font-size:1.3vw;color:red;"></i></a> </td>
            </tr>

            {% if forloop.counter0|add:1|divisibleby:10 %}

            </tbody>
        </table>
    </div>
          {% endif %}
            {% endfor %}
     {% if not mtechs.all.count|divisibleby:10 %}
     </tbody>
        </table>
            </div>
 {% endif %}
    </div>
    {% comment %}The PG Thesis supervision segment ends here!{% endcomment %}



    {% comment %}The PhD Thesis supervision segment starts here!{% endcomment %}
    <div class="ui tab segment" data-tab="PhD">
        <h4 class="ui dividing header"  id="changes4">Add a Thesis</h4>
        <form class="ui form"  method="post" action="{% url 'eis:phd_insert' %}" onsubmit="return validatephd()">
            {% csrf_token %}
            <div style="display: none;"> <input type="text" id="phdZ" name="phd_id"></div>
            <div class="field">
                 <div class="One field">
                    <div class="field">
                        <label> Name</label>
                        <input placeholder="Name" type="text" name="name"  id="phdA" required>
                    </div>

                   <!--  <div class="field">
                        <label>Last Name</label>
                        <input placeholder="Last Name" type="text">
                    </div> -->
                </div>
            </div>

            <div class="field">
                <div class="fields">
                    <div class="six wide field">
                        <label>Roll Number</label>
                        <input placeholder="Roll Number" type="text"  name="roll" id="phdE" required>
                    </div>
                     <div class="four wide field">
                         <label>Month</label>
                              <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="month"  id="phdX"  required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Month</div>
                            <div class="menu">
                               {% for i in "xxxxxxxxxxxx" %}
                                <div class="item" data-value="{{ forloop.counter }}">{{ forloop.counter }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>



                    <div class="four wide field">
                        <label>Year</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden"  name="s_year" id="phdC" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Year</div>
                            <div class="menu">
                                {% for r in year_range %}
                                <div class="item" data-value="{{ r }}">{{ r }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="seven wide field">
                        <div class="field">
                            <label>Title</label>
                            <input placeholder="Title" type="text"  name="title" id="phdB" required>
                        </div>
                    </div>
                     <div class="six wide field">
                        <label>Supervisor</label>
                        <input placeholder="Supervisor" type="text"  name="sup" id="phdD" required>
                    </div>

                    <div class="two wide field">
                        <label><br></label>
                        <button class="ui primary button" type="submit">
                            Save<i class="ui save icon right floated"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <br>
        <h4 class="ui dividing header">Report:</h4>
        <div class="ui pointing pagination menu">
                {% for phd in phds %}
                {% if forloop.counter0|divisibleby:10 %}
                    <span align="right>"><a class="{% if forloop.counter0 == 0 %}active {% endif %}item" data-tab="phd-{{ forloop.counter0 }}">
                        {% widthratio forloop.counter|add:10 10 1 %}
     </a></span>
                {% endif %}
                {% endfor %}

            </div>
     {% for phd in phds %}

            {% if forloop.counter0|divisibleby:10 %}
            <div class="ui {% if forloop.counter0 == 0 %}active {% endif %} tab segment" data-tab="phd-{{ forloop.counter0 }}">
        <table class="ui fixed sortable celled table" id="phd">
            <thead>
            <tr>
                <!--<th class="sorted ascending">Sr.</th>
                <th class="">Student</th>
                <th class="">Title</th>
                <th class="">Year</th>
                <th class="">Supervisor</th>
                <th class="">Action</th>-->

                 <th class="sorted ascending" style="width: 7%;">Sr.</th>
                <th class="" style="width: 20%;" >Student</th>
                <th class="" style="width: 30%;">Title </th>
                <th class="" style="width: 10%;">Year</th>

                <th style="width:23%">Other Details</th>


                <th class="" style="width: 10 %;">Action</th>
            </tr>
            </thead>

            <tbody>
            {% endif %}
            <tr id="r2">
                <td id="phd{{ forloop.counter }}Z"><div style="display: none;">{{ phd.id }}</div>{{ forloop.counter }}.</td>
                <td id="phd{{ forloop.counter }}A"><b>Name: </b>{{ phd.s_name }}<br/><b>Roll No.: </b>{{ phd.rollno }}</td>
                <td id="phd{{ forloop.counter }}B">{{ phd.title }}</td>
                <td id="phd{{ forloop.counter }}C">{{ phd.a_month }}/{{ phd.s_year }}</td>
                <td id="phd{{ forloop.counter }}D">{{ phd.supervisors }}</td>
                 <td><a onclick="updatePHD({{ forloop.counter }})"><i id="bt" class="edit icon" style="font-size:1.3vw;color:blue"></i></a><br><a class="centered raised item" href="{% url 'eis:emp_mtechphd_thesisDelete' phd.id %}"><i id="bt" class="trash outline icon" style="font-size:1.3vw;color:red;"></i></a> </td>
            </tr>

            {% if forloop.counter0|add:1|divisibleby:10 %}

            </tbody>
        </table>
    </div>
          {% endif %}
            {% endfor %}
     {% if not phds.all.count|divisibleby:10 %}
     </tbody>
        </table>
            </div>
 {% endif %}
    </div>
    {% comment %}The PhD Thesis supervision segment ends here!{% endcomment %}
{% endblock %}