{% load static %}

{% block viewpapermodal %}
	<div class="ui small modal" id="papermodal">
		    <div class="ui segment"><h1 style="color: blue;">Detail</h1></div>
          <div class="ui centered grid">
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Journal Name</h4></div>
            <div class="four wide column">
              <span id="name2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Authors</h4></div>
            <div class="four wide column">
              <span id="authors2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Co-Authors</h4></div>
            <div class="four wide column">
              <span id="co_authors2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Title</h4></div>
            <div class="four wide column">
              <span id="tittle2" >
                    <h4></h4>
                </span>
            </div>
          </div>
  		  	<div class="row">
  			    <div class="five wide column" style="color: red;"><h4>Year</h4></div>
  			    <div class="four wide column">
  			    	<span id="year2" >
  			            <h4></h4>
  			        </span>
  			    </div>
    			</div>
    			<div class="row">
  			    <div class="five wide column" style="color: red;"><h4>Volume No./Issue No.</h4></div>
  			    <div class="four wide column">
  			    	<span id="volume_no2" >
  			            <h4></h4>
  			        </span>
  			    </div>
    			</div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Page No.</h4></div>
            <div class="four wide column">
              <span id="page_no2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Paper Reference No.</h4></div>
            <div class="four wide column">
              <span id="ref2" >
                    <h4></h4>
                </span>
            </div>
          </div>

          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Date of Submission</h4></div>
            <div class="four wide column">
              <span id="dos2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Date of Publication(DOP)</h4></div>
            <div class="four wide column">
              <span id="dop2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Status</h4></div>
            <div class="four wide column">
              <span id="status2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>choose</h4></div>
            <div class="four wide column">
              <span id="choose2" >
                    <h4></h4>
                </span>
            </div>
          </div>
          <div class="row">
            <div class="five wide column" style="color: red;"><h4>Date of Issuance(DOI)</h4></div>
            <div class="four wide column">
              <span id="doi2" >
                    <h4></h4>
                </span>
            </div>
          </div>
  		</div>
    </div>
    
        




{% endblock %}