{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
    Browse Announcements
{% endblock %}

{% block body %}
    {% block navBar %}
        {% include 'dashboard/navbar.html' %}
    {% endblock %} 
	
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">

        <a class="active item" data-tab="complaint">
            Club Details
        </a>
        
        <a class="item" data-tab="complaint">
            Club Sessions
        </a>

   <a class="item" data-tab="complaint">
            Club Events
        </a>

       
    </div>
    function display_club_session() {
            $('#tbody').empty();
             var data1 = document.getElementById('club_session_').value;
            {% for i in Club_session %}
            console.log()
            var x =  "{{ i.club.club_name }}";
            if(data1==x )
            {
                $('#tbody').append('<tr><td onclick="view_session_(\'' + {{i}} + '\')">{{i.venue }}</td><td>{{ i.date }}</td><td>{{ i.start_time }}-{{ i.end_time }}</td><td>{{ i.details }}</td></tr>')
            }
            {% endfor %}
            return data1;

         }
    <div class="ui active tab" data-tab="club">
        <!-- <div class="ui vertical segment"> -->
        <div class="ui tab" data-tab="session">
        <div class="ui vertical segment">
            <form class="ui form" style="padding-left: 32px; padding-right: 32px;">
                <div class="field">
                    <label>Club</label>
                    <select class="ui search fluid dropdown" name="club" id="club_session_" onchange="display_club_session()" required>
                        <option value="">Select</option>
                            {% for i in Club_name %}
                                {% if i.status == "confirmed" %}
                                <option value="{{ i.club_name }}">{{ i.club_name }} </option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </div>
            </form>
            <br>
            <h4 class="ui dividing header" style="margin-left: 32px; margin-right: 32px;">Club Sessions</h4>
            <table class="ui very basic collapsing celled sortable table"
                   style="padding-left: 2.5%; padding-right: 2.5%;padding-top: 1%; padding-bottom: 1.5%; margin: auto;">
                <thead>
                <tr>
                    <th class="three wide column">
                        Venue
                    </th>

                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>

                    <th>
                        Details
                    </th>

                </tr>
                </thead>

                <tbody id="tbody">
                </tbody>
            </table>

            <br>
            <div class="ui divider"></div>
        </div>
        <br>
        <div class="extra content"></div>
     </div>
{% endblock %}