{% load static %}

{% block CSE_Dep %}

    <h1><center> Welcome to DESIGN Department </center></h1>

    {% comment %} tabs ui {% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="about-us">
            About Us
        </a>
        
        <a class="item" data-tab="facilities">
            Facilities
        </a>
        
        <a class="item" data-tab="faculty">
            Faculty
        </a>

        <a class="item" data-tab="students">
            Students
        </a>
        {% if user.extrainfo.department.name == "Design" %}
        <a class="item" data-tab="announcement">
            Announcements
        </a>
        {% endif %}
        {% comment %} <a class="item" data-tab="Request">
            Requests
        </a> {% endcomment %}
        <a class="item" data-tab="Alumni">
            Alumni
        </a>
        <a class="item" data-tab="Achievement">
            Achievement
        </a>
    </div>
    <div class="ui active tab" data-tab="about-us">
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <span>
                        <h3>
                            Our Mission :
                        </h3>
                        <p>
                            The Mission of the Institute is to create a multidisciplinary academic environment to prepare and train manpower of excellence for nurturing and promoting knowledge-based activities and innovations in design, fabrication and manufacturing of products by bringing together a collaborative and mutually stimulating mix of different fields of science, engineering and arts. In doing so the Institute shall identify current and future agendas for scholarship, share knowledge and discoveries with the world community and actively cultivate individuals with the desire and capability to contribute to society.
                        </p>
                        <h3>
                            Our Vision :
                        </h3>
                        <p>
                            In planning for its future as well as for conducting its ongoing activities, the Institute seeks to act in a manner that is guided by a deep-rooted sense of shared values and aspirations. Built upon such a foundation, the Institute honours and rewards high performance in learning, teaching, scholarship, research and creative activities by encouraging intellectual curiosity and protecting the multiple expressions of academic freedom.
                        </p>
                    </span>
                    {% comment %} {% if user_designation == "faculty" %}
                        <button class="ui button green " onclick="edit_about(this)">Edit</button>
                        <div id="edit-about-form" style="display:none;" data-status="hidden" >
                            <form class="ui form" action="{% url 'dep:edit_department' "DESIGN" "about"%}" method="post">
                                {% csrf_token %}
                                <div class="field">
                                  <textarea rows="20" name="dep_content" id="dep_about">{{departments.DESIGN.about}}</textarea>
                                </div>
                                <button type="submit" class="ui primary button">Save</button>
                            </form>
                        </div>
                    {% elif user_designation == "staff" %}
                        <button class="ui button green " onclick="edit_about(this)">Edit</button>
                        <div id="edit-about-form" style="display:none;" data-status="hidden">
                            <form class="ui form" action="/dep/editDepartmentDetail/DESIGN/" method="post">
                                {% csrf_token %}
                                <div class="field">
                                  <textarea rows="20" name="dep_content" id="dep_about">{{departments.DESIGN.about}}</textarea>
                                </div>
                                <button type="submit" class="ui primary button">Save</button>
                            </form>
                        </div>
                    {% endif %}
                    <div id="about">
                        {{departments.DESIGN.about|safe}}
                    </div> {% endcomment %}
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} tabs content facilities {% endcomment %}
    <div class="ui tab" data-tab="facilities">
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <span>
                        <h3>
                            Central Library :
                        </h3>
                        <p>
                            Institute library has e-resources through INDEST, Science Direct, IEEE, ACM, Springger Link, Nature and ASME. The Institute also has access to various online research journals & articles like following resources SIAm, AMS, ACS, Kluwer, APS, Palgrave, INFORMS, Rev.of Scientific Instruments, Appl.Physics Letters and the search engine Scopus. Total number of books in the Institute library by the year 2009-10 are approximately 6742.
                        </p>
                        <p>
                            High Performance Computing Labortory : Specification of Parallel Cluster (for Central Computing Facility)- JS22 Blade No.3, 16GB(2*8GB) DDR2 533 Mhz DiMMs, IBM 146GB SAS 10K SFF HDD, IBM blade center JS22 4-core 4.0 Ghz Processor and WiFi Campus etc.
                        </p>
                        <h3>
                            Lab Infrastructure :
                        </h3>
                        <ol>
                            <li>
                                <p>
                                    <b>Advanced Manufacturing Laboratory :</b> This Laboratory contains Rapid Prototyping Machine, CNC Controlled Abrasive Waterjet Machine, CNC Milling Center, CNC Turning Center, Dynamometer, Electro Chemical Machining System, Injection Moulding Machine etc.
                                </p>
                            </li>
                            <br>
                            <li>
                                <p>
                                    <b>Biometric Laboratory :</b> This Laboratory contains S Series, H Series, W Series cameras and p6 p520(Tower Model), p6 p520:8203 Model servers Made by IBM etc.
                                </p>
                            </li>
                            <br>
                            <li>
                                <p>
                                    <b>Digital Signal Processing and Image Processing Laboratory :</b> This Laboratory contains DSP Starter SPARTAN-3 kit (DSK), TMS 320C6713 DSK with CCS (Code Composer Studio), Image Daughter Kit with CCD Cameras, Bloom with DSP, Matrox Imaging Library, Matrox Morphis, Frame Graber Card, Color CCD Camera for online Processing etc.
                                </p>
                            </li>
                            <br>
                            <li>
                                <p>
                                    <b>Infrared Imaging Laboratory :</b> This Laboratory contains Radiometeric calibration, Extender rings, NDT Base Module, Central computing unit with TFT display, Software Modules for Lockin, Transient-and Pulse Measurement, Module Pulse- and Transient- Thermography, Source for Vibro- Thermography etc.
                                </p>
                            </li>
                            <br>
                            <li>
                                <p>
                                    <b>Materials Research Laboratory :</b> This Laboratory contains three important instruments for material characterization which are X-Ray Diffractometer (XRD), Scanning Electron Microscope (SEM) and Atomic Force Microscope (AFM) including SPM, MFM etc.
                                </p>
                            </li>
                        </ol>
                    </span>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} tabs content faculty {% endcomment %}



    {% comment %}The tab menu starts here!{% endcomment %}
        <div class="ui tab" data-tab="faculty">
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <span>

                        <div class="ui vertical segment" >

                            {% if fac_list.des_f %}
                            <div class="fac-container">
                                {% for faculty in fac_list.des_f %}
                                <div class="fac-card">
                                    <div class="fac-image" style="background-image: url('{% static 'globals/img/zlatan.jpg' %}');"></div>
                                    <div class="fac-content">
                                        <div class="fac-name">{{ faculty.title }}{{ faculty.user.first_name}} {{ faculty.user.last_name}}</div>
                                        <div class="fac-department">Design Discipline</div>
                                        <a class="fac-email" href="mailto:{{ faculty.user.email }}">{{ faculty.user.email }}</a>
                                        <div class="fac-reserch">Research Interests</div>
                                    </div>
                                    {% with "/eis/profile/"|add:faculty.user.username as link %}
                                    <a href="{{ link }}" class="fac-btn"><i class="user icon"></i>Profile</a>
                                    {% endwith %}
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            No Data Found.
                            {% endif %}
                        </div>
                    </span>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>

{% comment %} tabs contains Announcement_List {% endcomment %}
    <div class="ui tab" data-tab="announcement">
        {% if user.extrainfo.department.name == "Design" %}
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <span>

                        <div class="ui vertical segment" data-tab="Year-1">

                            {% comment %} {% if ann_list %} {% endcomment %}
                            <table class="ui very basic collapsing celled sortable table" style="padding-left: 2.5%; padding-right: 2.5%;padding-top: 1%; padding-bottom: 1.5%; margin: auto;">
                                <thead>
                                    <th>Announcement Date</th>
                                    <th>Announcement By</th>
                                    <th>Programme</th>
                                    <th>Batch &nbsp</th>
                                    <th>Message</th>
                                    <th>File</th>

                                </thead>

                                {% for stu in announcements.design %}
                                    <tr>
                                        <td>{{ stu.ann_date.date }}</td>
                                        <td>{{ stu.maker_id.user }}</td>
                                        <td>{{ stu.programme }}</td>
                                        <td>{{ stu.batch }}</td>
                                        <td>{{ stu.message }}</td>
                                        {% if stu.upload_announcement %}
                                            <td><a target="_blank" href="/media/{{ stu.upload_announcement }}"><i class="large attach black icon"></i></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% for stu in announcements.all %}
                                    <tr>
                                        <td>{{ stu.ann_date.date }}</td>
                                        <td>{{ stu.maker_id.user }}</td>
                                        <td>{{ stu.programme }}</td>
                                        <td>{{ stu.batch }}</td>
                                        <td>{{ stu.message }}</td>
                                        {% if stu.upload_announcement %}
                                            <td><a target="_blank" href="/media/{{ stu.upload_announcement }}"><i class="large attach black icon"></i></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                            </table>
                            {% comment %} {% endif %} {% endcomment %}
                            {% comment %} <br><div class="ui divider"></div><br> {% endcomment %}
                        </div>
                        
                    </span>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    {% comment %} tabs content students {% endcomment %}
    <div class="ui tab" data-tab="students">
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <span>
                        {% comment %}Get student Data{% endcomment %}
                        <div class="ui styled accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                                PhD Students
                            </div>
                            <div class="content">
                                <a class="item" href="./All_Students/{{1111111}}">
                                    {% comment %}    <button style="border: none; float: left; display: block;" class="ui inverted right floated small red button" onclick="requestModal()">  {% endcomment %}
                                    <button style="border: solid; float: left; display: block;">
                                        PhD Design Students
                                    </button>
                                </a>
                                <br>  
                            </div>
                        </div>

                        <div class="ui styled accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Mtech Students
                            </div>
                            <div class="content">
                                <a class="item" href="./All_Students/{{11111}}">
                                    {% comment %}    <button style="border: none; float: left; display: block;" class="ui inverted right floated small red button" onclick="requestModal()">  {% endcomment %}
                                    <button style="border: solid; float: left; display: block;" >
                                        First Year Design
                                    </button>
                                </a>
                                <a class="item" href="./All_Students/{{111111}}">
                                    {% comment %}    <button style="border: none; float: left; display: block;" class="ui inverted right floated small red button" onclick="requestModal()">  {% endcomment %}
                                    <button style="border: solid; float: left; display: block;">
                                        Second Year Design
                                    </button>
                                </a>
                                <br>     
                            </div>
                        </div>
                            
                        

                        <div class="ui styled accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                               B.Tech Students
                            </div>
                            <div class="content">
                                {% comment %} <a class="active item" href="/dep/All_Students/"> {% endcomment %}
                                <a class="active item" href="./All_Students/{{1}}">
                                {% comment %}    <button style="border: none; float: left; display: block;" class="ui inverted right floated small red button" onclick="requestModal()">  {% endcomment %}
                                    <button style="border: solid; float: left; display: block;">
                                        First Year Design
                                    </button>
                                </a>
                                {% comment %} <a class="active item" href="/dep/BtechSecondYear_Students/"> {% endcomment %}
                                <a class="active item" href="./All_Students/{{11}}">
                                    {% comment %}    <button style="border: none; float: left; display: block;" class="ui inverted right floated small red button" onclick="requestModal()">  {% endcomment %}
                                    <button style="border: solid; float: left; display: block;">
                                        Second Year Design
                                    </button>
                                </a>
                                <a class="active item" href="./All_Students/{{111}}">
                                    {% comment %}    <button style="border: none; float: left; display: block;" class="ui inverted right floated small red button" onclick="requestModal()">  {% endcomment %}
                                    <button style="border: solid; float: left; display: block;">
                                        Third Year Design
                                    </button>
                                </a>
                                <a class="active item" href="./All_Students/{{1111}}">
                                    {% comment %}    <button style="border: none; float: left; display: block;" class="ui inverted right floated small red button" onclick="requestModal()">  {% endcomment %}
                                    <button style="border: solid; float: left; display: block;">
                                        Final Year Design
                                    </button>
                                </a>
                                <br>
                            </div>
                        </div>

                    </span>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui tab" data-tab="Request">
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <span>
                        <div class="ui pointing secondary menu">
                            <a class="active item" data-tab="file-request">
                                File Requests
                            </a>
                            
                            <a class="item" data-tab="request-history">
                                Request History
                            </a>


                        </div>

                        <div class="ui active tab" data-tab="file-request">
                            <div class="ui vertical segment">
                                <div class="content">
                                    <div class="description">
                                        <span>
                                            {% with fac_list.staffNcse as faculty %}
                                                {% block file-requests %}
                                                    {% include "department/file_request.html" %}
                                                {% endblock %}
                                            {% endwith %}
                                        </span>
                                        <div class="ui divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui tab" data-tab="request-history">
                            <div class="ui vertical segment">
                                <div class="content">
                                    <div class="description">
                                        <span>
                                            {% block request_history %}
                                                {% include "department/request_history.html" %}
                                            {% endblock %}
                                        </span>
                                        <div class="ui divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </span>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="Achievement">
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <span>
                        <h1> Achievements</h1>
                        <ol>
                            <li>
                                <p>
                                    PDPM IIITDMJ Student Team has won the International Chess
                                    Competition, out of 160 teams participated, organized by Collegiate Chess League 2021
                                </p>
                            </li>
                            <br>
                            <li>
                                <p>
                                    Ph.D. student Mr. Ravi Yadav working under the guidance of Dr. Ravi Panwar
                                    awarded with "Swachhta Saarthi Fellowship" under the Waste to Wealth Mission of the Government of India,
                                    2021
                                </p>
                            </li>
                            <br>
                            <li>
                                <p>
                                    Ph.D. student Mr. Varun Chaudhary working
                                    under the guidance of Dr. Ravi Panwar won the MP Young Scientist Award with the First Position and was
                                    rewarded with a cash prize of Rs. 25,000 /-, 2021
                                </p>
                            </li>
                            <br>
                            <li>
                                <p>
                                    Abhishek Patel student of M.Tech ECE won Silver Medal in Men's Single Fairway Competition in All India
                                    Inter-University Woodball Championship 2019-2020 held at Chandigarh University, Chandigarh from
                                    04-07Jan,2020
                                </p>
                            </li>
                        </ol>
                    </span>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="Alumni">
        <div class="ui vertical segment">
            <div class="content">
                <div class="description">
                    <a class="active item" href="./All_Students/{{1111}}">
                        <button style="border: solid; float: left; display: block; margin-right:5px">
                            2018 Batch
                        </button>
                    </a>
                    <a class="active item" href="./All_Students/{{111}}">
                        <button style="border: solid; float: left; display: block;">
                            2019 Batch
                        </button>
                    </a>
                    <br>
                    {% comment %} <div class="ui divider"></div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}