<table class="ui very basic collapsing celled sortable table"
       style="padding-left: 2.5%; padding-right: 2.5%;padding-top: 1%; padding-bottom: 1.5%; margin: auto;">
    <thead>
    <tr>
        <th class="four wide column">
            Accession Number
        </th>

        <th class="six wide column">
            Book Name
        </th>

        <th>
            Due Date
        </th>

        <th>
            Return Date
        </th>

        <th>
            Days left
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            ...
        </td>

        <td>
            ...
        </td>

        <td>
            ...
        </td>

        <td>
            ...
        </td>

        <td>
            ...
        </td>
    </tr>

    </tbody>
</table>

<br>
<div class="ui divider"></div>