<table class="ui very basic collapsing celled sortable table"
       style="padding-left: 2.5%; padding-right: 2.5%;padding-top: 1%; padding-bottom: 1.5%; margin: auto;">
    <thead>
    <tr>
        <th class="four wide column">
            Accession Number
        </th>

        <th class="six wide column">
            Book Name
        </th>

        <th>
            Due Date
        </th>

        <th>
            Issue Date
        </th>

        
    </tr>
    </thead>

    <tbody>
    
   {% for key, values in data1.items %}
   <tr>
        <td>{{ values.assn }}</td> 
        <td>{{ values.book_name }}</td> 
        <td>{{ values.due_date }}</td> 
        <td>{{ values.issue_date }}</td>      
    </tr>
    {% endfor %}

    </tbody>
</table>

<br>
<div class="ui divider"></div>