{% load static %}
{% block viewmenu %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class=" ui active item" data-tab="menu1">
            Menu : Mess2
        </a>
        <a class=" ui item" data-tab="menu2">
            Menu : Mess1
        </a>
    </div>

    <div class="ui active tab" data-tab="menu1">
        <div class="ui vertical segment">
            <table class="ui definition padded table" style="margin: auto;">
                <thead>
                <tr>
                    <th></th>
                    <th>Breakfast</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    
                    <td>Monday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess2' %}
                            {% if item.meal_time == 'MB' or item.meal_time == 'ML' or item.meal_time == 'MD' %}

                                {% if item.meal_time == 'MB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'ML' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'MD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>

                <tr>
                    
                    <td>Tuesday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess2' %}

                            {% if item.meal_time == 'TB' or item.meal_time == 'TL' or item.meal_time == 'TD' %}
                                
                                {% if item.meal_time == 'TB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'TL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'TD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}    

                            {% endif %}
                        {% endif %}
                    {% endfor %}


                </tr>

                <tr>
                    
                    <td>Wednesday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess2' %}
                            {% if item.meal_time == 'WB' or item.meal_time == 'WL' or item.meal_time == 'WD' %}
                        
                                {% if item.meal_time == 'WB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'WL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'WD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>

                <tr>
                    
                    <td>Thursday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess2' %}
                            {% if item.meal_time == 'THB' or item.meal_time == 'THL' or item.meal_time == 'THD' %}

                        
                                {% if item.meal_time == 'THB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'THL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'THD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>

                <tr>
                    

                    <td>Friday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess2' %}
                            {% if item.meal_time == 'FB' or item.meal_time == 'FL' or item.meal_time == 'FD' %}

                                {% if item.meal_time == 'FB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'FL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'FD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>

                <tr>
                   
                    <td>Saturday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess2' %}
                            {% if item.meal_time == 'SB' or item.meal_time == 'SL' or item.meal_time == 'SD' %}

                                {% if item.meal_time == 'SB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>

                <tr>
                    
                    <td>Sunday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess2' %}
                            {% if item.meal_time == 'SUB' or item.meal_time == 'SUL' or item.meal_time == 'SUD' %}

                                {% if item.meal_time == 'SUB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SUL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SUD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>
                    
                
                </tbody>

            </table>

            <br>
            <div class="ui divider"></div>

            <div class="extra content">
                <button class="ui primary button right floated">
                    <!-- Download -->
                    <i class="ui download icon right floated"></i>
                </button>
                <br>
            </div>
        </div>
    </div>

<div class="ui tab" data-tab="menu2">
        <div class="ui vertical segment">
            <table class="ui definition padded table" style="margin: auto;">
                <thead>
                <tr>
                    <th></th>
                    <th>Breakfast</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    
                    <td>Monday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess1' %}
                            {% if item.meal_time == 'MB' or item.meal_time == 'ML' or item.meal_time == 'MD' %}

                                {% if item.meal_time == 'MB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'ML' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'MD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>

                <tr>
                    
                    <td>Tuesday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess1' %}

                            {% if item.meal_time == 'TB' or item.meal_time == 'TL' or item.meal_time == 'TD' %}
                                
                                {% if item.meal_time == 'TB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'TL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'TD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}    

                            {% endif %}
                        {% endif %}
                    {% endfor %}


                </tr>

                <tr>
                    
                    <td>Wednesday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess1' %}
                            {% if item.meal_time == 'WB' or item.meal_time == 'WL' or item.meal_time == 'WD' %}
                        
                                {% if item.meal_time == 'WB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'WL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'WD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>

                <tr>
                    
                    <td>Thursday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess1' %}
                            {% if item.meal_time == 'THB' or item.meal_time == 'THL' or item.meal_time == 'THD' %}

                        
                                {% if item.meal_time == 'THB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'THL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'THD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>

                <tr>
                    

                    <td>Friday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess1' %}
                            {% if item.meal_time == 'FB' or item.meal_time == 'FL' or item.meal_time == 'FD' %}

                                {% if item.meal_time == 'FB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'FL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'FD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>

                <tr>
                   
                    <td>Saturday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess1' %}
                            {% if item.meal_time == 'SB' or item.meal_time == 'SL' or item.meal_time == 'SD' %}

                                {% if item.meal_time == 'SB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>

                <tr>
                    
                    <td>Sunday</td>
                    {% for item in menu %}
                        {% if item.mess_option == 'mess1' %}
                            {% if item.meal_time == 'SUB' or item.meal_time == 'SUL' or item.meal_time == 'SUD' %}

                                {% if item.meal_time == 'SUB' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SUL' %}
                                    <td>{{item.dish}}</td>
                                {% elif item.meal_time == 'SUD' %}
                                    <td>{{item.dish}}</td>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </tr>
                    
                
                </tbody>

            </table>

            <br>
            <div class="ui divider"></div>

            <div class="extra content">
                <button class="ui primary button right floated">
                    <!-- Download -->
                    <i class="ui download icon right floated"></i>
                </button>
                <br>
            </div>
        </div>
    </div>
{% endblock %}