{% extends 'globals/base.html' %}
{% load static %}


{% block title %}
Profile
{% endblock %}

{% block css %}

<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
    rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
{% block navBar %}
{% include 'dashboard/navbar.html' %}
{% endblock %}


{% comment %}The grid starts here!{% endcomment %}
<div class="ui stackable doubling grid">

    {% comment %}The left-margin segment!{% endcomment %}
    <div class="column"></div>

    {% comment %}
    The left-rail segment starts here!
    {% endcomment %}
    <div class="three wide column">

        {% comment %}The user image card starts here!{% endcomment %}
        {% block usercard %}
        {% include 'globals/usercard.html' %}
        {% endblock %}
        {% comment %}The user image card ends here!{% endcomment %}

        <div class="ui divider"></div>

        {% comment %}The Tab-Menu starts here!{% endcomment %}
        <div class="ui huge fluid vertical pointing menu" style="max-width: 320px;">


            <a class=" {% if mark != 1 and mark2 != 1 and mark3 != 1 and mark4 != 1 and mark5 != 1 and mark6 != 1 and mark7 != 1 and mark8 != 1 and mark9 != 1 and mark10 != 1 and mark11 != 1 and mark12 != 1 and mark13 != 1 and mark14 != 1 and mark15 != 1 %}active item {% else %}item{% endif %}"
                data-tab="first">
                Personal Details
                <i class="right floated chevron right icon"></i>
            </a>

            <a class="{% if mark == 1 or mark2 == 1 or mark3 == 1 %}active item {% else %}item{% endif %} "
                data-tab="second">
                Publications
                <i class="right floated chevron right icon"></i>
            </a>

            <a class="{% if mark4 == 1 or mark5 == 1 or mark6 == 1 or mark7 == 1%}active item {% else %} item {% endif %}"
                data-tab="third">
                Projects
                <i class="right floated chevron right icon"></i>
            </a>

            <a class="{% if mark8 == 1 or mark9 == 1 %} active item {% else %} item {% endif %} " data-tab="fourth">
                Thesis Supervision
                <i class="right floated chevron right icon"></i>
            </a>

            <a class="{% if mark12 == 1 %}active item {% else %}item{% endif %}" data-tab="fifth">
                Event Organised
                <i class="right floated chevron right icon"></i>
            </a>

            <a class="{% if mark10 == 1 or mark11 == 1 %}active item {% else %}item{% endif %}" data-tab="sixth">
                Visits
                <i class="right floated chevron right icon"></i>
            </a>
            <a class="{% if mark13 == 1 %}active item {% else %}item{% endif %}" data-tab="seventh">
                Conference/Symposium
                <i class="right floated chevron right icon"></i>
            </a>

            <a class="{% if mark14 == 1 or mark15 == 1 %}active item {% else %}item{% endif %}" data-tab="eigth">
                Others
                <i class="right floated chevron right icon"></i>
            </a>






            {% if request.user.extrainfo.user_type == "faculty" and request.user == user %}
            <a class="item" data-tab="ninth">
                Project Management Forms
                <i class="right floated chevron right icon"></i>
            </a>
            {% endif %}

            {% if request.user.extrainfo.user_type == "faculty" and request.user == user %}
                     <a class="item" data-tab="tenth">
                        My Profile
                        <i class="right floated chevron right icon"></i>
                    </a>
            {% endif %}










            <!--{% if "HOD" in desig and request.user == user %}
                 <a class="item" data-tab="ten">
                    HOD_TAB
                    <i class="right floated chevron right icon"></i>
                </a>
                {% endif %} -->

        </div>
        {% comment %}The Tab-Menu ends here!{% endcomment %}

    </div>
    {% comment %}
    The left-rail segment ends here!
    {% endcomment %}



    {% comment %}
    The central-rail segment starts here!
    {% endcomment %}
    <div class="eight wide column">
        {% comment %}The Details start here!{% endcomment %}

        <div class="{% if mark != 1 and mark2 != 1 and mark3 != 1 and mark4 != 1 and mark5 != 1 and mark6 != 1 and mark7 != 1 and mark8 != 1 and mark9 != 1 and mark10 != 1 and mark11 != 1 and mark12 != 1 and mark13 != 1 and mark14 != 1 and mark15 != 1 %}ui active tab segment{% else %}ui tab segment{% endif %}"
            data-tab="first">

            {% block personaldetails %}
            {% include 'eisModulenew/personaldetails.html' %}
            {% endblock %}
        </div>
        {% comment %}The Personal Details end here!{% endcomment %}


        {% comment %}The Publications starts here!{% endcomment %}

        <div class="{% if mark == 1 or mark2 == 1 or mark3 == 1  %}ui active tab segment{% else %}ui tab segment{% endif %}"
            data-tab="second">
            {% block publications %}
            {% include 'eisModulenew/publications.html' %}
            {% endblock %}
        </div>

        {% comment %}The Publications ends here!{% endcomment %}


        {% comment %}The Projects starts here!{% endcomment %}

        <div class="{% if mark4 == 1 or mark5 == 1 or mark6 == 1 or mark7 == 1%}ui active tab segment {% else %} ui tab segment {% endif %}"
            data-tab="third">
            {% block projects %}
            {% include 'eisModulenew/projects.html' %}
            {% endblock %}
        </div>

        {% comment %}The Projects ends here!{% endcomment %}


        {% comment %}The Thesis Supervision starts here!{% endcomment %}

        <div class="{% if mark8 == 1 or mark9 == 1 %}ui active tab segment {% else %} ui tab segment {% endif %}"
            data-tab="fourth">
            {% block thesis %}
            {% include 'eisModulenew/thesis.html' %}
            {% endblock %}
        </div>

        {% comment %}The thesis ends here!{% endcomment %}

        {% comment %}The events organised starts here!{% endcomment %}

        <div class="{% if mark12 == 1  %}ui active tab segment{% else %}ui tab segment{% endif %}" data-tab="fifth">
            {% block eventorganised %}
            {% include 'eisModulenew/eventorganized.html' %}
            {% endblock %}
        </div>

        {% comment %}The event organised ends here!{% endcomment %}

        {% comment %}The visits starts here!{% endcomment %}

        <div class="{% if mark10 == 1 or mark11 == 1 %}ui active tab segment{% else %}ui tab segment{% endif %}"
            data-tab="sixth">
            {% block visits %}
            {% include 'eisModulenew/visits.html' %}
            {% endblock %}
        </div>
        {% comment %}The visits ends here!{% endcomment %}

        {% comment %}The conference starts here!{% endcomment %}
        <div class="{% if mark13 == 1  %}ui active tab segment{% else %}ui tab segment{% endif %}" data-tab="seventh">
            {% block conference %}
            {% include 'eisModulenew/conference.html' %}
            {% endblock %}
        </div>
        {% comment %}The conference ends here!{% endcomment %}

        {% comment %}The others starts here!{% endcomment %}
        <div class="{% if mark14 == 1 or mark15 == 1 %}ui active tab segment{% else %}ui tab segment{% endif %}"
            data-tab="eigth">

            {% block others %}
            {% include 'eisModulenew/others.html' %}
            {% endblock %}
        </div>
        {% comment %}The others ends here!{% endcomment %}





        {% comment %}The Project management form starts here!{% endcomment %}
        <div class="ui tab segment" data-tab="ninth">
            <!-- <div class="ui active tab segment" data-tab="first"> -->
            {% block form1 %}
            {% include 'officeModule/officeOfDeanRSPC/tab1.html' %}
            {% endblock %}
            <!-- </div> -->
        </div>
        <div class="ui tab segment" data-tab="tenth">

            {% block my_projects %}
                {% include 'eisModulenew/my_projects.html' %}
            {% endblock %}
        </div>




        {% comment %}The servicebook starts here!{% endcomment %}
        <div class="{% if mark26 == 1 %}ui active tab segment{% else %}ui tab segment{% endif %}" data-tab="ttenth">
            {% block service %}
            {% include 'hr2Module/service_main.html' %}
            {% endblock %}
        </div>
        {% comment %}The others ends here!{% endcomment %}











        <!-- <div class="ui tab segment" data-tab="ten">
                
                {% block form2 %}
                    {% include 'officeModule/officeOfDeanRSPC/Hod_Applications_content.html' %}
                {% endblock %}
            </div> -->

        {% comment %}The Publications ends here!{% endcomment %}

        {% comment %}Block for Displaying Messages{% endcomment %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="ui positive message">
            <i class="close icon"></i>
            <div class="header">
                Successful!
            </div>
            {% else %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Alert!
                </div>
                {% endif %}
                <p>{{message}}</p>
            </div>
            {% endfor %}
            {% endif %}

        </div>
        {% comment %}The central-rail segment ends here!{% endcomment %}

        {% comment %}The right-rail segment starts here!{% endcomment %}
        <div class="three wide column">
            {% if request.user == user %}
            <center>
                <div class="ui black button" onclick="toggleReport()" style="width: 100%;padding:8%;font-size: 18px;">
                    Generate Report <i class="dropdown icon"></i></div>
            </center>
            <div class="row" style="display: none;" id="report_tab">
                {% comment %}The Modules:{% endcomment %}
                {% block generatereport %}
                {% include 'eisModulenew/generatereport.html' %}
                {% endblock %}
            </div>
            {% endif %}


            <div class="row">
                {% comment %}The Modules:{% endcomment %}
                {% block modules %}
                {% include 'dashboard/modules.html' %}
                {% endblock %}
            </div>

        </div>
        {% comment %}The right-rail segment ends here!{% endcomment %}

        {% comment %}The right-margin segment!{% endcomment %}
        <div class="column"></div>

    </div>
    {% comment %}The grid ends here!{% endcomment %}



    {% endblock %}








    {% block javascript %}
    {% csrf_token %}
    <script
        src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>

    <script type="text/javascript">
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                    ;
            })
            ;

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        function viewpaper(index, name, author2, co_author2, tittle2, year2,
            volume_no2, page_no2, ref2, dos2, dop2, status2, choose2, doi2) {
            $("#name2").text(name);
            $("#authors2").text(author2);
            $("#co_authors2").text(co_author2);
            $("#tittle2").text(tittle2);
            $("#year2").text(year2);
            $("#volume_no2").text(volume_no2);
            $("#page_no2").text(page_no2);
            $("#ref2").text(ref2);
            $("#dos2").text(dos2);
            $("#dop2").text(dop2);
            $("#status2").text(status2);
            $("#choose2").text(choose2);
            $("#doi2").text(doi2);
            $("#papermodal").modal('show');
        }
        function viewproject(index, pi, co_pi, title, funding, dos, start, finish, finance, status) {
            $("#proj_pi").text(pi);
            $("#proj_co_pi").text(co_pi);
            $("#proj_title").text(title);
            $("#proj_funding").text(funding);
            $("#proj_dos").text(dos);
            $("#proj_start").text(start);
            $("#proj_finish").text(finish);
            $("#proj_finance").text(finance);
            $("#proj_status").text(status);

            $("#projectmodal").modal('show');
        }


        function editpaper(index, id, name, author2, co_author2, tittle2, year2, volume_no2, page_no2, ref2, dos2, dop2, status2, choose2, doi2) {

            $("#name").val(name);
            $("#authors").val(author2);
            $("#co_author").val(co_author2);
            $("#title").val(tittle2);
            $("#year").val(year2);
            $("#volume").val(volume_no2);
            $("#page").val(page_no2);
            $("#ref").val(ref2);
            $("#dos").val(dos2);
            $("#dop").val(dop2);
            $("#status").val(status2);
            $("#sci").val(choose2);
            $("#doi").val(doi2);
            $("#journalpk").val(id);
            $("#index").val(index);
            document.getElementById("savejournal").style.display = 'none';
            document.getElementById("editjournal").style.display = 'block';
            document.getElementById("journalform").action = "{% url 'eis:editjournal' %}";

        }

        function editforeignvisit(index, id, country, place, purpose, start_date, end_date) {

            $("#country").val(country);
            $("#place").val(place);
            $("#purpose").val(purpose);
            $("#start_date").val(start_date);
            $("#end_date").val(end_date);
            $("#foreignvisitpk").val(id);
            $("#index10").val(index);
            document.getElementById("saveforeignvisit").style.display = 'none';
            document.getElementById("editforeignvisit").style.display = 'block';
            document.getElementById("foreignvisitform").action = "{% url 'eis:editforeignvisit' %}";

        }

        function toggleReport() {
            if (document.getElementById("report_tab").style.display == 'none') {
                document.getElementById("report_tab").style.display = 'block';
            }
            else {
                document.getElementById("report_tab").style.display = 'none';
            }
        }

        function editindianvisit(index, id, country, place, purpose, start_date, end_date) {

            $("#country2").val(country);
            $("#place2").val(place);
            $("#purpose2").val(purpose);
            $("#start_date2").val(start_date);
            $("#end_date2").val(end_date);
            $("#indianvisitpk").val(id);
            $("#index11").val(index);
            document.getElementById("saveindianvisit").style.display = 'none';
            document.getElementById("editindianvisit").style.display = 'block';
            document.getElementById("indianvisitform").action = "{% url 'eis:editindianvisit' %}";

        }

        function editbooks(index, id, title, author, p_type, pyear, publisher) {

            $("#book_title").val(title);
            $("#book_author").val(author);
            $("#book_p_type").val(p_type);
            $("#book_year").val(pyear);
            $("#book_publisher").val(publisher);
            $("#bookspk2").val(id);
            $("#index15").val(index);
            document.getElementById("savebook").style.display = 'none';
            document.getElementById("editbook").style.display = 'block';
            document.getElementById("booksform").action = "{% url 'eis:editbooks' %}";

        }

        function editevent(index, id, role, agency, venue, start_date, end_date, type, name) {

            $("#event_role").val(role);
            $("#sponsoring_agency").val(agency);
            $("#event_venue").val(venue);
            $("#event_start_date").val(start_date);
            $("#event_end_date").val(end_date);
            $("#event_type").val(type);

            $("#event_name").val(name);
            $("#eventpk").val(id);
            $("#index12").val(index);
            document.getElementById("saveevent").style.display = 'none';
            document.getElementById("editevent").style.display = 'block';
            document.getElementById("eventsform").action = "{% url 'eis:editevent' %}";

        }

        function editconference2(index, id, role1, role2, name, venue, start_date, end_date) {

            $("#conference_role").val(role1);
            if (role2 != 'None') {
                $("#conference_organised").val(role2);
            }
            $("#conference_name").val(name);
            $("#conference_venue").val(venue);
            $("#conference_start_date").val(start_date);
            $("#conference_end_date").val(end_date);
            $("#conferencepk2").val(id);
            $("#index13").val(index);
            document.getElementById("saveconference2").style.display = 'none';
            document.getElementById("editconference2").style.display = 'block';
            document.getElementById("conferenceform2").action = "{% url 'eis:editconsym' %}";

        }

        function viewconference(c_name, c_author, c_co_author, c_tittle, c_year, c_venue, c_dos, c_doa, c_dop, c_page, c_status, c_isbn) {

            $("#conf_name").text(c_name);
            $("#conf_authors").text(c_author);
            $("#conf_co_authors").text(c_co_author);
            $("#conf_tittle").text(c_tittle);
            $("#conf_year").text(c_year);
            $("#conf_venue").text(c_venue);
            $("#conf_dos").text(c_dos);
            $("#conf_doa").text(c_doa);
            $("#conf_dop").text(c_dop);
            $("#conf_page").text(c_page);
            $("#conf_status").text(c_status);
            $("#conf_isbn").text(c_isbn);
            $("#conferencemodal").modal('show');
        }


        function editconference(pk, index, c_name, c_author, c_co_author, c_tittle, c_year, c_venue, c_dos, c_doa, c_dop, c_page, c_status, c_isbn) {
            console.log("dvd")
            $("#index3").val(index);
            $("#conferencepk").val(pk);
            $("#name3").val(c_name);
            $("#authors3").val(c_author);
            $("#co_author3").val(c_co_author);
            $("#title3").val(c_tittle);
            $("#year3").val(c_year);
            $("#venue3").val(c_venue);
            $("#dos3").val(c_dos);
            $("#doa3").val(c_doa);
            $("#dop3").val(c_dop);
            $("#page_no3").val(c_page);
            $("#status3").val(c_status);
            $("#isbn_no3").val(c_isbn);
            document.getElementById("saveconference").style.display = 'none';
            document.getElementById("editconference").style.display = 'block';
            document.getElementById("conferenceform").action = "{% url 'eis:editconference' %}";
        }




        function editFirst() {
            var aboutSpan = $("#aboutSpan").text().trim();
            var educationSpan = $("#educationSpan").text().trim();
            var interestSpan = $("#interestSpan").text().trim();
            var contactSpan = $("#contactSpan").text().trim();
            var buttonValue = $("#editButton").val();
            var linkedinSpan = $("#linkedinSpan").text().trim();
            var githubSpan = $("#githubSpan").text().trim();
            console.log(buttonValue);
            if (buttonValue == "Edit") {
                console.log("2")
                $("#editButton").val("Save");
                console.log($("#contactInput").val(contactSpan));
                $("#contactInput").val(contactSpan);
                $("#contactInput").show();
                $("#contactSpan").hide();
                $("#contactIcon").hide();

                console.log($("#githubInput").val(githubSpan));
                $("#githubInput").val(githubSpan);
                $("#githubInput").show();
                $("#githubSpan").hide();
                $("#githubIcon").hide();


                console.log($("#linkedinInput").val(linkedinSpan));
                $("#linkedinInput").val(linkedinSpan);
                $("#linkedinInput").show();
                $("#linkedinSpan").hide();
                $("#linkedinIcon").hide();

                $("#aboutTextarea").val(aboutSpan);
                $("#aboutTextarea").show();
                $("#aboutSpan").hide();

                $("#educationTextarea").val(educationSpan);
                $("#educationTextarea").show();
                $("#educationSpan").hide();

                $("#interestTextarea").val(interestSpan);
                $("#interestTextarea").show();
                $("#interestSpan").hide();

            }
            else if (buttonValue == "Save") {
                $.ajax({
                    url: '{% url "eis:persinfo" %}',
                    type: "POST",
                    data: {
                        'contact': $("#contactInput").val().trim(),
                        'about': $("#aboutTextarea").val().trim(),
                        'education': $("#educationTextarea").val().trim(),
                        'interest': $("#interestTextarea").val().trim(),
                        'linkedin': $("#linkedinInput").val().trim(),
                        'github': $("#githubInput").val().trim(),
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                    },
                    success: function (returned, status, xhr) {
                        alert(returned['x']);
                    },
                    error: function (rs, e) {
                        console.log('error');
                    }
                });
                console.log("recieving");

                $("#editButton").val("Edit");


                console.log('after save')

                var contactValue = $("#contactInput").val().trim();
                $("#contactSpan").text(contactValue);
                $("#contactInput").hide();
                $("#contactSpan").show();
                $("#contactIcon").show();

                var aboutSpan = $("#aboutTextarea").val().trim();
                $("#aboutSpan").text(aboutSpan);
                $("#aboutTextarea").hide();
                $("#aboutSpan").show();

                var educationSpan = $("#educationTextarea").val().trim();
                $("#educationSpan").text(educationSpan);
                $("#educationTextarea").hide();
                $("#educationSpan").show();

                var interestSpan = $("#interestTextarea").val().trim();
                $("#interestSpan").text(interestSpan);
                $("#interestTextarea").hide();
                $("#interestSpan").show();

                var linkedinValue = $("#linkedinInput").val().trim();
                $("#linkedinSpan").text(linkedinValue);
                $("#linkedinInput").hide();
                $("#linkedinSpan").show();
                $("#linkedinIcon").show();

                var githubValue = $("#githubInput").val().trim();
                $("#githubSpan").text(githubValue);
                $("#githubInput").hide();
                $("#githubSpan").show();
                $("#githubIcon").show();

            }

        }

        function updatePUB(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("pub" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("pub" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("pubZ").value = document.getElementById("pub" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes5").innerHTML = "<span style='color:red;'>Edit the selected journal publications details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("pub" + _row + cols[i]).innerHTML;
                if (i == 2) {
                    document.getElementById("pubC").value = _temp.slice(_temp.indexOf("Journal") + 13, _temp.indexOf("<br>", _temp.indexOf("Journal"))).trim();
                    document.getElementById("pubE").value = _temp.slice(_temp.indexOf("Volume No./Issue No.: </b>") + 26, _temp.indexOf("<br>", _temp.indexOf("Volume No./Issue No.: </b>"))).trim();
                    document.getElementById("pubF").value = _temp.slice(_temp.indexOf("Page") + 14, _temp.indexOf("<br>", _temp.indexOf("Page"))).trim();
                    document.getElementById("pubG").value = _temp.slice(_temp.indexOf("Reference ") + 20, _temp.indexOf("<br>", _temp.indexOf("Reference "))).trim();
                    document.getElementById("pubH").value = _temp.slice(_temp.indexOf("Submission ") + 17, _temp.indexOf("<br>", _temp.indexOf("Submission "))).trim();
                    document.getElementById("pubI").value = _temp.slice(_temp.indexOf("Publication") + 18, _temp.indexOf("<br>", _temp.indexOf("Publication"))).trim();
                    document.getElementById("pubK").value = _temp.slice(_temp.indexOf("SCIE ") + 18, _temp.indexOf("<br>", _temp.indexOf("SCIE "))).trim();
                    document.getElementById("pubL").value = _temp.slice(_temp.indexOf("Issuance") + 16, _temp.indexOf("<br>", _temp.indexOf("Issuance"))).trim();
                } else if (i == 3) {
                    document.getElementById("pubX").value = _temp.slice(0, _temp.search("/"));
                    document.getElementById("pub" + cols[i]).value = _temp.slice(_temp.search("/") + 1, _temp.length);
                }
                else {
                    document.getElementById("pub" + cols[i]).value = _temp;
                }
            }

        }



        function updateCON(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("con" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("con" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("conZ").value = document.getElementById("con" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes6").innerHTML = "<span style='color:red;'>Edit the selected conference publication details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("con" + _row + cols[i]).innerHTML;
                if (i == 2) {
                    document.getElementById("conC").value = _temp.slice(_temp.indexOf("Confrence:") + 52, _temp.indexOf("<br>", _temp.indexOf("Confrence:"))).trim();
                    document.getElementById("conE").value = _temp.slice(_temp.indexOf("Institute") + 15, _temp.indexOf("<br>", _temp.indexOf("Institute"))).trim();
                    document.getElementById("conF").value = _temp.slice(_temp.indexOf("Submission") + 17, _temp.indexOf("<br>", _temp.indexOf("Submission"))).trim();
                    document.getElementById("conG").value = _temp.slice(_temp.indexOf("Start") + 18, _temp.indexOf("<br>", _temp.indexOf("Start"))).trim();
                    document.getElementById("conH").value = _temp.slice(_temp.indexOf("End") + 16, _temp.indexOf("<br>", _temp.indexOf("End"))).trim();
                    document.getElementById("conI").value = _temp.slice(_temp.indexOf("Page ") + 18, _temp.indexOf("<br>", _temp.indexOf("Page "))).trim();
                    document.getElementById("conL").value = _temp.slice(_temp.indexOf("ISBN ") + 21, _temp.indexOf("<br>", _temp.indexOf("ISBN "))).trim();
                } else if (i == 3) {
                    {
                        document.getElementById("conX").value = _temp.slice(0, _temp.search("/"));
                        document.getElementById("con" + cols[i]).value = _temp.slice(_temp.search("/") + 1, _temp.length);
                    }
                }
                else {
                    document.getElementById("con" + cols[i]).value = _temp;
                }
            }
        }


        function updateBOOKS(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("books" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("books" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("booksZ").value = document.getElementById("books" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes7").innerHTML = "<span style='color:red;'>Edit the selected published book details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("books" + _row + cols[i]).innerHTML;
                if (i == 3) {
                    document.getElementById("booksX").value = _temp.slice(0, _temp.search("/"));
                    document.getElementById("books" + cols[i]).value = _temp.slice(_temp.search("/") + 1, _temp.length);
                }
                else {
                    document.getElementById("books" + cols[i]).value = _temp;
                }
            }
        }

        function updateRESEARCH(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("research" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("research" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("researchZ").value = document.getElementById("research" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes8").innerHTML = "<span style='color:red;'>Edit the selected research project details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("research" + _row + cols[i]).innerHTML;
                if (i == 0) {
                    document.getElementById("research" + cols[i]).value = _temp.slice(_temp.indexOf("PI: ") + 8, _temp.indexOf("<br>", _temp.indexOf("PI: "))).trim();
                    document.getElementById("researchE").value = _temp.slice(_temp.indexOf("<b>Co-PI: </b>") + 14, _temp.length).trim();
                } else if (i == 3) {
                    document.getElementById("researchD").value = _temp.slice(_temp.indexOf("Submission") + 20, _temp.indexOf("<br>", _temp.indexOf("Submission"))).trim();
                    document.getElementById("researchG").value = _temp.slice(_temp.indexOf("Start") + 15, _temp.indexOf("<br>", _temp.indexOf("Start"))).trim();
                    document.getElementById("researchH").value = _temp.slice(_temp.indexOf("Expected") + 26, _temp.indexOf("<br>", _temp.indexOf("Expected"))).trim();
                    document.getElementById("researchI").value = _temp.slice(_temp.indexOf("Financial") + 22, _temp.indexOf("<br>", _temp.indexOf("Financial"))).trim();
                    document.getElementById("researchJ").value = _temp.slice(_temp.indexOf("Status") + 12, _temp.indexOf("<br>", _temp.indexOf("Status"))).trim();
                } else {
                    document.getElementById("research" + cols[i]).value = _temp;
                }
            }
        }
        function updateCONSULTANCY(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("consultancy" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("consultancy" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("consultancyZ").value = document.getElementById("consultancy" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes9").innerHTML = "<span style='color:red;'>Edit the selected consultancy project details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("consultancy" + _row + cols[i]).innerHTML;
                if (i == 4) {
                    document.getElementById("consultancyE").value = _temp.slice(_temp.indexOf("From:") + 6, _temp.indexOf("<br>", _temp.indexOf("From:"))).trim();
                    document.getElementById("consultancyF").value = _temp.slice(_temp.indexOf("To:") + 4, _temp.length).trim();
                } else {
                    document.getElementById("consultancy" + cols[i]).value = _temp;
                }
            }
        }

        function updatePATENT(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("patent" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("patent" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("patentZ").value = document.getElementById("patent" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes10").innerHTML = "<span style='color:red;'>Edit the selected patent details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("patent" + _row + cols[i]).innerHTML;
                if (i == 3) {
                    document.getElementById("patentX").value = _temp.slice(0, _temp.search("/"));
                    document.getElementById("patent" + cols[i]).value = _temp.slice(_temp.search("/") + 1, _temp.length);
                }
                else {
                    document.getElementById("patent" + cols[i]).value = _temp;
                }
            }
        }

        function updateTECH(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("tech" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("tech" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("techZ").value = document.getElementById("tech" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes11").innerHTML = "<span style='color:red;'>Edit the selected technology transfer details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("tech" + _row + cols[i]).innerHTML;
                document.getElementById("tech" + cols[i]).value = _temp;
            }
        }

        function getData(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("s" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("s" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("fZ").value = document.getElementById("s" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            console.log(cols);
            document.getElementById("changes3").innerHTML = "<span style='color:red;'>Edit the selected thesis details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("s" + _row + cols[i]).innerHTML;
                if (i == 0) {
                    var pos = _temp.indexOf("<br>");
                    document.getElementById("fA").value = _temp.slice(13, pos);
                    pos = _temp.lastIndexOf("</b>");
                    document.getElementById("fE").value = _temp.slice(pos + 4, _temp.length);
                } else if (i == 2) {
                    document.getElementById("fX").value = _temp.slice(0, _temp.search("/"));
                    document.getElementById("f" + cols[i]).value = _temp.slice(_temp.search("/") + 1, _temp.length);
                }
                else {

                    document.getElementById("f" + cols[i]).value = _temp;
                }
            }
        }

        function updatePHD(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("phd" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("phd" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("phdZ").value = document.getElementById("phd" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes4").innerHTML = "<span style='color:red;'>Edit the selected thesis details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("phd" + _row + cols[i]).innerHTML;
                if (_temp.search("<b>Name: </b>") == 0) {
                    var pos = _temp.search("<br>");
                    document.getElementById("phd" + cols[i]).value = _temp.slice(13, pos);
                    pos = _temp.lastIndexOf("</b>");
                    document.getElementById("phdE").value = _temp.slice(pos + 4, _temp.length);
                } else if (i == 2) {
                    document.getElementById("phdX").value = _temp.slice(0, _temp.search("/"));
                    document.getElementById("phd" + cols[i]).value = _temp.slice(_temp.search("/") + 1, _temp.length);
                }
                else {
                    document.getElementById("phd" + cols[i]).value = _temp;
                }
            }
        }


        function updateACH(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";
            var p = document.getElementById("ach" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("ach" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("achZ").value = document.getElementById("ach" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes12").innerHTML = "<span style='color:red;'>Edit the selected achieement details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("ach" + _row + cols[i]).innerHTML;
                if (i == 2) {
                    document.getElementById("achE").value = _temp.slice(_temp.length - 4, _temp.length);
                    if (_temp.search("/") > 0) {
                        if (_temp.lastIndexOf("/") != _temp.indexOf("/")) {
                            document.getElementById("achC").value = _temp.slice(0, _temp.indexOf("/") - 1);
                            document.getElementById("achF").value = _temp.slice(_temp.indexOf("/") + 2, _temp.lastIndexOf("/") - 1);
                        }
                        else {
                            document.getElementById("achF").value = _temp.slice(0, _temp.indexOf("/") - 1);
                        }
                    }
                }
                else {
                    document.getElementById("ach" + cols[i]).value = _temp;
                }
            }
        }
        function updateLEC(_row) {
            var cols = new Array();
            cols[0] = "A";
            cols[1] = "B";
            cols[2] = "C";
            cols[3] = "D";
            cols[4] = "E",
                cols[5] = "F";
            cols[6] = "G";
            cols[7] = "H";
            cols[8] = "I";

            var p = document.getElementById("lec" + _row + "Z").innerHTML.search(">");
            var pend = document.getElementById("lec" + _row + "Z").innerHTML.indexOf("<", 5);
            document.getElementById("lecZ").value = document.getElementById("lec" + _row + "Z").innerHTML.slice(p + 1, pend);
            window.location.href = "#top";
            document.getElementById("changes13").innerHTML = "<span style='color:red;'>Edit the selected expert lecture details</span>";
            for (var i = 0; i < cols.length; i++) {
                var _temp = document.getElementById("lec" + _row + cols[i]).innerHTML;
                document.getElementById("lec" + cols[i]).value = _temp;
            }
        }
    </script>

    <script type="text/javascript" src="{% static 'fusion/js/editProfile.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusion/js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusion/js/tablesort.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusion/js/jquery.min.js' %}"></script>

    <!-- <script src="https://code.jquery.com/jquery-2.1.4.js"></script> -->
    <script
        src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

    {% comment %}
    <script>
        $(document).ready(function () {
            $('table').tablesort();
        });
    </script>
    {% endcomment %}
    <script>

    </script>


    <script>
        function toggleContent() {
            $('.modulesContent').toggle();

            if ($('.modulesContent').is(':visible')) {
                $('#toggleIcon').removeClass("chevron down");
                $('#toggleIcon').addClass("chevron up");
            }
            else if (!$('.modulesContent').is(':visible')) {
                $('#toggleIcon').removeClass("chevron up");
                $('#toggleIcon').addClass("chevron down");
            }
        }



        $('#example1').calendar();
        $('#example1a').calendar();
        $('#example1b').calendar();
        $('#example1d').calendar();
        $('#example1e').calendar();
        $('#example1f').calendar();
        $('#example1g').calendar();
        $('#example1h').calendar();

        $('#example2').calendar({
            type: 'date'
        });

        $('#example2a').calendar({
            type: 'date'
        });
        $('#example2b').calendar({
            type: 'date'
        });
        $('#example2d').calendar({
            type: 'date'
        });
        $('#example2e').calendar({
            type: 'date'
        });
        $('#example2f').calendar({
            type: 'date'
        });
        $('#example2g').calendar({
            type: 'date'
        });
        $('#example2h').calendar({
            type: 'date'
        });
        $('#example3').calendar({
            type: 'time'
        });
        $('#rangestart').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
        $('#rangestart1').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend1').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
        $('#rangestart2').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend2').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
        $('#rangestart3').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend3').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
        $('#rangestart4').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend4').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
        $('#rangestart5').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend5').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
        $('#rangestart6').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend6').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
        $('#example4').calendar({
            startMode: 'year'
        });
        $('#example5').calendar();
        $('#example6').calendar({
            ampm: false,
            type: 'time'
        });
        $('#example7').calendar({
            type: 'month'
        });
        $('#example8').calendar({
            type: 'year'
        });
        $('#example9').calendar();
        $('#example10').calendar({
            on: 'hover'
        });
        var today = new Date();
        $('#example11').calendar({
            minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate() - 5),
            maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate() + 5)
        });
        $('#example12').calendar({
            monthFirst: false
        });
        $('#example13').calendar({
            monthFirst: false,
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });
        $('#example14').calendar({
            inline: true
        });
        $('#example15').calendar();



        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction1() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "none";
            }
        }


        function myFunction2() {
            var x = document.getElementById("myDIV1");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction3() {
            var x = document.getElementById("myDIV1");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction4() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction5() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <script type="text/javascript" src="{% static 'fusion/js/datepicker.js' %}"></script>
    {% endblock %}