{% block tab1 %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="tab1content1">
            Director Section
        </a>
    </div>

    <div class="ui active tab" data-tab="tab1content1">
        <div class="ui vertical segment">
            {% block tab1content1 %}
                {% include 'officeModule/officeOfRegistrar/directorSection_content1.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock tab1%}