<form>
    {% comment %}The add a new skill Accordian starts here!{% endcomment %}
    <div class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;">

        <div class="two fields">
            <div class="field">
                <label>Name</label>
                <input value="Zlatan Ibrahimovic" class="ui large input">
            </div>

            <div class="field">
                <label>Money</label>
                <input value="..." class="ui large input">
            </div>
        </div>

        <div class="field">
            <label>Purpose</label>
            <textarea rows="2"></textarea>
        </div>

        <div class="field">
            <button class="ui primary button right floated" type="submit">
                Submit
            </button>
        </div>
    </div>
</form>

<br>
<br>
<div class="ui divider"></div>