{% load static %}
{% block appointment %}
    {% comment %}the main tab starts here {% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="doctorappointment">
            Doctor Apppointment
        </a>

        <a class="item" data-tab="ambulancerequest">
            Ambulance Request
        </a>
    </div>

    {% comment %}the doctor appointment tab starts here {% endcomment %}
    <div class="ui active tab" data-tab="doctorappointment">
        <div class="ui vertical segment">
            <form class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;">{% csrf_token %}
                <div class="field">
                  <div class="field">
                      <label>Doctor</label>
                      <select id="doc" class="ui search fluid" name="doctor_id" required="true">
                        <option selected hidden>--SELECT--</option>
                        {% for doctor in doctors %}
                        <option value="{{doctor.id}}">{{doctor.doctor_name}}</option>
                        {% endfor %}
                      </select>
                  </div>
                        <div class="field">
                            <label>Date Of Appointment</label>
                            <select id="date" class="ui search fluid dropdown" name="date" required="true">
                              <option value="" selected hidden>--SELECT--</option>
                            </select>

                        </div>
                </div>
                <div class="field">
                    <label>Description of Disease</label>
                    <div class="ui fluid input">
                        <textarea id="description" class="ui textarea" rows="2" name="description" required="true"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label><br></label>

                    <div >
                      <input type="submit" id="appo" name="Submit" value="Submit" class="ui small right floated primary button" />
                    </div>

                </div>
            </form>
          <script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
          <script type="text/javascript">
                  $('#doc').change(function()
                  {
                      $.ajax({
                      type:'post',
                      url:'/healthcenter/student/',
                      data: {
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                      doctor:$("#doc").val(),
                      },
                      success: function(JSON){
                        $("#date").empty();
                        $.each(JSON, function(key, value) {
                       $("#date").append("<option value="+value.pk +">" + value.fields.date+"-------"+value.fields.from_time+"-"+value.fields.to_time+"</option>");
                   });

                    }
                   });
                 });


                $('#appo').on('click',function(e){
                     e.preventDefault();
                     $.ajax({
                     type:'post',
                     url:'/healthcenter/student/',
                     data: {
                     csrfmiddlewaretoken: '{{ csrf_token }}',
                     doctor:$("#doc").val(),
                     date:$("#date").val(),
                     description:$("#description").val(),
                     appointment:$("#appo").val(),
                     },
                     success: function(data){
                       if (data.status == 1){
                         alert("Appointment requested.Check history for the status of appointment. ")
                         document.getElementById("doc").value=""
                         document.getElementById("date").value=""
                         document.getElementById("description").value=""
                       }
                   }
                  });
                });

              </script>

            <br>
            <br>
        </div>
        <br>
        <div class="extra segment"></div>

    </div>
    {% comment %}the doctor appointment tab ends here {% endcomment %}

    {% comment %}the ambulance appointment tab starts here {% endcomment %}
    <div class="ui tab" data-tab="ambulancerequest">
        <div class="ui vertical segment">
            <form class="ui form" method="POST" style="padding: 8px; padding-left: 24px; padding-right: 24px;">{% csrf_token %}
                <div class="two fields" >
                    <div class="field">
                        <label>From</label>
                                <input type="date" placeholder="From" id="start_date" name="start_date">
                                <p id="stdt"></p>

                    </div>
                    <div class="field">
                        <label>To</label>

                          <input type="date" placeholder="To" id="end_date" name="end_date">
                          <p id="endt"></p>


                    </div>
                </div>


                <div class="field">
                    <label>Reason</label>
                    <div class="ui fluid input">
                        <textarea class="ui textarea" rows="2" id="reason" name="reason"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label><br></label>
                    <div >
                      <input type="button" id="amb_submit" name="amb_submit" value="Submit"class="ui large right floated primary button" />
                    </div>
                </div>

            </form>
            <script type="text/javascript">
              $('#amb_submit').click(function(e)
                                                  {
                                                    var startDate = document.getElementById('start_date').value;
                                                    var endDate = document.getElementById('end_date').value;
                                                    var start = new Date(startDate);
                                                    var end=new Date(endDate);
                                                    var today = new Date();

                                                    $('#stdt').html('');
                                                    $('#endt').html('');
                                                    if ( start < today ) {
                                                        $('#stdt').html('You cannot enter a date before today!.');
                                                        return false;
                                                    }
                                                    if(endDate!="")
                                                    {
                                                    if ( end < start ) {
                                                        $('#endt').html('You cannot enter a date before start date!.');
                                                        return false;
                                                    }
                                                  }
                                                    $.ajax({
                                                      type:'post',
                                                      url:'/healthcenter/student/',
                                                      data: {
                                                      csrfmiddlewaretoken: '{{ csrf_token }}',
                                                      start_date:$("#start_date").val(),
                                                      end_date:$("#end_date").val(),
                                                      reason:$("#reason").val(),
                                                      amb_submit:$("#amb_submit").val()
                                                    },
                                                      success: function(data){
                                                      alert("Ambulance requested.");
                                                      document.getElementById("start_date").value="";
                                                      document.getElementById("end_date").value="";
                                                      document.getElementById("reason").value="";

                                                    }
                                                  });
                                                });

</script>
            <br>
            <br>
        </div>
        <br>
        <div class="extra segment"></div>
    </div>


    {% comment %}the ambulance appointment tab ends here {% endcomment %}
{% endblock %}
