{% extends 'health_center/phc_compounder.html' %}
{% block sidetabmenu %}
<div class="ui medium fluid vertical pointing menu" style="max-width: 320px;">

  {% comment %} <a class="item" href="{% url 'examination:submit' %}">Submit
    <i class="right floated chevron right icon"></i>
  </a>
  <a class="item" href="{% url 'examination:verify' %}">Verify
    <i class="right floated chevron right icon"></i>
  </a> {% endcomment %}
  <a class="active item" href="{% url 'examination:publish' %}"><B>Publish</B>
    <i class="right floated chevron right icon"></i>
  </a>
  <a class="item" href="{% url 'examination:announcement' %}">Announcement
    <i class="right floated chevron right icon"></i>
  </a>
  {% comment %} <a class="item" href="{% url 'examination:timetable' %}">Time Table
    <i class="right floated chevron right icon"></i>
  </a> {% endcomment %}
</div>
{% endblock %}

{% block content %}

<h1>Publish Result</h1>
<br />

{% comment %} Combined {% endcomment %}
<div style="display: flex; flex-direction: column; gap: 30px;" > 

{% comment %} First Row {% endcomment %}
<div style="display: flex; flex-direction: row; gap: 50px; " >

<div style="display: flex; flex-direction: row; gap: 10px; " >
    <div style="margin-top: 8px;"  >
 <label>Curriculum</label>
    </div>
  <div class="ui selection dropdown">
    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">Select Item</div>
     <div class="menu">
      <div class="item" data-value="1">B.Tech</div>
      <div class="item" data-value="0">M.Tech</div>
      <div class="item" data-value="0">B.Des</div>
      <div class="item" data-value="0">M.Des</div>
      <div class="item" data-value="0">PhD</div>
    </div>
  </div>
</div>

<div style="display: flex; flex-direction: row; gap: 10px; " >
    <div style="margin-top: 8px;"  >
 <label>Batch</label>
    </div>
  <div class="ui selection dropdown">
    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">Select Item</div>
     <div class="menu">
      <div class="item" data-value="1">B.Tech</div>
      <div class="item" data-value="0">M.Tech</div>
      <div class="item" data-value="0">B.Des</div>
      <div class="item" data-value="0">M.Des</div>
      <div class="item" data-value="0">PhD</div>
    </div>
  </div>
</div>

<div style="display: flex; flex-direction: row; gap: 10px; " >
    <div style="margin-top: 8px;"  >
 <label>Branch</label>
    </div>
  <div class="ui selection dropdown">
    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">Select Item</div>
     <div class="menu">
      <div class="item" data-value="1">B.Tech</div>
      <div class="item" data-value="0">M.Tech</div>
      <div class="item" data-value="0">B.Des</div>
      <div class="item" data-value="0">M.Des</div>
      <div class="item" data-value="0">PhD</div>
    </div>
  </div>
</div>

</div>


{% comment %} Second Row {% endcomment %}

<div style="display: flex; flex-direction: row; gap: 50px; margin-left: 10px; " >

    <div style="display: flex; flex-direction: row; gap: 10px; " >
        <div style="margin-top: 8px;"  >
     <label>Semester</label>
        </div>
      <div class="ui selection dropdown">
        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">Select Item</div>
         <div class="menu">
          <div class="item" data-value="1">B.Tech</div>
          <div class="item" data-value="0">M.Tech</div>
          <div class="item" data-value="0">B.Des</div>
          <div class="item" data-value="0">M.Des</div>
          <div class="item" data-value="0">PhD</div>
        </div>
      </div>
    </div>
    
    
    

    <a href="{% url 'examination:notReady_publish' %}">
     <button class="ui primary button">

            Search
        </button>
    </a>
   
    
    </div>
    
    

    



</div>

{% endblock %}