{% load static %}
{% block registration %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui secondary point menu">
        <!-- <a class="ui active item" data-tab="mess committee" id="mm">
            Mess Committee
        </a> -->
        {% for d in desig %}
        {% if d.designation.name == 'mess_manager' %}
        <a class="ui {% for d in desig %} {% if d.designation.name == 'mess_manager' %} active {% endif %} {% endfor %} item item" data-tab="monthly bill">

            Bill Base and Excel Upload

        </a>
        <a class="ui item" data-tab="Update Bill">
            Update Bill 
        </a>
        {% endif %}
        {% endfor %}
        <a class="ui {% for d in desig %} {% if d.designation.name == 'mess_warden' %} active {% endif %} {% endfor %} item" data-tab="View Student Bills">
            View Students Bills
        </a>
    </div>

        

        <div class="ui tab {% for d in desig %} {% if d.designation.name == 'mess_warden' %} active {% endif %} {% endfor %}" data-tab="View Student Bills">
      
            {% block reg_list_bills %}
            {% include 'messModule/view_payments_bills.html' %}
            {% endblock %}
        </div>

        <div class="ui tab" data-tab="Update Bill" style="min-height:45vh;">
            <div class="ui vertical segment">
                <form method="post" action="{% url 'mess:updateBill' %}">
                    {% csrf_token %}
                    <div class="ui form" style="padding: 8px; padding-left: 12px; padding-right: 12px;">
                        <div class ="one field">
                            <div class= "field" style="width:100%;">
                                    <label for="rollNo">Roll No.</label>                                       
                                    <input type="text" name="rollNo" placeholder="Roll_No of Student" style="border:1px solid black;" required="true" id="rollNo">

                            </div>
                        </div>
                        <div class ="one field">
                            <div class= "field" style="width:100%;">  
                                    <label for="new_amount">New Amount</label>                                  
                                    <input type="text" name="new_amount" placeholder="New amount for this month bill" style="border:1px solid black;" required="true" id="new_amount">

                            </div>
                        </div>
                        <div class ="two fields">
                            <div class= "field" style="width:100%;">
                                <label for="Month">Month</label>   
                                {% comment %} <input type="text" name="Month" placeholder="Month of bill update" style="border:1px solid black;" required="true" id="Month"> {% endcomment %}
                                <select name="Month" class="ui fluid dropdown" required="true" id="Month">
                                    <option value="january">January</option>
                                    <option value="february">February</option>
                                    <option value="march">March</option>
                                    <option value="april">April</option>
                                    <option value="may">May</option>
                                    <option value="june">June</option>
                                    <option value="july">July</option>
                                    <option value="august">August</option>
                                    <option value="september">September</option>
                                    <option value="october">October</option>
                                    <option value="november">November</option>
                                    <option value="december">December</option>
                            </select>
                            </div>
                            <div class= "field" style="width:100%;">
                                <label for="Year">Year</label>   
                                {% comment %} <input type="text" name="Month" placeholder="Month of bill update" style="border:1px solid black;" required="true" id="Month"> {% endcomment %}
                                <select name="Year" class="ui fluid dropdown" required="true" id="Year">
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    
                            </select>
                            </div>
                            
                        </div>
                        {% comment %} <div class ="two fields">
                            <div class= "field" style="width:100%;">
                                <label for="RebateCount">Rebate Count</label>   
                                <input type="number" name="RebateCount" placeholder="Rebate count for this month" style="border:1px solid black;" required="true" id="RebateCount">
                            </div>
                            <div class= "field" style="width:100%;">
                                <label for="RebateAmount">Rebate Amount</label>   
                                <input type="number" name="RebateAmount" placeholder="Rebate amount for this month" style="border:1px solid black;" required="true" id="RebateAmount">
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <div class=" one field">
                        <button class="ui primary button right floated" type="submit" name="submit">Update
                        </button>
                    </div>
                </form>
                
            </div>
        </div>

        <div class="ui tab {% for d in desig %} {% if d.designation.name == 'mess_manager' %} active {% endif %} {% endfor %}" data-tab="monthly bill" id="mbs">
            <div class="ui vertical segment">

                <form method="post">
                    {% csrf_token %}
                    <div class="ui form" style="padding: 8px; padding-left: 12px; padding-right: 12px;">
                        {#                <p style="text-align:center;"><strong>Update monthly base amount</strong></p>#}
                        <div class="two fields">
                            <div class="field">
                                <input name="amount" id="amount" type="number"
                                       placeholder='Current base amount : Rs. {{ bill_base.bill_amount }}'>
                            </div>
                            <div class="field">
                                <button class="ui primary button right floated" type="submit" name="submit"
                                        onclick="updatecost()">Update base amount
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>

                <!-- <div class="ui form" style="padding: 8px; padding-left: 12px; padding-right: 12px;">
                    <form method="post" onclick="generatemessbill()">
                        {% csrf_token %}
                        <br>
                        <div>
                            <button class="ui primary button right floated" type="submit" name="submit">
                                Bill for previous month
                            </button>
                        </div>
                        <br>
                    </form>
                    <br>
                    
                </div> -->
                

            </div>

            <div class="ui form" style="margin-top: 10px;">
                <form
                    method="POST"
                    action="/mess/updatemonthlybill"
                    enctype="multipart/form-data"
                  >
                    {% csrf_token %}
                    <div class="field">
                      <div class="ui label" style="display: block;">Update Monthly bill by uploading Excel</div>
                      <input
                        type="file"
                        title="Upload excel file"
                        name="excel_file_bill"
                        accept=".xlsx,.xls"
                        style="max-width: 15rem; margin-bottom: 1rem"
                        required
                      />
                      <br />
                    </div>
                    <div class="field">
                      <button
                        class="ui primary fluid button"
                        style="max-width: 10rem"
                        type="submit"
                        name="excelUpload1"
                      >
                        <i class="upload icon"></i>
                        Update bills
                      </button>
                      <ul>
                        <li>
                          The excel sheet should contain seven columns including the heading - Roll no, month of bill, year of bill, amount without rebate,rebate count, rebate amount, final bill
                        </li>
                        <li>File should be in .xlsx or .xls format.</li>
                        <li>This registration will update the Students bill for the provided month and year.</li>
                      </ul>
                    </div>
                  </form>
            </div>
        </div>
        {% comment %} Committee sections starts here {% endcomment %}


        <div class="ui small modal" style="padding: 2.5%" id="donotbill">
            <div>
                <STRONG> Monthly Bill generation has started </STRONG>
            </div>

        </div>


{% endblock %}
{% block javacript %}
    <script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>
    <script>
        document.getElementById('bill_dwn').addEventListener('click', download);

        function download() {
            
        }

        function required_check_registration() {
            if (!confirm("Do you want to start registration for the semester :")) {
                check = 0;
                return check;
            }
            else {
                check = 1;
                return check;
            }
        }

        function start_registration() {
            check = required_check_registration();
            if (check == 0) {
                alert("Operation cancelled");
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: 'startmessregistration/',
                    dataType: 'json',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'start_date': $("#reg_start_date").val(),
                        'end_date': $("#reg_end_date").val(),
                        'sem': $("#reg_sem").val()
                    },
                    success: function (data) {
                        if (data.status) {
                            alert(data.message);
                            $("#messchange").load(location.href + " #messchange>*", "");

                        }
                    },
                    error: function (data, err) {
                        alert(err.message);
                        $("#messchange").load(location.href + " #messchange>*", "");
                    }
                });
            }
            return false;
        }

        function updatecost() {
            $.ajax({
                type: 'POST',
                url: 'updatecost/',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'amount': $("#amount").val()
                },
                success: function (data) {
                    if (data.status) {
                        alert(data.message);
                        $("#messmonthlybill").load(location.href + " #messmonthlybill>*", "")
                    }
                },
                error: function (data, err) {
                    alert(err.message);
                }
            });
            return false;
        }

        function generatemessbill() {
            $.ajax({
                type: 'POST',
                url: 'generatemessbill/',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    if (data.status) {
                        $('#donotbill').modal('show');
                    }
                },
                error: function (data, err) {
                    alert(err.message);
                    $("#generatebill").load(location.href + " #generatebill>*", "")
                }
            });
            return false;
        }


    </script>
{% endblock %}
