{% load static %}
{% block messbill %}

    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <!--<a class="ui active item" data-tab="bills">-->
            <!--Monthly Bill-->
        <!--</a>-->
        <!--<a class="item" data-tab="messpayment">-->
            <!--Payment-->
        <!--</a>-->
        <a class="item" data-tab="generatebill">
            Generate Bill
        </a>

    </div>


<!--<div class="ui active tab" data-tab="bills" id="messmonthlybill">-->
    <!--<div class="ui vertical segment">-->
         <!--<form method="post" >-->
             <!--{% csrf_token %}-->
             <!--<div class="ui form" style="padding: 8px; padding-left: 24px; padding-right: 24px;">-->
                    <!--<div class="two fields">-->
                        <!--<div class="field">-->
                            <!--<label>Enter bill amount for the current month</label>-->
                        <!--</div>-->
                    <!--</div>-->

                     <!--<div class="field">-->
                        <!--<label>Monthly Bill Amount</label>-->
                        <!--<input min="0" max="2500" id="amount" name="amount" required="true">-->
                    <!--</div>-->

                    <!--<div class="field">-->
                        <!--<button class="ui primary button right floated" type="submit" name="submit" onclick="return updatecost()">-->
                            <!--Submit-->
                        <!--</button>-->
                    <!--</div>-->
             <!--</div>-->
         <!--</form>-->
        <!--<br>-->
        <!--<br>-->

<!--<div class="ui divider"></div>-->
    <!--</div>-->
<!--</div>-->

<div class="ui divider"></div>


<div class="ui tab" data-tab="generatebill" id="generatebill">
    <div class="ui vertical segment">
        <!--action="{% url 'mess:billgenerate' %}"-->
         <form method="post" action="{% url 'mess:billgenerate' %}">
             {% csrf_token %}
                    <div class="field">
                        <div class="two fields">
                        <div class="field">
                            <label>Enter bill amount for the current month and generate bill</label>
                        </div>
                    </div>

                     <div class="field">
                        <label>Monthly Bill Amount</label>
                        <input min="0" max="2500" id="amount" name="amount" required="true">
                    </div>
                        <button class="ui primary button right floated" type="submit" name="submit">
                            Generate
                        </button>
                    </div>
                    <div>
                        <label>Bill generation will take a while please hold on and don't refresh</label>
                    </div>
         </form>

    </div>
</div>
        <br>
        <br>

<div class="ui divider"></div>


<div class="ui divider"></div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'globals/js/jquery.min.js' %}"></script>

 <script>
        function updatecost(){
            $.ajax({
                type: 'POST',
                url: 'updatecost/',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken' : '{{ csrf_token }}',
                    'amount': $("#amount").val()
                    <!--'month':$("#month").val()-->
                },
                success: function(data) {
                    if(data.status){
                        alert("Data Inserted Successfully");
                        $("#messmonthlybill").load(location.href+" #messmonthlybill>*","")
                    }
                },
                error: function(data, err) {
                    alert(err.message);
                }
            });
        return false;
    }
     function billgenerate(){
            $.ajax({
                type: 'POST',
                url: 'billgenerate/',
                dataType: 'json',
                data{
                'csrfmiddlewaretoken' : '{{ csrf_token }}',
                'amount': $("#amount").val()
                },
                success: function(data) {
                    if(data.status){
                        alert("Data Inserted Successfully");
                        $("#generatebill").load(location.href+" #generatebill>*","")
                        <!--$("#messmonthlybill").load(location.href+" #messmonthlybill>*","")-->
                    }
                },
                error: function(data, err) {
                    alert(err.message);
                    $("#generatebill").load(location.href+" #generatebill>*","")
                }
            });
        return false;
    }



</script>
{% endblock %}
