{% load static %}
{% block booking-details %}

{% for booking in active_bookings %}
<div class="ui modal" id='booking-details-{{ booking.id }}'>
  <div class="header">Request Action</div>
  <div class="scrolling content">
    <form class="ui large form">
            <div class="field">
                <label>Name</label>
                <input type="text" value="{{ booking.intender.username }}" readonly>
            </div>

            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Phone </label>
                        <input  type="number" value="{{ booking.bintender.phone }}" readonly>
                    </div>

                    <div class="field">
                        <label>Email</label>
                        <input type="Email" value="{{ booking.intender.email }}" readonly>
                    </div>
                </div>
            </div>


            <div class="two fields">
                <div class="field">
                    <label>From:</label>
                    <div class="ui calendar" id="rangestart2">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" class="date-selector" value="{{ booking.booking_from }}">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>To:</label>
                    <div class="ui calendar" id="rangeend2">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" value="{{ booking.booking_to }}" class="date-selector">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="three fields">

                    <div class="field">
                        <label>Category:</label>

                        <div class="ui fluid search selection dropdown">
                            <input name="category" type="hidden">
                            <i class="dropdown icon"></i>

                            <div class="default text">Select</div>

                            <div class="menu">
                                <div class="item" data-value="A">
                                    A
                                </div>

                                <div class="item" data-value="B">
                                    B
                                </div>

                                <div class="item" data-value="C">
                                    C
                                </div>

                                <div class="item" data-value="D">
                                    D
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Number Of People</label>

                        <div class="ui fluid input">
                            <input value="{{ booking.person_count }}" type="number">
                        </div>
                    </div>

                    <div class="field">
                        <label>Rooms</label>
                        <select name="rooms" multiple="" class="ui fluid dropdown">
                            {% for key, values in available_rooms.items %}
                                {% if key == booking.id %}
                                    {% for room in values %}
                                    <option value='{{ room }}'>{{ room }}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Purpose Of Visit</label>
                <div class="ui fluid input">
                    <textarea rows="2" value="{{ booking.purpose }}"></textarea>
                </div>
            </div>

            <input type="hidden" name="booking-id" value="{{ booking.id }}">
            {% if user_designation == 'Intender' %}
        <div class="field">
            <div class="ui large red button right floated" onclick="cancel_active_booking('{{ booking.id }}', '{{ booking.booking_from }}')">
                Cancel
            </div>
        </div>
        {% endif %}
        <br>
        <br>
    </form>
  </div>
</div>

{% endfor %}

{% endblock %}
