{% load static %}

{% block bookings %}
{% comment %}The tab menu starts here!{% endcomment %}
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="bookings">
        Bookings
    </a>
</div>
<div class="ui vertical segment" style="padding: 8px; padding-left: 24px; padding-right: 24px;">
    <div class="content">
        <div class="description">

            <table class="ui very basic collapsing celled large sortable table"
                   style="padding-left: 2.5%;
                                                          padding-right: 2.5%;
                                                          padding-top: 1%;
                                                          padding-bottom: 1.5%;
                                                          margin: auto;">
                <thead>
                <tr>
                    <th>
                        Vistor's Name
                    </th>

                    <th>
                        Intender
                    </th>

                    <th>
                        From
                    </th>

                    <th>
                        To
                    </th>

                    <th>
                        Duration
                    </th>

                    <th>
                        Payment  Status
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="{% static 'globals/img/zlatan.jpg' %}" class="ui mini circular image">
                            <div class="content">
                                Zlatan Ibrahimovic
                                <div class="sub header">
                                    gmail@zlatan.com
                                </div>
                            </div>
                        </h4>
                    </td>

                    <td>
                        Zlatan
                    </td>

                    <td>
                        14 Nov'17
                    </td>

                    <td>
                        16 Nov'17
                    </td>

                    <td>
                        2
                    </td>

                    <td>
                        <i class="large green checkmark icon"></i>
                    </td>
                </tr>



                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
<br>

<div class="extra content">
    <div class="" style="text-align: center;">
        <i class="large green checkmark icon"></i> : Completed &ensp;&ensp;&ensp;&ensp;&ensp;
        <i class="large orange warning icon"></i> : In Progress&ensp;&ensp;&ensp;&ensp;
        <i class="large red x icon"></i> : Pending
    </div>
</div>


{% endblock %}
