{% load static %}

{% block bookings %}
{% comment %}The tab menu starts here!{% endcomment %}
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="requests">
        Requests
    </a>

    <a class="item" data-tab="active-bookings" href="{% url 'visitorhostel:get_booking_requests' %}">
        Active Bookings
    </a>

    <a class="item" data-tab="inactive-bookings">
        Inactive Bookings
    </a>
</div>

<div class="ui active tab" data-tab="requests">
    <div class="ui vertical segment">
        <div class="content">
            <div class="description">
                <table class="ui very basic collapsing celled sortable table">
                    <thead>
                        <tr>
                            <th class="three wide column">Intender</th>
                            <th class="three wide column">Booking From</th>
                            <th class="three wide column">Booking To</th>
                            <th class="three wide column">Category</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for booking in pending_bookings %}
                        <tr onclick=bookingRequestModal('{{ booking.id }}')>
                            <td>
                                <h4 class="ui image header">
                                    <div class="content">
                                        {{ booking.intender }}
                                        <div class="sub header">
                                        {{ booking.intender.email }}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td>{{ booking.booking_from }}</td>
                            <td>{{ booking.booking_to }}</td>
                            <td>{{ booking.visitor_category }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="ui divider"></div>
            </div>
        </div>
    </div>
</div>

<div class="ui tab" data-tab="active-bookings">
    <div class="ui vertical segment">
        <div class="content">
            <div class="description">
                <table class="ui very basic collapsing celled sortable table">
                    <thead>
                        <tr>
                            <th class="three wide column">Intender</th>
                            <th class="three wide column">Booking From</th>
                            <th class="three wide column">Booking To</th>
                            <th class="three wide column">Category</th>
                            <th class="threewide column">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for booking in active_bookings %}
                        <tr onclick=bookingDetailsModal('{{ booking.id }}')>
                            <td>
                                <h4 class="ui image header">
                                    <div class="content">
                                        {{ booking.intender }}
                                        <div class="sub header">
                                        {{ booking.intender.email }}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td>{{ booking.booking_from }}</td>
                            <td>{{ booking.booking_to }}</td>
                            <td>{{ booking.visitor_category }}</td>
                            <td>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="ui divider"></div>
            </div>
        </div>
    </div>
</div>

<div class="ui tab" data-tab="inactive-bookings">
    <div class="ui vertical segment">
        <div class="content">
            <div class="description">
                <table class="ui very basic collapsing celled sortable table">
                    <thead>
                        <tr>
                            <th class="three wide column">Intender</th>
                            <th class="three wide column">Booking From</th>
                            <th class="three wide column">Booking To</th>
                            <th class="three wide column">Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for booking in inactive_bookings %}
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <div class="content">
                                        {{ booking.intender }}
                                        <div class="sub header">
                                        {{ booking.intender.email }}
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td>{{ booking.booking_from }}</td>
                            <td>{{ booking.booking_to }}</td>
                            <td>{{ booking.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="ui divider"></div>
            </div>
        </div>
    </div>


{% include 'vhModule/check-in-modal.html' %}

{% include 'vhModule/booking-request-action-modal.html' %}

{% endblock %}
