<div class="ui cards">
  <div class="card">
    <div class="content">

      <div class="header">
        Action
      </div>

      <div class="description">
        How would you like to proceed with the request?
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Approve</div>
        <div class="ui basic red button">Decline</div>
      </div>
    </div>
  </div>
</div>




<div class="ui large cards">
    <div class="card">
        <div class="content">
            <div class="header">
                Details
            </div>
            <div class="description">

            </div>
        </div>
    </div>
</div>



<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Availablity
  </div>
  <div class="table content">
     <table class="ui single line table">
  <thead>
    <tr>
        <th>Room</th>
         <th>Room Type</th>
      <th>Available From</th>
      <th>Available Till</th>


    </tr>
  </thead>
  <tbody>
    <tr>
        <td>4</td>
         <td>suite</td>
      <td>September 14, 2017</td>
      <td>September 19, 2017</td>
    </tr>
  </tbody>
</table>
  </div>
  <div class="actions">
    <div class="ui red button">
      Cancel
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
