{% load static %}

{% block checkin %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="checkin">
            Checkin
        </a>
    </div>

    <div class="ui active tab" data-tab="checkin">

        <div class="ui vertical stripe team segment"
             style="padding-left: 3.5%;
                padding-right: 3.5%;">

            <form class="ui large form">

                {% comment %} The visitor room form conatianer starts here! {% endcomment %}
                <div id="checkin">
                    {% comment %}The form row starts here!{% endcomment %}

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Name </label>
                                <input value="Zlatan Ibrahimovic" readonly>
                            </div>

                            <div class="field">
                                <label>Email</label>
                                <input placeholder="Email" type="email">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Phone</label>
                                <input placeholder="Phone" type="number">
                            </div>

                            <div class="field">
                                <label>No. Of People</label>
                                <div class="ui fluid search selection dropdown">
                                    <input name="noOfPeople" type="hidden">
                                    <i class="dropdown icon"></i>

                                    <div class="default text">Select</div>

                                    <div class="menu">
                                        <div class="item" data-value="1">
                                            1
                                        </div>

                                        <div class="item" data-value="B">
                                            2
                                        </div>

                                        <div class="item" data-value="C">
                                            3
                                        </div>

                                        {% comment %}
                                    Do it using a for loop in Python -->
                                    {% for i in range(10) %}-->

                                    <div class="item" data-value="C">
                                        {{i}}
                                    </div>

                                    {% endfor %}
                                    {% endcomment %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="three fields">
                        <div class="field">
                            <label>Arrival Date</label>
                            <div class="ui calendar" id="rangestart">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Arrival Date">
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Arrival Time:</label>
                            <input placeholder="time" type="time">
                        </div>

                        <div class="field">
                            {% comment %}number of rooms  starts here!{% endcomment %}
                            <label>No Of Rooms:</label>
                            <div class="ui search selection dropdown">
                                <input name="Select" type="hidden">
                                <i class="dropdown icon"></i>

                                <div class="default text">Select</div>

                                <div class="menu">
                                    <div class="item" data-value="1">
                                        1
                                    </div>

                                    <div class="item" data-value="2">
                                        2
                                    </div>
                                    <div class="item" data-value="3">
                                        3
                                    </div>

                                    <div class="item" data-value="4">
                                        4
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Address:</label>
                        <div class="ui fluid input">
                            <textarea class="ui textarea" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label><br></label>
                        <div class="ui large right floated primary button">
                            Submit
                        </div>
                    </div>
                </div>
            </form>

            <br>
            <div class="ui divider"></div>

        </div>
    </div>
{% endblock %}
