{% load static %}
{% block checkout %}


{% for booking in active_bookings %}
{% if booking.status == 'CheckedIn' %}

<div class="ui modal" id="check-out-modal-{{ booking.id }}">
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="checkout">
            Guest Check-Out
        </a>
    </div>

    <div class="ui active tab" data-tab="checkout">
        <div class="ui vertical stripe team segment"
             style="padding-left: 3.5%;
                padding-right: 3.5%;">

            <form class="ui large form">
                <div id="checkout">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Name </label>
                                <input  type="text" value=" {{ booking.intender }} " readonly >
                            </div>

                            <div class="field">
                                <label>email</label>
                                <input  type="email" value=" {{ booking.intender.email }} " readonly >
                            </div>
                        </div>


                        {% for key, value in bills.items %}
                        {% if key == booking.id %}
                        <div class="two fields">
                            <div class="field">
                                <label>Room Bill </label>
                                <input  type="text" value=" {{ value.room_bill }} " readonly >
                            </div>

                            <div class="field">
                                <label>Mess Bill</label>
                                <input  type="text" value=" {{ value.mess_bill }} " readonly >
                            </div>
                        </div>
                        <div class="field">
                            <label>Total Amount</label>
                            <div class="ui input">
                                <input type="text" value=" {{ value.total_bill }} " readonly>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}



                    </div>

                    <div class="ui accordion field">
                        <div class="title">
                            <i class="icon dropdown"></i>
                            View Details
                        </div>

                        <div class="content fields" style="margin: 24px;">
                            <div class="four fields">
                                <!--<div class="field">-->
                                    <!--<label>From</label>-->
                                    <!--<div class="ui input">-->
                                        <!--<input value="From" readonly>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="field">-->
                                    <!--<label>To</label>-->
                                    <!--<div class="ui input">-->
                                        <!--<input value="To" readonly>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="field">-->
                                    <!--<label>Rate</label>-->
                                    <!--<div class="ui input">-->
                                        <!--<input value="&#8377; 100/day" >-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="field">-->
                                    <!--<label>Total</label>-->
                                    <!--<div class="ui input">-->
                                        <!--<input value="Amount" readonly>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>

                            <div class="ui divider"></div>
                            <h1>Visitors Details</h1>

                            <table class="ui sortable very basic celled table">
                                <thead>
                                <tr>
                                    <th>
                                        Visitors
                                    </th>

                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Mobile No
                                    </th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for visitor in booking.visitor.all %}
                                <tr>
                                    <td>
                                        {{ visitor.visitor_name }}
                                    </td>

                                    <td>
                                        {{ visitor.visitor_email }}
                                    </td>

                                    <td>
                                        {{ visitor.visitor_phone }}
                                    </td>

                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                            <h1>Room Details</h1>
                            <div class="ui divider"></div>

                            <table class="ui sortable very basic celled table">
                                <thead>
                                <tr>
                                    <th>
                                        Room Type
                                    </th>

                                    <th>
                                        Room No
                                    </th>
                                    <th>
                                        Floor
                                    </th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for room in booking.rooms.all %}
                                <tr>
                                    <td>

                                        {{ room.room_type }}
                                    </td>

                                    <td>
                                       {{ room.room_number }}
                                    </td>

                                    <td>
                                       {{ room.room_floor }}
                                    </td>
                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>



                        </div>
                    </div>

                    <div class="three fields">
                        <div class="ten wide field"></div>
                        <div class="six wide field">
                            <label><br></label>
                            <div class="ui large green right floated button" onclick="check_out('{{ booking.id }}')">
                                Settle
                            </div>
                        </div>
                        <!-- <div class="two wide field">
                            <label><br></label>
                            <div class="ui large center floated primary button">
                                Print
                            </div>
                        </div> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}

