{% block roomstatus %}
    {% comment %}The tab menu starts here!{% endcomment %}

    <div class="ui active tab" data-tab="roomstatus">
        <div class="ui vertical segment">
                
            <br>
            <br>


                <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <!-- <tr>Ground Floor</tr> -->
                </thead>


                <tbody>
                    <tr>
                            <td>
                                {% if 'G01' not in available_rooms %}
                                <div class="ui red tiny label">G01</div>
                                {% else %}
                                <div class="ui green tiny label">G01</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G02' not in available_rooms %}
                                <div class="ui red tiny label">G02</div>
                                {% else %}
                                <div class="ui green tiny label">G02</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G03' not in available_rooms %}
                                <div class="ui red tiny label">G03</div>
                                {% else %}
                                <div class="ui green tiny label">G03</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G04' not in available_rooms %}
                                <div class="ui red tiny label">G04</div>
                                {% else %}
                                <div class="ui green tiny label">G04</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G05' not in available_rooms %}
                                <div class="ui red tiny label">G05</div>
                                {% else %}
                                <div class="ui green tiny label">G05</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G06' not in available_rooms %}
                                <div class="ui red tiny label">G06</div>
                                {% else %}
                                <div class="ui green tiny label">G06</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G07' not in available_rooms %}
                                <div class="ui red tiny label">G07</div>
                                {% else %}
                                <div class="ui green tiny label">G07</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G08' not in available_rooms %}
                                <div class="ui red tiny label">G08</div>
                                {% else %}
                                <div class="ui green tiny label">G08</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G09' not in available_rooms %}
                                <div class="ui red tiny label">G09</div>
                                {% else %}
                                <div class="ui green tiny label">G09</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'G10' not in available_rooms %}
                                <div class="ui red tiny label">G10</div>
                                {% else %}
                                <div class="ui green tiny label">G10</div>
                                {% endif %}
                            </td>
                   
                            <td>
                                <font color="white">aaaaa</font>
                                <!-- {% if 'G11' not in available_rooms %}
                                <div class="ui red tiny label">G11</div>
                                {% else %}
                                <div class="ui green tiny label">G11</div>
                                {% endif %} -->
                            </td>
                            <td>
                                <font color="white">aaaaa</font>
                                <!-- {% if 'G12' not in available_rooms %}
                                <div class="ui red tiny label">G12</div>
                                {% else %}
                                <div class="ui green tiny label">G12</div>
                                {% endif %} -->
                            </td>
                    </tr>
                    
                </tbody>  
            </table>

            <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <!-- <tr>First Floor</tr> -->
                </thead>


                <tbody>
                    <tr>
                            <td>
                                {% if 'F01' not in available_rooms %}
                                <div class="ui red tiny label">F01</div>
                                {% else %}
                                <div class="ui green tiny label">F01</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F02' not in available_rooms %}
                                <div class="ui red tiny label">F02</div>
                                {% else %}
                                <div class="ui green tiny label">F02</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F03' not in available_rooms %}
                                <div class="ui red tiny label">F03</div>
                                {% else %}
                                <div class="ui green tiny label">F03</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F04' not in available_rooms %}
                                <div class="ui red tiny label">F04</div>
                                {% else %}
                                <div class="ui green tiny label">F04</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F05' not in available_rooms %}
                                <div class="ui red tiny label">F05</div>
                                {% else %}
                                <div class="ui green tiny label">F05</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F06' not in available_rooms %}
                                <div class="ui red tiny label">F06</div>
                                {% else %}
                                <div class="ui green tiny label">F06</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F07' not in available_rooms %}
                                <div class="ui red tiny label">F07</div>
                                {% else %}
                                <div class="ui green tiny label">F07</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F08' not in available_rooms %}
                                <div class="ui red tiny label">F08</div>
                                {% else %}
                                <div class="ui green tiny label">F08</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F09' not in available_rooms %}
                                <div class="ui red tiny label">F09</div>
                                {% else %}
                                <div class="ui green tiny label">F09</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F10' not in available_rooms %}
                                <div class="ui red tiny label">F10</div>
                                {% else %}
                                <div class="ui green tiny label">F10</div>
                                {% endif %}
                            </td>
                   
                            <td>
                                {% if 'F11' not in available_rooms %}
                                <div class="ui red tiny label">F11</div>
                                {% else %}
                                <div class="ui green tiny label">F11</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'F12' not in available_rooms %}
                                <div class="ui red tiny label">F12</div>
                                {% else %}
                                <div class="ui green tiny label">F12</div>
                                {% endif %}
                            </td>
                    </tr>
                    
                </tbody>  
            </table>

            <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <!-- <tr>Second Floor</tr> -->
                </thead>


                <tbody>
                    <tr>
                            <td>
                                {% if 'S01' not in available_rooms %}
                                <div class="ui red tiny label">S01</div>
                                {% else %}
                                <div class="ui green tiny label">S01</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'S02' not in available_rooms %}
                                <div class="ui red tiny label">S02</div>
                                {% else %}
                                <div class="ui green tiny label">S02</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'S03' not in available_rooms %}
                                <div class="ui red tiny label">S03</div>
                                {% else %}
                                <div class="ui green tiny label">S03</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'S04' not in available_rooms %}
                                <div class="ui red tiny label">S04</div>
                                {% else %}
                                <div class="ui green tiny label">S04</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'S05' not in available_rooms %}
                                <div class="ui red tiny label">S05</div>
                                {% else %}
                                <div class="ui green tiny label">S05</div>
                                {% endif %}
                            </td>
                            <td>
                                &nbsp;
                                <!-- <font color="white">aaaa</font> -->
                                {% if 'S06' not in available_rooms %}
                                <div class="ui red tiny label">S06</div>
                                {% else %}
                                <div class="ui green tiny label">S06</div>
                                {% endif %}
                            </td>
                            <td>
                                <!-- &nbsp; -->
                                <font color="white">aaaa</font>
                                <!-- {% if 'S7' not in available_rooms %}
                                <div class="ui red tiny label">S7</div>
                                {% else %}
                                <div class="ui green tiny label">S7</div>
                                {% endif %} -->
                            </td>
                            <td>
                                <!-- &nbsp; -->
                                <font color="white">aaaa</font>
                                <!-- {% if 'S8' not in available_rooms %}
                                <div class="ui red tiny label">S8</div>
                                {% else %}
                                <div class="ui green tiny label">S8</div>
                                {% endif %} -->
                            </td>
                            <td>
                                <!-- &nbsp; -->
                                <font color="white">aaaa</font>
                                <!-- {% if 'S9' not in available_rooms %}
                                <div class="ui red tiny label">S9</div>
                                {% else %}
                                <div class="ui green tiny label">S9</div>
                                {% endif %} -->
                            </td>
                            <td>
                                <!-- &nbsp; -->
                                <font color="white">aaaa</font>
                                <!-- {% if 'S10' not in available_rooms %}
                                <div class="ui red tiny label">S10</div>
                                {% else %}
                                <div class="ui green tiny label">S10</div>
                                {% endif %} -->
                            </td>
                   
                            <td>
                                <!-- &nbsp; -->
                                <font color="white">aaaaa</font>

                                <!-- {% if 'S11' not in available_rooms %}
                                <div class="ui red tiny label">S11</div>
                                {% else %}
                                <div class="ui green tiny label">S11</div>
                                {% endif %} -->
                            </td>
                            <td>
                                <!-- &nbsp; -->
                                <font color="white">aaaaa</font>
                                <!-- {% if 'S12' not in available_rooms %}
                                <div class="ui red tiny label">S12</div>
                                {% else %}
                                <div class="ui green tiny label">S12</div>
                                {% endif %} -->
                            </td>
                    </tr>
                    
                </tbody>  
            </table>

            <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <!-- <tr>Third Floor</tr> -->
                </thead>


                <tbody>
                    <tr>
                            <td>
                                {% if 'T01' not in available_rooms %}
                                <div class="ui red tiny label">T01</div>
                                {% else %}
                                <div class="ui green tiny label">T01</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'T02' not in available_rooms %}
                                <div class="ui red tiny label">T02</div>
                                {% else %}
                                <div class="ui green tiny label">T02</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'T03' not in available_rooms %}
                                <div class="ui red tiny label">T03</div>
                                {% else %}
                                <div class="ui green tiny label">T03</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'T04' not in available_rooms %}
                                <div class="ui red tiny label">T04</div>
                                {% else %}
                                <div class="ui green tiny label">T04</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'T05' not in available_rooms %}
                                <div class="ui red tiny label">T05</div>
                                {% else %}
                                <div class="ui green tiny label">T05</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'T06' not in available_rooms %}
                                <div class="ui red tiny label">T06</div>
                                {% else %}
                                <div class="ui green tiny label">T06</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'T07' not in available_rooms %}
                                <div class="ui red tiny label">T07</div>
                                {% else %}
                                <div class="ui green tiny label">T07</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'T08' not in available_rooms %}
                                <div class="ui red tiny label">T08</div>
                                {% else %}
                                <div class="ui green tiny label">T08</div>
                                {% endif %}
                            </td>
                            <td>
                                <font color="white">aaaa</font>

                                <!-- {% if 'T9' not in available_rooms %}
                                <div class="ui red tiny label">T9</div>
                                {% else %}
                                <div class="ui green tiny label">T9</div>
                                {% endif %} -->
                            </td>
                            <td>
                                <font color="white">aaaaa</font>

                               <!--  {% if 'T10' not in available_rooms %}
                                <div class="ui red tiny label">T10</div>
                                {% else %}
                                <div class="ui green tiny label">T10</div>
                                {% endif %} -->
                            </td>
                   
                            <td>
                                <font color="white">aaaaa</font>

                               <!--  {% if 'T11' not in available_rooms %}
                                <div class="ui red tiny label">T11</div>
                                {% else %}
                                <div class="ui green tiny label">T11</div>
                                {% endif %} -->
                            </td>
                            <td>
                                <font color="white">aaaaa</font>
                                <!-- {% if 'T12' not in available_rooms %}
                                <div class="ui red tiny label">T12</div>
                                {% else %}
                                <div class="ui green tiny label">T12</div>
                                {% endif %} -->
                            </td>
                    </tr>
                    
                </tbody>  
            </table>
            <b> Number of Available Rooms: {{ available_rooms|length }}</b>

           <!--  <table class="ui structured celled sortable table" style="margin-bottom: 16px;">
                <thead>
                <tr>

                    <th rowspan="2">Room Number</th>
                    <th rowspan="2">Floor</th>

                </tr>
                </thead>

                <tbody>
                    {% for room in available_rooms %}
                    <tr>
                        <td>
                            {{ room }}
                        </td>
                        <td>
                            {{ room.room_floor }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> -->
            <br>
            <br>
        </div>
    </div>
{% endblock %}

