{% block roomstatus %}
    {% comment %}The tab menu starts here!{% endcomment %}

    <div class="ui active tab" data-tab="roomstatus">
        <div class="ui vertical segment">
            <div class="field">
                <label>Number of Available Rooms</label>
                <div class="ui fluid input">
                    <input type="text" value="{{ available_rooms|length }}">
                </div>
            </div>
            <br>

        {% for room in available_rooms %}
                <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <tr>Ground Floor</tr>
                </thead>


                <tbody>
                    <tr>
                            <td>
                                <div class="ui label" id="G1">G1</div>
                            </td>
                            <td>
                                <div class="ui label" id="G2">G2</div>
                            </td>
                            <td>
                                <div class="ui label" id="G3">G3</div>
                            </td>
                            <td>
                                <div class="ui label" id="G4">G4</div>
                            </td>
                            <td>
                                <div class="ui label" id="G5">G5</div>
                            </td>
                            <td>
                                <div class="ui label" id="G6">G6</div>
                            </td>
                            <td>
                                <div class="ui label" id="G7">G7</div>
                            </td>
                            <td>
                                <div class="ui label" id="G8">G8</div>
                            </td>
                            <td>
                                <div class="ui label" id="G9">G9</div>
                            </td>
                            <td>
                                <div class="ui label" id="G10">G10</div>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <div class="ui label" id="G11">G11</div>
                            </td>
                            <td>
                                <div class="ui label" id="G12">G12</div>
                            </td>
                    </tr>
                    
                </tbody>  
            </table>

            <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <tr>First Floor</tr>
                </thead>


                <tbody>
                    <tr>
                            <td>
                                <div class="ui label" id="F1">F1</div>
                            </td>
                            <td>
                                <div class="ui label" id="F2">F2</div>
                            </td>
                            <td>
                                <div class="ui label" id="F3">F3</div>
                            </td>
                            <td>
                                <div class="ui label" id="F4">F4</div>
                            </td>
                            <td>
                                <div class="ui label" id="F5">F5</div>
                            </td>
                            <td>
                                <div class="ui label" id="F6">F6</div>
                            </td>
                            <td>
                                <div class="ui label" id="F7">F7</div>
                            </td>
                            <td>
                                <div class="ui label" id="F8">F8</div>
                            </td>
                            <td>
                                <div class="ui label" id="F9">F9</div>
                            </td>
                            <td>
                                <div class="ui label" id="F10">F10</div>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <div class="ui label" id="F11">F11</div>
                            </td>
                            <td>
                                <div class="ui label" id="F12">F12</div>
                            </td>
                    </tr>
                    
                </tbody>  
            </table>

            <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <tr>Second Floor</tr>
                </thead>


                <tbody>
                    <tr>
                            <td>
                                <div class="ui label">S1</div>
                            </td>
                            <td>
                                <div class="ui label">S2</div>
                            </td>
                            <td>
                                <div class="ui label">S3</div>
                            </td>
                            <td>
                                <div class="ui label">S4</div>
                            </td>
                            <td>
                                <div class="ui label">S5</div>
                            </td>
                            <td>
                                <div class="ui label">S6</div>
                            </td>
                            <td>
                                <div class="ui label">S7</div>
                            </td>
                            <td>
                                <div class="ui label">S8</div>
                            </td>
                            <td>
                                <div class="ui label">S9</div>
                            </td>
                            <td>
                                <div class="ui label">S10</div>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <div class="ui label">S11</div>
                            </td>
                            <td>
                                <div class="ui label">S12</div>
                            </td>
                    </tr>
                    
                </tbody>  
            </table>

            <table class="ui table" style="margin-bottom: 16px;">
                <thead>
                <tr>Third Floor</tr>
                </thead>


                <tbody>
                    <tr>
                            <td>
                                <div class="ui label">T1</div>
                            </td>
                            <td>
                                <div class="ui label">T2</div>
                            </td>
                            <td>
                                <div class="ui label">T3</div>
                            </td>
                            <td>
                                <div class="ui label">T4</div>
                            </td>
                            <td>
                                <div class="ui label">T5</div>
                            </td>
                            <td>
                                <div class="ui label">T6</div>
                            </td>
                            <td>
                                <div class="ui label">T7</div>
                            </td>
                            <td>
                                <div class="ui label">T8</div>
                            </td>
                            <td>
                                <div class="ui label">T9</div>
                            </td>
                            <td>
                                <div class="ui label">T10</div>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <div class="ui label">T11</div>
                            </td>
                            <td>
                                <div class="ui label">T12</div>
                            </td>
                    </tr>
                    
                </tbody>  
            </table>

            {% endfor %}


            <table class="ui structured celled sortable table" style="margin-bottom: 16px;">
                <thead>
                <tr>

                    <th rowspan="2">Room Number</th>
                    <th rowspan="2">Floor</th>

                </tr>
                </thead>

                <tbody>
                    {% for room in available_rooms %}
                    <tr>
                        <td>
                            {{ room }}
                        </td>
                        <td>
                            {{ room.room_floor }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>
{% endblock %}

