{% block poll_status %}


<!-- modal for confirmation  -->
<div class="ui basic modal poll">
  <div class="ui icon header" id='poll_title'>
    <i class="archive icon"></i>

  </div>
  <div class="content" id='poll_content'>
    <p>Are You sure You want to delete the poll</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button" onclick="delete_poll()">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>

<!-- modal for confirmation ends here -->


<div class="ui tab" data-tab="status">
  <div class="ui styled fluid accordion">
    {% for poll in voting_polls %}
    <div class="title">
      <div class="ui grid" style="display: flex; align-items: center;">
        <div class="twelve wide column"><i class="dropdown icon"></i>
          {{poll.title}}</div>
        <div class="four wide column">
          <button class="ui secondary button" onclick="confirm('{{poll.title}}','{{poll.id}}')">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="content">
      {% for choice in poll.choices %}
      <div class="ui grid" style="box-shadow: 0 0 6.3px 0 rgb(230, 230, 230); margin: 5px;">
        <div class="fourteen wide column">{{choice.title}}</div>
        <div class="two wide column" style="background-color: rgb(230, 230, 230); text-align: center;">
          {{choice.votes}}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<script>
  var pollId;
  const confirm = (poll_title, poll_id) => {
    document.getElementById('poll_title').innerHTML = poll_title;
    document.getElementById('poll_content').innerHTML = 'Are You sure You want to delete the poll';
    $('.ui.basic.modal.poll')
      .modal('show')
      ;
    pollId = poll_id;
  }


  const delete_poll = () => {
    console.log("delete")
    $.ajax({
      url: `/gymkhana/delete_poll/${pollId}/`,
      type: "GET",
      success: function () {
        window.location.href = "/gymkhana/";
      }
    })
  }

</script>
{% endblock poll_status %}