{% load static %}
{% block generateSheet %}

<div class="ui pointing secondary menu">
    <a class="active item" data-tab="this">
        This Semester
    </a>
    <a class="item" data-tab="next">
       Next Semester
    </a>
    <a class="item" data-tab="prereg">
        Pre Registration Report
    </a>
</div>

<div class="ui active tab segment" data-tab="this">
    <form class="ui form" action="/aims/generateSheet" method="post" id="form8_8">
        {% csrf_token %}
        <div class="field">
            <label>Batch</label>
            <input type="number" name="batch" required>
        </div>
        <div class="field">
            <label>This Semester Courses</label>
            <select name="course" required>
                {% for i in this_sem_course %}
                <option value="{{ i.course_id }}">{{i.course_code}} - {{i.course_id}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="field">
            <button class="ui fluid primary button" type="submit">Generate
                Enrolled Student Excel Sheet
            </button>
        </div>
    </form>
</div>



<div class="ui tab segment" data-tab="next">
    <form class="ui form" action="/aims/generateSheet" method="post" id="form9_9">
        {% csrf_token %}
        <div class="field">
            <label>Batch</label>
            <input type="number" name="batch" required>
        </div>
        <div class="field">
            <label>Next Semester Courses</label>
            <select name="course_next" required>
                {% for i in next_sem_course %}
                <option value="{{ i.course_id }}">{{i.course_code}} - {{i.course_id}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="field">
            <button class="ui fluid primary button" type="submit">Generate
                Enrolled Student Excel Sheet
            </button>
        </div>
    </form>
</div>

<div class="ui tab segment" data-tab="prereg">
    <form class="ui form" action="/aims/generate_preregistration_report" method="post" id="form_10">
        {% csrf_token %}
        <div class="field">
            <label>Batch</label>
            <input type="number" name="batch" required>
        </div>
        <div class="field">
            <button class="ui fluid primary button" type="submit">Generate PreRegistration Summary</button>
        </div>
    </form>
    <div style="color:red;"> Warning : This might take a few minutes </div>
</div>
    {% comment %}
</div> {% endcomment %}


{% endblock %}