{% load static %}
{% block  start_elective_allocation %}


{% comment %}The tab menu starts here!{% endcomment %}
<div class="ui pointing secondary menu">
      <a class="active item" data-tab="check-start">
          check/start allocation
      </a>
      <a class="item" data-tab="view-allocation">
          view allocation details
      </a>
  </div>
<div class="ui active tab segmment" data-tab="check-start">
    <div class="ui vertical segment">
        <form class="ui form" method="post" id="allocation-check">
            {% csrf_token %}
            <div class="field">
                <label>Batch</label>
                <input type="text" id="batch-check" name="batch-check" required>
            </div>
            <div class="field">
                <label>Semester</label>
                <input type="text" id="semester-check" name="semester-check" required>
            </div>
            <div class="field">
                <label>year</label>
                <input type="text" id="year-check" name="year-check" required>
            </div>
            <div class="field">
                <button id="check-allocation" class="ui fluid primary button">
                    Check allocation
                </button>
            </div>
            <div>
                <p id="message">
                </p>
            </div>
            <div class="field">
                <button id="start-allocation" class="ui fluid primary button">
                    start allocation
                </button>
            </div>
        </form>

        <div class="ui divider"></div>

    </div>
</div>
<div class="ui tab segment " data-tab="view-allocation">
    <div class="ui vertical segment">
        <form class="ui form" method="post" id="allocation-check"  action="/aims/course_allocated_students">
            {% csrf_token %}
            <div class="field">
                <label>Batch</label>
                <input type="text" id="batch-check-view" name="batch-check-view" required>
            </div>
            <div class="field">
                <label>Semester</label>
                <input type="text" id="semester-check-view" name="semester-check-view" required>
            </div>
            <div class="field">
                <label>year</label>
                <input type="text" id="year-check-view" name="year-check-view" required>
            </div>
            <div class="field">
                <label>Course Code</label>
                <input type="text" id="course-check-view" name="Course-check-view" required>                
            </div>
            <div class="field">
                <button id="allocation-view" class="ui fluid primary button">
                    View allocation
                </button>
            </div>
            <div class="field">
                <button id="download-allocation-view" type="submit" class="ui fluid primary button">
                    download allocation list
                </button>
            </div>
        </form>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>students in course</th>
                    </tr>
                </thead>
                <tbody id="student-list-registration" style="text-align: center;">
                </tbody>
            </table>
        </div>

        <div class="ui divider"></div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
<script type="text/javascript">
    document.getElementById('start-allocation').style.display = 'none';
    $('#check-allocation').click(function(e){
        e.preventDefault();
        $.ajax({
            type:'post',
            url:'/aims/',
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                batch:$("#batch-check").val(),
                sem:$("#semester-check").val(),
                year:$("#year-check").val(),
                check_allocation:1,
            },
            success: function(data){
                if(data.status == 1){
                    console.log("COOL")
                    console.log(data)
                    document.getElementById('message').innerHTML = "";
                    document.getElementById('start-allocation').style.display = 'block';
                }
                else{
                    document.getElementById('message').innerHTML = data.message;
                }    
            }
        })
    })

    $('#start-allocation').click(function(e){
        e.preventDefault();
        document.getElementById('start-allocation').style.display = 'none';
        document.getElementById('check-allocation').style.display = 'none';
        document.getElementById('message').innerHTML = "THIS WILL TAKE SOME TIME CHECK VIEW PAGE AFTER SOME TIME";
        $.ajax({
            type:'post',
            url:'/aims/',
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                batch:$("#batch-check").val(),
                sem:$("#semester-check").val(),
                year:$("#year-check").val(),
                start_allocation:1,
            },
            success: function(data){
                console.log("console",data)
                if(data.status == -1){
                    alert("not enough seats to allocate students")
                }
                else{
                    alert("allocation done")
                }
            }
        })
    })
    $('#allocation-view').click( function(e){
        e.preventDefault();
        console.log('allocation');
        document.getElementById('allocation-view').disabled = true; 
        document.getElementById('student-list-registration').innerHTML="";
        $.ajax({
            type:'post',
            url:'/aims/',
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                batch:$("#batch-check-view").val(),
                sem:$("#semester-check-view").val(),
                year:$("#year-check-view").val(),
                course:$('#course-check-view').val(),
                view_allocation:1,
            },
            success : function(data){
                if(data.student_list.length == 0){
                    $('#student-list-registration').append("<tr><td>No Students Found</td></tr>")
                }
                data.student_list.sort((a, b) => a.student.localeCompare(b.student));
                for(ele in data.student_list){
                    $('#student-list-registration').append("<tr><td>"+data.student_list[ele].student+"</td></tr>")
                }
                document.getElementById('allocation-view').disabled = false;
            }
        })
    })
</script>

{% endblock %}